<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <title>付费客户信息录入</title>
</head>
<style>
    td {
        vertical-align: middle !important;
    }
</style>
<body style="background-color: #f0f5f6;">
<ul class="nav nav-tabs nav-justified" id="myTabs">
    <li role="presentation" class="active"><a href="#info_input" data-toggle="tab">信息录入</a></li>
    <!--<li role="presentation"><a href="#info_show" data-toggle="tab">信息查看</a></li>-->
    <li role="presentation"><a href="#lottery" data-toggle="tab">中奖名单</a></li>
    <li role="presentation"><a href="#pic_create" data-toggle="tab">图片生成</a></li>
    <li role="presentation"><a href="#decode_table" data-toggle="tab">解密</a></li>
</ul>
<div class="tab-content">
    <div id="info_input" class="tab-pane active">
        <div class="container text-center">
            <form name="info_input" id="info_input_form" style="margin: 5%">
                <input name="from" type="text" class="form-control" placeholder="几部">
                <input name="handler" type="text" class="form-control" placeholder="经手人">
                <input name="wx_name" type="text" class="form-control" placeholder="微信名">
                <input name="wx_id" type="text" class="form-control" placeholder="微信号">
                <input name="phone_number" type="text" class="form-control" placeholder="电话号码">
                <input name="payday" type="date" class="form-control" placeholder="日期">

                <div class="input-group">
                    <span class="input-group-addon">付款类型</span>
                    <select name="pay_type" class="form-control">
                        <option value="月费">月费</option>
                        <option value="季费">季费</option>
                        <option value="半年费">半年费</option>
                        <option value="年费">年费</option>
                    </select>
                </div>
                <input name="money" type="number" class="form-control" placeholder="金额">
                <button id="info_input_submit" type="button" class="btn btn-default pull-right" style="margin-top: 1%">
                    确定
                </button>
            </form>
            <div id="sum_money" style="margin-bottom: 2%">
                <label for="sum_money_start_time">
                    起始时间
                </label>
                <input id="sum_money_start_time" class="form-control" type="date" style="width: 30%;display: inline">
                <label for="sum_money_end_time">
                    终止时间
                </label>
                <input id="sum_money_end_time" class="form-control" type="date" style="width: 30%;display: inline">
                <button id="sum_money_submit" class="btn btn-default">计费</button>
                <p id="sum_money_result"></p>
            </div>
            <div class="input-group">
                <span class="input-group-addon">来源</span>
                <select name="from_search" id="from_search" class="form-control">
                    <option value="全部">全部</option>
                    <option value="一部">一部</option>
                    <option value="三部">三部</option>
                    <option value="五部">五部</option>
                    <option value="六部">六部</option>
                    <option value="八部">八部</option>
                    <option value="东北">东北</option>
                    <option value="南方">南方</option>
                    <option value="京津冀">京津冀</option>
                    <option value="客服">客服</option>
                </select>
                <span class="input-group-addon">经手人</span>
                <select name="handler_search" id="handler_search" class="form-control">
                    <option value="全部">全部</option>
                    <option value="江">江</option>
                    <option value="高磊">高磊</option>
                    <option value="耿帅">耿帅</option>
                    <option value="张旭">张旭</option>
                    <option value="孟文平">孟文平</option>
                    <option value="孟莉莉">孟莉莉</option>
                    <option value="孙丹丹">孙丹丹</option>
                </select>
            </div>
            <button id="info_search" class="btn btn-default text-center" type="button">刷新</button>
            <div id="user_add_content">
                <table style="width: 100%;table-layout: fixed;margin: auto" class="table table-condensed table-bordered">
                    <thead id="info_table_head">
                    <tr>
                        <th class="text-center" style="width: 3.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>序号
                        </th>
                        <th class="text-center" style="width: 3.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>来源
                        </th>
                        <th class="text-center" style="width: 4.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>经办人
                        </th>
                        <th class="text-center" style="width: 7.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>微信名
                        </th>
                        <th class="text-center" style="width: 10.5em;"><span class="glyphicon"
                                                                             style="color: red;"></span>微信号
                        </th>
                        <th class="text-center" style="width: 7.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>电话
                        </th>
                        <th class="text-center" style="width: 7.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>付款时间
                        </th>
                        <th class="text-center" style="width: 5.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>付款类型
                        </th>
                        <th class="text-center" style="width: 4.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>实付款
                        </th>
                        <th class="text-center" style="width: 7.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>到期时间
                        </th>
                        <th class="text-center" style="width: 3.5em;"><span class="glyphicon"
                                                                            style="color: red;"></span>失效
                        </th>
                        <th class="text-center" style="width: 10.5em;"><span class="glyphicon"
                                                                             style="color: red;"></span>操作
                        </th>
                    </tr>
                    </thead>
                    <tbody id="info_insert">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="lottery" class="tab-pane">
        <div class="container">
            <button class="btn btn-default text-center" id="lottery_query">查询</button>
            <div id="lottery_content">
                <table style="width: 100%" class="table table-striped">
                    <thead>
                    <th>用户微信名</th>
                    <th>经手人</th>
                    <th>电话号码</th>
                    <th>中奖名</th>
                    <th>时间</th>
                    </thead>
                    <tbody id="lottery_insert">
                    </tbody>
                </table>
            </div>
        </div>
        <!--<button onclick="location.href='view-source:http://www.baidu.com';">ViewSource</button>-->
        <!--<input type="button" value="查看源文件" onclick= 'window.location.href = "view-source: http://hyfw.95306.cn/Hywsyyt/home/yfcx?fzhzzm=%E9%98%BF%E5%9F%8E&dzhzzm=%E9%9E%8D%E5%B1%B1&fz=ACB&fzljm=00001&dz=ADX&dzljm=00001&pm=1570004&fsmbj=0&dsmbj=0&fzcbj=1&dzcbj=1&fsmzxbj=0&dsmzxbj=0&hwpm=%E7%B2%89%E7%85%A4" '>-->
    </div>
    <div id="pic_create" class="tab-pane">
        <div class="container text-center">
            <input name="phone_number" id="pic_seed" style="margin-top: 3em" class="form-control" type="text" placeholder="手机号">
            <button class="btn btn-success text-center" id="pic_mix" style="margin-top: 1em">合成图片</button>
            <!--<button class="btn btn-default text-center" id="canvas_to_img" style="margin-top: 1em">生成图片</button>-->
        </div>
        <div class="text-center" style="margin-top: 1em;display: none">
            <canvas id="pic_canvas" width="780" height="1704"></canvas>
        </div>
        <div class="copy text-center" style="margin-top: 1em;"></div>

        <!--<button onclick="location.href='view-source:http://www.baidu.com';">ViewSource</button>-->
        <!--<input type="button" value="查看源文件" onclick= 'window.location.href = "view-source: http://hyfw.95306.cn/Hywsyyt/home/yfcx?fzhzzm=%E9%98%BF%E5%9F%8E&dzhzzm=%E9%9E%8D%E5%B1%B1&fz=ACB&fzljm=00001&dz=ADX&dzljm=00001&pm=1570004&fsmbj=0&dsmbj=0&fzcbj=1&dzcbj=1&fsmzxbj=0&dsmzxbj=0&hwpm=%E7%B2%89%E7%85%A4" '>-->
    </div>
    <div id="decode_table" class="tab-pane">
        <div class="container text-center">
            <input name="invite_code" id="invite_code" style="margin-top: 3em" class="form-control" type="text" placeholder="邀请码">
            <button class="btn btn-default text-center" id="decode" style="margin-top: 1em">解密</button>
            <p id="decode_phone_number" style="margin-top: 1em;font-size: 2em"></p>
        </div>
        <!--<button onclick="location.href='view-source:http://www.baidu.com';">ViewSource</button>-->
        <!--<input type="button" value="查看源文件" onclick= 'window.location.href = "view-source: http://hyfw.95306.cn/Hywsyyt/home/yfcx?fzhzzm=%E9%98%BF%E5%9F%8E&dzhzzm=%E9%9E%8D%E5%B1%B1&fz=ACB&fzljm=00001&dz=ADX&dzljm=00001&pm=1570004&fsmbj=0&dsmbj=0&fzcbj=1&dzcbj=1&fsmzxbj=0&dsmzxbj=0&hwpm=%E7%B2%89%E7%85%A4" '>-->
    </div>
</div>
</body>
<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<!--信息提交-->
<script>
    $('#info_input_submit').click(function () {
        //提交完保存几部和经手人
        var from = $('input[name=from]').val();
        var handler = $('input[name=handler]').val();
        var subData = $('#info_input_form').serialize();
        var phone_number = $('input[name=phone_number]').val();
        var time = $('input[name=payday]').val();
        if(!phone_number || !time){
            alert('输入有错误！');
            return false;
        }
        var url = "{:U('PayingClientManagement/infoInputAction')}";
        $.ajax({
            type: "post",
            url: url,
            data: subData,
            success: function (data) {
                if (data) {
                    alert('成功');
                    $('#info_input_form')[0].reset();
                    $('input[name=from]').val(from);
                    $('input[name=handler]').val(handler);
                } else {
                    alert('失败');
                }
            }
        });
    })
</script>
<!--信息查询-->
<script>
    $('#info_search').click(function () {
        var from = $('#from_search').val();
        var handler = $('#handler_search').val();
        var url = "{:U('PayingClientManagement/infoShowAction')}";
        $.ajax({
            type: "post",
            url: url,
            data: {
                isAjax: 1,
                from: from,
                handler: handler
            },
            success: function (data) {
                $('#info_insert').html('');
//                return false;
                var jsonObj = eval("(" + data + ")");
                //赋值数据
                if($('.count').length != 0){
                    $('.count')[0].outerHTML = '';
                }
                var $countClient = "<div class='count'>过期人数:"+jsonObj['count']['invalid']+"有效人数:"+jsonObj['count']['valid']+"</div>";
                $('#info_search').after($countClient);
                $.each(jsonObj['data'], function (k, val) {
                    var $tr = "";
                    //计算过期时间并标红
                    var time_to_check = time_to_timestamp(val.out_of_service_time);
                    var time_now = new Date();
                    if (val.invalid_id == 2) {
                        $tr = "<tr style='background-color: #d1aeae'>";
                    } else if ((time_to_check * 1000 < time_now.getTime()) && (val.invalid_id == 99)) {
                        $tr = "<tr style='background-color: pink'>";
                    } else if (time_to_check * 1000 < time_now.getTime()) {
                        overdue(val.id);
                        val.invalid_id = 99;
                        $tr = "<tr style='background-color: pink'>";
                    } else if ( (time_to_check * 1000 - time_now.getTime() < 3600 * 24 * 3 * 1000) && (val.invalid_id == 0)) {
                        $tr = "<tr style='background-color: orange'>";
                    } else if ( (time_to_check * 1000 > time_now.getTime()) && (val.invalid_id == 99)){
                        refill(val.id);
                        val.invalid_id = 0;
                        if((time_to_check * 1000 - time_now.getTime() < 3600 * 24 * 3 * 1000)){
                            $tr = "<tr style='background-color: orange'>";
                        }else{
                            $tr = "<tr>";
                        }
                    }
                    else {
                        $tr = "<tr>";
                    }
                    $tr += '<td>' + val.id + '</td>'
                            + '<td>' + val.from + '</td>'
                            + '<td>' + val.handler + '</td>'
                            + '<td>' + val.wx_name + '</td>'
                            + '<td>' + val.wx_id + '</td>'
                            + '<td>' + val.phone_number + '</td>'
                            + '<td>' + val.payday + '</td>'
                            + '<td>' + val.pay_type + '</td>'
                            + '<td>' + val.money + '</td>'
                            + '<td>' + val.out_of_service_time + '</td>'
                            + '<td>' + val.invalid_id + '</td>'
//                            + '<td><a class="modify btn btn-sm btn-default">修改</a><a class="delete btn btn-sm btn-default">删除</a><a class="recovery btn btn-sm btn-default">恢复</a></td>';
                            + '<td><a class="modify btn btn-sm btn-default">修改</a><a class="record btn btn-sm btn-default">历史</a></td>';
                    $tr += "</tr>";
                    $('#info_insert').prepend($tr);
//                    $('#info_insert').append(li);
                });
            }
        })
    })
</script>
<!--消息置为过期消息-->
<script>
    function overdue(info_id) {
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/infoModifyAction')}",
            data: {
                modify_flag: 99,
                info_id: info_id
            },
            success: function (data) {
            },
            error: function () {
            }
        });
    }
</script>
<!--消息置为有效消息-->
<script>
    function refill(info_id) {
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/infoModifyAction')}",
            data: {
                modify_flag: 1,
                info_id: info_id
            },
            success: function (data) {
            },
            error: function () {
            }
        });
    }
</script>
<!--修改消息-->
<script>
    $('body').on("dblclick", "td", function () {
        var $this = $(this);
        if($this.find('a').length > 0){
            return false;
        }
        console.log($this,$this[0],$this[0].innerHTML,$this[0].innerText);
        if($this.find('input').length > 0){

        }else{
            $this.html("<input type='text' value="+$this.text()+">");
        }
    });
    $('body').on("click", ".modify", function () {
        var $this = $(this);
        var $tds = $this.parent('td').parent('tr').children('td');
//        var info_id = $this.parent('td').parent('tr').children('td').eq(0).html();
        var info_id = $tds.eq(0).find('input').length ? $tds.eq(0).find('input').val():$tds.eq(0).html();
        var info_from = $tds.eq(1).find('input').length ? $tds.eq(1).find('input').val():$tds.eq(1).html();
        var info_handler = $tds.eq(2).find('input').length ? $tds.eq(2).find('input').val():$tds.eq(2).html();
        var info_wx_name = $tds.eq(3).find('input').length ? $tds.eq(3).find('input').val():$tds.eq(3).html();
        var info_wx_id = $tds.eq(4).find('input').length ? $tds.eq(4).find('input').val():$tds.eq(4).html();
        var info_phone_number = $tds.eq(5).find('input').length ? $tds.eq(5).find('input').val():$tds.eq(5).html();
        var info_payday = $tds.eq(6).find('input').length ? $tds.eq(6).find('input').val():$tds.eq(6).html();
        var info_pay_type = $tds.eq(7).find('input').length ? $tds.eq(7).find('input').val():$tds.eq(7).html();
        var info_money = $tds.eq(8).find('input').length ? $tds.eq(8).find('input').val():$tds.eq(8).html();
        var info_out_of_service_time = $tds.eq(9).find('input').length ? $tds.eq(9).find('input').val():$tds.eq(9).html();
        var info_invalid_id = $tds.eq(10).find('input').length ? $tds.eq(10).find('input').val():$tds.eq(10).html();
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/infoContentModifyAction')}",
            data: {
                info_id: info_id,
                info_from: info_from,
                info_handler: info_handler,
                info_wx_name: info_wx_name,
                info_wx_id: info_wx_id,
                info_phone_number: info_phone_number,
                info_payday: info_payday,
                info_pay_type: info_pay_type,
                info_money: info_money,
                info_out_of_service_time: info_out_of_service_time,
                info_invalid_id: info_invalid_id
            },
            success: function (data) {
                var jsonObj = eval("(" + data + ")");
                alert(jsonObj.msg);
                if(jsonObj.status == 2){
                }
//                $this.parent('td').parent('tr').addClass('danger');
                $('#info_search').click();
            },
            error: function () {

            }
        });
    })
</script>
<!--历史消息-->
<script>
    $('body').on("click", ".record", function () {
        var $this = $(this);
        var $parentTr = $this.parent('td').parent('tr');
        if($parentTr.next().hasClass('history')){
            while ($parentTr.next().hasClass('history')){
                var $temp = $parentTr.next();
                $temp.prop('outerHTML','');
            }
            return false;
        }

        var info_phone_number = $this.parent('td').parent('tr').children('td').eq(5).html();
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/payingRecord')}",
            data: {
                info_phone_number: info_phone_number
            },
            success: function (data) {
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                if(jsonObj.msg == 1){
                    var $recordString = '';
                    $.each(jsonObj['data'], function (k, val) {
                        if(k == 0){
                        }else{
                            $recordString += "<tr class='history' style='background-color: green;color: white'><td style='width: 3.5em'>" + val.id + "</td>"
                                    + "<td style='width: 3.5em'>" + val.from + "</td>"
                                    + "<td style='width: 4.5em'>" + val.handler + "</td>"
                                    + "<td style='width: 7.5em'>" + val.wx_name + "</td>"
                                    + "<td style='width: 10.5em'>" + val.wx_id + "</td>"
                                    + "<td style='width: 7.5em'>" + val.phone_number + "</td>"
                                    + "<td style='width: 7.5em'>" + val.payday + "</td>"
                                    + "<td style='width: 5.5em'>" + val.pay_type + "</td>"
                                    + "<td style='width: 4.5em'>" + val.money + "</td>"
                                    + "<td style='width: 7.5em'>" + val.out_of_service_time + "</td>"
                                    + "<td style='width: 3.5em'>" + val.invalid_id +"</td>";
                            $recordString += "</tr>";
                        }
                    });
                    $this.parent('td').parent('tr').after($recordString);
                }
            },
            error: function () {

            }
        });
    })
</script>
<!--删除消息-->
<script>
    $('body').on("click", ".delete", function () {
        var $this = $(this);
        var info_id = $this.parent('td').parent('tr').children('td').eq(0).html();
        console.log(info_id);
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/infoModifyAction')}",
            data: {
                modify_flag: 2,
                info_id: info_id
            },
            success: function (data) {
                var jsonObj = eval("(" + data + ")");
                alert(jsonObj.msg);
//                $this.parent('td').parent('tr').addClass('danger');
                $('#info_search').click();
            },
            error: function () {

            }
        });
    })
</script>
<!--恢复消息-->
<script>
    $('body').on("click", ".recovery", function () {
        console.log($(this));
        var info_id = $(this).parent('td').parent('tr').children('td').eq(0).html();
        console.log(info_id);
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/infoModifyAction')}",
            data: {
                modify_flag: 1,
                info_id: info_id
            },
            success: function (data) {
                var jsonObj = eval("(" + data + ")");
                alert(jsonObj.msg);
//                $(this).parent('td').parent('tr').removeClass('danger');
                $('#info_search').click();
            },
            error: function () {
            }
        });
    })
</script>
<!--表格排序-->
<script>
    //绑定排序按钮
    var th = $('#info_table_head').children('tr').children('th');
    th.click(function () {
        console.log($(this).index());
        var th_index = $(this).index();
        var sortBy = '';
        if (th_index != 0 && th_index != 8 && th_index != 10) {
            sortBy = 'chinese';
        } else {
            sortBy = 'number';
        }
        var sortAsc = '';
//        if ($(this).children('span').hasClass('open')) {
//            sortAsc = 1;
//            $(this).children('span').removeClass('open');
//        } else {
//            sortAsc = 0;
//            $(this).children('span').addClass('open');
//        }
        if ($(this).children('span').hasClass('glyphicon-arrow-up')) {
            sortAsc = 1;
            $(this).children('span').removeClass('glyphicon-arrow-up');
            $(this).children('span').addClass('glyphicon-arrow-down');
            $(this).siblings().children('span').removeClass('glyphicon-arrow-down');
            $(this).siblings().children('span').removeClass('glyphicon-arrow-up');
        } else {
            sortAsc = 0;
            $(this).children('span').removeClass('glyphicon-arrow-down');
            $(this).children('span').addClass('glyphicon-arrow-up');
            $(this).siblings().children('span').removeClass('glyphicon-arrow-down');
            $(this).siblings().children('span').removeClass('glyphicon-arrow-up');
        }
        tableSort(th_index, sortBy, sortAsc);
        refreshTable();
    });
    function tableSort(sortKind, sortBy, sortAsc) {
//    var reverse= arguments[2]?arguments[2]:0;
//    var table = document.getElementById('detail_table');
        var table = $('tbody')[0];
        var row_len = table.rows.length;
        var cel_len = table.rows[0].cells.length;
        var arrs = [];
        for (var r = 0; r < row_len; r++) {
            arrs[r] = [];
            for (var c = 0; c < cel_len; c++) {
                arrs[r][c] = {};//二维数组里再创建一个对象;
                arrs[r][c].html = table.rows[r].cells[c].innerHTML;//取表格HTML放进一个关联数组里面，用于排序后显示在页面上;
                var text = table.rows[r].cells[c].innerText;//取得表格的文字内容用于下面的判断;
                //检测可能出现的内容如果不是正常的数据就变成负数，排在最后面;
                arrs[r][c].text = table.rows[r].cells[c].innerText;//取表格文字内容放进一个关联数组里面。用于下面的sort做排序。
            }
        }
        if (!sortAsc) {
            if (sortBy == 'chinese') {
                arrs.sort(function (x, y) {
                    return x[sortKind]['text'].localeCompare(y[sortKind]['text']);
                });
            } else if (sortBy == 'number') {
                arrs.sort(function (x, y) {
                    return x[sortKind]['text'] - (y[sortKind]['text']);
                });
            }
        } else {
            if (sortBy == 'chinese') {
                arrs.sort(function (x, y) {
                    return y[sortKind]['text'].localeCompare(x[sortKind]['text']);
                });
            } else if (sortBy == 'number') {
                arrs.sort(function (x, y) {
                    return y[sortKind]['text'] - x[sortKind]['text'];
                });
            }
        }
        //将排好的html内容放入表格里
        for (r = 0; r < row_len; r++) {
            for (c = 0; c < cel_len; c++) {
                table.rows[r].cells[c].innerHTML = arrs[r][c]['html']
            }
        }
    }
</script>
<!--刷新表以适应失效字段-->
<script>
    function refreshTable() {
        $('#info_insert').children('tr').each(function (k, val) {
            var invalidId = $(val).children('td').eq(10).html();
            var time_to_check = time_to_timestamp($(val).children('td').eq(9).html());
            var time_now = new Date();
            if (invalidId == 99) {
                $(val).css('background-color', 'pink');
            } else if (invalidId == 2) {
                $(val).css('background-color', '#d1aeae');
            } else if ((invalidId == 0) && (time_to_check * 1000 - time_now.getTime() < 3600 * 24 * 3 * 1000)) {
                $(val).css('background-color', 'orange');
            } else {
                $(val).css('background-color', 'white');
            }
        })
    }
</script>
<!--统计金额-->
<script>
    $('#sum_money_submit').click(function () {
        var start_time = time_to_timestamp($('#sum_money_start_time').val());
        var end_time = time_to_timestamp($('#sum_money_end_time').val());
        var from = $('#from_search').val();
        var handler = $('#handler_search').val();
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/SumAction')}",
            data: {
                start_time: start_time,
                end_time: end_time,
                from: from,
                handler: handler
            },
            success: function (data) {
                console.log(data);
                $('#sum_money_result').html("<span style='color: red;'>" + data + "</span>");
            },
            error: function () {
            }
        })
    })
</script>
<!--中奖名单-->
<script>
    $('#lottery_query').click(function (e) {
        $.ajax({
            type: "post",
            url: "{:U('PayingClientManagement/lotteryResultShow')}",
            data: {
                isAjax: 1
            },
            success: function (data) {
                console.log('success');
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                $('#lottery_insert').html('');
                if (jsonObj) {
                    $('#financial_client_count').html(jsonObj.length);
                    jQuery.each(jsonObj, function (k, val) {
                        var li = document.createElement('tr');
                        li.innerHTML = '<td>' + val.nickname + '</td><td>'+val.handler+'</td><td>' + val.phone_number + '</td><td>' + val.prize_name + '</td><td>' + val.record_time + '</td>';
                        document.getElementById('lottery_insert').appendChild(li);
                    });
                }
            }
        })
    })
</script>
<!--图片生成-->
<script>
    $('#pic_seed').focus(function(){
        $(this).val('');
    });
    $('#pic_mix').click(function(){
        var phone_number = $('#pic_seed').val();
        var invite_code = '';
        var sucess_flag = false;
        var name='';
        invite_code = 'a3f4t5';
        $.ajax({
            type:"post",
            url:"{:U('PayingClientManagement/queryByPhone')}",
            data:{
                phone_number:phone_number
            },
            success:function(data){
                if(data == 'failure'){
                    alert('不存在');
                    return false;
                }else{
                    var userInfo = JSON.parse(data);
                    sucess_flag = true;
                    name = userInfo['wx_name'];
                    invite_code = seed_encode(userInfo['id']);
                }
            },
            error:function(XMLHttpRequest,textStatus,errorThrown){
            }
        });

        setTimeout(function(){
            if(sucess_flag){
                var aa = document.getElementById('pic_canvas');
                var bb = aa.getContext('2d');
                var img = new Image;
                img.src = '__PUBLIC__/home/images/payingClientLottery/bg.jpg';
                img.onload = function () {
                    bb.drawImage(img,0,0);

                    bb.fillStyle = '#fdff00';   // 文字填充颜色
                    bb.font = '35px Adobe Ming Std';
                    bb.textAlign = 'center';
                    bb.fillText(name,410,1365);
                    bb.fillText('送您价值50元的VIP！',410,1405);

                    bb.textAlign = 'start';
                    bb.fillStyle = 'white';   // 文字填充颜色
                    bb.font = '25px Adobe Ming Std';
                    bb.fillText(invite_code,465,1448);


                    var image = aa.toDataURL("image/jpg");
                    $('.copy').html("<img src='"+image+"' alt='from canvas'/>");
//                w.document.write("<img src='"+image+"' alt='from canvas'/>");
                };
//            bb.stroke();
            }
        },2000);
    });
    $('#canvas_to_img').click(function () {
        var mycanvas = document.getElementById("pic_canvas");
        var image    = mycanvas.toDataURL("image/jpg");
        var w=window.open('about:blank','image from canvas');
        w.document.write("<img src='"+image+"' alt='from canvas'/>");
    });
</script>
<!--邀请码解密-->
<script>
    $('#invite_code').focus(function(){
        $(this).val('');
    });
    $('#decode').click(function(){
        var invite_code = $('#invite_code').val();
        console.log(typeof (invite_code));
        var phone_number = seed_decode(invite_code);
        $('#decode_phone_number').html(phone_number);
    })
</script>
<!--功能函数-->
<script>
    function time_to_timestamp(strtime) {
        var time = new Date();
        if (strtime) {
            strtime = strtime.replace(/-/g, "/")
        } else {
            strtime = time.toLocaleDateString();
        }
        strtime = Date.parse(new Date(strtime)) / 1000;
        return strtime;
    }

    function seed_encode(code){
        return ('000'+(parseInt(code)*13+23)).slice(-4);
    }

    function seed_decode(code){
        return ((parseInt(code)-23)/13);
    }
</script>
</html>