<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>加煤炭群</title>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<style>
    html,body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        opacity: 0.8;
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        z-index: 1000;
        cursor: pointer;
        background: url('__PUBLIC__/home/images/promotion/fake_share_new.png') no-repeat;
        background-size: cover;
    }
</style>
<body style="background-color: #eaeaea">
<div class="overlay"></div>
<div id="top" style="background-color: white;text-align: center;">
    <img src="http://www.kuaimei56.com/cjkzy_icon.png" style="width: 30%;margin-top: 10%">
    <p style="margin-top: 5%;margin-bottom: 5%">超矿平台{$area['city']}煤炭信息交流群</p>
    <p id="member_count"></p>
</div>
<div id="bottom" style="text-align: center">
    <p style="margin-top: 15%;margin-bottom: 8%">你的朋友邀请你加入群聊</p>
    <button id="btn_join" style="background-color: #0BB20C;color: white;width:40%;border-radius: 5px;border: none;padding: 8px 12px;font-size: 20px">
        加入群聊
    </button>
</div>
</body>
<script>
    $(function(){
        console.log(document.body.scrollHeight);
        var topHeight = document.body.scrollHeight*0.45;
        $('#top').css('height',topHeight+'px');
        var memberCount = 300+Math.round(Math.random()*200);
        $('#member_count').html(memberCount+'人');
    });
    $('#btn_join').click(function(){
        $('.overlay').show();
    })
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage',
            'hideOptionMenu',
            'showOptionMenu',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem'
        ]
    });
    wx.ready(function () {

        var randomStamp = Math.random();
        // 在这里调用 API
        wx.hideMenuItems({
            menuList: ["menuItem:editTag",
        "menuItem:delete",
        "menuItem:copyUrl",
        "menuItem:originPage",
        "menuItem:readMode",
        "menuItem:openWithQQBrowser",
        "menuItem:openWithSafari",
        "menuItem:share:email",
        "menuItem:share:brand"]
        });
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: "邀请您加入超矿{$area['city']}煤炭信息交流群", // 分享标题
            link: "http://www.kuaimei56.com/index.php/Home/Fission/fakeGroupJoin/randomStamp/"+randomStamp, // 分享链接
            imgUrl: 'http://www.kuaimei56.com/Public/home/images/promotion/logo.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享供应至朋友圈');
                window.location.href='__CONTROLLER__/qrcodeScan';
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享供应至朋友圈');
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: "邀请您加入超矿{$area['city']}煤炭信息交流群", // 分享标题
            desc: '这里有上千优质煤炭信息交流群等待您的加入', // 分享描述
            link: "http://www.kuaimei56.com/index.php/Home/Fission/fakeGroupJoin/randomStamp/"+randomStamp, // 分享链接
            imgUrl: 'http://www.kuaimei56.com/Public/home/images/promotion/logo.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享供应给好友');
//                window.location.href="{:U('__CONTROLLER__/qrcodeScan')}";
                window.location.href='__CONTROLLER__/qrcodeScan';
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享供应给好友');
            }
        });
    });
</script>
</html>