<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <title>扫二维码加群</title>
</head>
<body style="background: url('__PUBLIC__/home/images/promotion/fission_qrcode_background.png') no-repeat;background-size: cover">
<div id="qrcode" style="margin: 20% auto;text-align: center">
    <img id="qc1" src="__PUBLIC__/home/images/promotion/qrcode-bb.jpg" title="加群二维码" alt="二维码" style="width: 50%">
    <img id="qc2" src="__PUBLIC__/home/images/promotion/qrcode-jjj.jpg" title="加群二维码" alt="二维码" style="width: 50%">
    <img id="qc3" src="__PUBLIC__/home/images/promotion/qrcode-xb.jpg" title="加群二维码" alt="二维码" style="width: 50%">
    <img id="qc4" src="__PUBLIC__/home/images/promotion/qrcode-sxfb.jpg" title="加群二维码" alt="二维码" style="width: 50%">
    <img id="qc5" src="__PUBLIC__/home/images/promotion/qrcode-jiubu.jpg" title="加群二维码" alt="二维码" style="width: 50%">
</div>
</body>
<script>
    $(function () {
        var a = Math.random() * 5;
        var $qc1 = $('#qc1');
        var $qc2 = $('#qc2');
        var $qc3 = $('#qc3');
        var $qc4 = $('#qc4');
        var $qc5 = $('#qc5');
        if (a < 1) {
            $qc1.siblings().css('display','none');
        } else if (a > 1 && a < 2) {
            $qc2.siblings().css('display','none');
        } else if (a > 2 && a < 3) {
            $qc3.siblings().css('display','none');
        } else if (a > 3 && a < 4) {
            $qc4.siblings().css('display','none');
        } else if (a > 4) {
            $qc5.siblings().css('display','none');
        }
    })
</script>
</html>