<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>买卖查询</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/scroll-initial.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/common-v1030.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/loading.js"></script>
</head>
<body style="touch-action: none" id="qqqq">
<!--导航标签-->
<div class="panel-title" style=";margin:0;padding: 0;background-color: white;display: block">
    <div id="myTab" class="weui_navbar" style=";margin-bottom: 0;">
        <a href="#buy" data-toggle="tab" class="weui_navbar_item weui_bar_item_on"
           style="text-decoration: none;font-size: 1.2em">
            <span>求购信息</span>
        </a>
        <a href="#sell" data-toggle="tab" class="weui_navbar_item"
           style="text-decoration: none;font-size: 1.2em">
            <span>供应信息</span>
        </a>
        <a href="{:U('TradeSearch/message_filter')}" class="weui_navbar_item"
           style="text-decoration: none;font-size: 1.2em">
                <span>
                    筛选
                    <img src="__PUBLIC__/home/images/message_filter.png" style="width: 15px">
                </span>
        </a>
    </div>
</div>
<!--小红点-->
<div id='remind_filter'
     style="position: absolute;z-index: 999;right: 12.3%;top: 0.9%;width: 10px;height: 10px;background-color: red;border-radius: 50%;display: none"></div>

<div class="nav-menu">
    <div class="float-btn-group">
        <button class="btn-float btn-trigger pink">
            <!--<i class="icon-bars"></i>-->
            导航
        </button>
        <div class="btn-list" id="go">
            <a href="{:U('Homepage/homepage')}" id="bt3" class="btn-float green homepage">
                <span class="glyphicon glyphicon-home" style="font-size: 10px"></span>
                <!--<img src="__PUBLIC__/home/images/personal_center.png" style="width: 15px;height: 15px">-->
                首&emsp;&emsp;页
            </a>
            <a href="{:U('OwnerOrder/owner_order')}" id="bt1" class="btn-float yellow order">
                <img src="__PUBLIC__/home/images/my_favorite2.png" style="width: 15px;height: 15px">
                我的收藏
            </a>
            <a href="{:U('Feedback/feedback')}" id="bt2" class="btn-float blue feedback">
                <img src="__PUBLIC__/home/images/custom_service.png" style="width: 15px;height: 15px">
                客&emsp;&emsp;服
            </a>
        </div>
    </div>
</div>

<!--搜索框-->
<div class="bd" style="margin-top: 43px;position: fixed;width: 100%;z-index: 2">
    <div class="weui_search_bar" id="search_bar">
        <form id="form_search" name="form_search" class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" name="search_input" id="search_input" placeholder="搜索">
                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
                <i class="weui_icon_search"></i>
                <span>请输入关键字(如榆林)</span>
            </label>
            <input type="text" style="display: none;">
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>
</div>
<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category">
    <input type="hidden" name="filter_kind">
    <input type="hidden" name="filter_granularity">
    <input type="hidden" name="filter_heat_min">
    <input type="hidden" name="filter_heat_max">
    <input type="hidden" name="search_input">
    <input type="hidden" name="page" id="page" value="1">
</form>
<div style="display: none">
    <div id="where_cond_json">
        {$where_cond_json}
    </div>
    <div id="stage">
        {$stage}
    </div>
</div>
<!--订单展示栏-->
<div id="wrapper" style="top: 52px;margin-left: 2.5%;">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon" style="float: left"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content">
            <ul id="buy" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
            <ul id="sell" class="tab-pane" style="margin-top: 40px;list-style-type: none">
                <volist name="li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>

<!--搜索框功能-->
<script>
    $(function () {
        var $searchBar = $('#search_bar'),
                $searchText = $('#search_text'),
                $searchInput = $('#search_input'),
                $searchClear = $('#search_clear'),
                $searchCancel = $('#search_cancel');

        function hideSearchResult() {
            $searchInput.val('');
        }

        function cancelSearch() {
            hideSearchResult();
            $searchBar.removeClass('weui_search_focusing');
            $searchText.show();
        }

        $searchText.on('click', function () {
            $searchBar.addClass('weui_search_focusing');
            $searchInput.focus();
            if (cookie('search_input')) {
                $('#search_input').val(cookie('search_input'));
            }
        });
        $searchInput
                .on('blur', function () {
                    if (!this.value.length) cancelSearch();
                })
                .on('keyup', function (event) {
                    event = event || window.event;
                    if (event.keyCode == 13) {
                        //            //将输入的值存入cookie
                        if ($(this).val().trim() == '') {
                            cookie('search_input', null);
                            cookie('search_input_for_highlight', null);
                            $('input[name=search_input]').val('');
                        } else {
                            $('input[name=search_input]').val($(this).val().trim());
                            cookie('search_input', $(this).val().trim());
                            cookie('search_input_for_highlight', encodeURI(cookie('search_input')));
                        }
                        ck_log("search", cookie('search_input'));
                        //将值传入hidden input提交
                        if (cookie('trade_search_filter_kind')) {
                            $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
                        }
                        if (cookie('trade_search_filter_granularity')) {
                            $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
                        }
                        if (cookie('trade_search_filter_heat_min')) {
                            $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
                        }
                        if (cookie('trade_search_filter_heat_max')) {
                            $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
                        }
                        if (cookie('search_tag')) {
                            $('input[name=select_category]').val(cookie('search_tag'));
                        }

                        //将输入的值存入cookie

                        //提交表单
                        document.tag_search.method = "post";
                        document.tag_search.action = "{:U('TradeSearch/trade_search')}";
                        document.tag_search.submit();
                    }
                });
        $searchClear.on('click', function () {
            hideSearchResult();
            ck_log("click", "清除搜索内容");
            $searchInput.focus();
        });
        $searchCancel.on('click', function () {
            cancelSearch();
            ck_log("click", "取消搜索");
            $searchInput.blur();
            //清空搜索栏并提交
            cookie('search_input', null);
            cookie('search_input_for_highlight', null);
            $('input[name=search_input]').val('');
            if (cookie('trade_search_filter_kind')) {
                $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
            }
            if (cookie('trade_search_filter_granularity')) {
                $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
            }
            if (cookie('trade_search_filter_heat_min')) {
                $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
            }
            if (cookie('trade_search_filter_heat_max')) {
                $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
            }
            if (cookie('search_tag')) {
                $('input[name=select_category]').val(cookie('search_tag'));
            }
            //将输入的值存入cookie
            //提交表单
            document.tag_search.method = "post";
            document.tag_search.action = "{:U('TradeSearch/trade_search')}";
            document.tag_search.submit();
        });
    });
</script>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    })
</script>

<!--载入读取上次标签-->
<script>
    $(function () {
//        FastClick.attach(document.body);
//        console.log('teststart');
//        testdiv1 = $('#testdiv');
//        testdiv2 = document.getElementById('testdiv');
//        testdiv3 = document.querySelector('#testdiv');
//        console.log(testdiv1);
        console.log(navigator.userAgent);
//        console.log(testdiv2.toString());
//        console.log(testdiv3.html());
//        console.log('testend');
        console.log($('#where_cond_json').html());
        console.log($('#stage').html());
        var now = new Date();
        console.log(cookie('search_tag'));
        console.log(now.toLocaleString());
        if (cookie('search_tag') == '供应') {
            //供货信息
            $('#myTab a:eq(1)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');

            ck_log("load", "加载供应标签");
        } else {
            //求购信息
            $('#myTab a:eq(0)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
            cookie('search_tag', '求购');

            ck_log("load", "加载求购标签");
        }
        //载入小红点
        if (cookie('trade_search_filter_kind') || cookie('trade_search_filter_granularity') || cookie('trade_search_filter_heat_min') || cookie('trade_search_filter_heat_max')) {
            $('#remind_filter').toggle();
        }
        //载入搜索框内容
        if (cookie('search_input')) {
            $('#search_text').html(cookie('search_input'));
        }
        //自动刷新
//        setTimeout(pullDownAction2, 200);
    });
    function pullDownAction2() {
        console.log('auto-down');
//        location.reload();
        var subData = $('#tag_search').serialize();
        var search_input = cookie('search_input') ? cookie('search_input') : '';
        var select_category = cookie('search_tag');
        var filter_kind = cookie('trade_search_filter_kind') ? cookie('trade_search_filter_kind') : '';
        var filter_granularity = cookie('trade_search_filter_granularity') ? cookie('trade_search_filter_granularity') : '';
        var filter_heat_min = cookie('trade_search_filter_heat_min') ? cookie('trade_search_filter_heat_min') : '';
        var filter_heat_max = cookie('trade_search_filter_heat_max') ? cookie('trade_search_filter_heat_max') : '';
        filter_kind = filter_kind ? filter_kind.split(',') : '';
        filter_granularity = filter_granularity ? filter_granularity.split(',') : '';
        $.ajax({
            type: "post",
            url: "{:U('TradeSearch/trade_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                filter_kind: filter_kind,
                filter_granularity: filter_granularity,
                filter_heat_min: filter_heat_min,
                filter_heat_max: filter_heat_max
            },
            success: function (data) {
                console.log('success');
//                console.log(data);
//                return;
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
//                    return;
                if (jsonObj.msg) {
                    //重置筛选条件组成
                    $('#page').val(1);
                    $('#where_cond_json').html(jsonObj.where_cond_json);
                    $('#stage').html(jsonObj.stage);
                    if (cookie('search_tag') == '求购') {
                        document.getElementById('buy').innerHTML = '';
                    }
                    else if (cookie('search_tag') == '供应') {
                        document.getElementById('sell').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        console.log(cookie('search_tag'));
                        if (cookie('search_tag') == '求购') {
                            document.getElementById('buy').appendChild(li);
                        }
                        else if (cookie('search_tag') == '供应') {
                            document.getElementById('sell').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
                refresh_hl();

            }
        });
    }
</script>
<!--点击标签查询-->
<script>
    //点击求购信息标签
    $('#myTab a:eq(0)').click(function () {
        ck_log("click", "选择求购标签");
        //存入所选标签入cookie
        cookie('search_tag', '求购');
        $('input[name=select_category]').val(cookie('search_tag'));
        $('input[name=page]').val(1);
        //点击标签只传标签值，相当于重置筛选条件
        //将值传入hidden input提交
        if (cookie('trade_search_filter_kind')) {
            $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
        }
        if (cookie('trade_search_filter_granularity')) {
            $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
        }
        if (cookie('trade_search_filter_heat_min')) {
            $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
        }
        if (cookie('trade_search_filter_heat_max')) {
            $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
        }
        if (cookie('search_tag')) {
            $('input[name=select_category]').val(cookie('search_tag'));
        }
        if (cookie('search_input')) {
            $('input[name=search_input]').val(cookie('search_input'));
        }
        //重置筛选条件的cookie
//        cookie('search_input', null);
//        cookie('trade_search_filter_kind', null);
//        cookie('trade_search_filter_granularity', null);
//        cookie('trade_search_filter_heat_min', null);
//        cookie('trade_search_filter_heat_max', null);
        //提交表单
//        document.tag_search.method = 'post';
//        document.tag_search.action = "{:U('TradeSearch/trade_search')}";
//        document.tag_search.submit();

        var search_input = cookie('search_input') ? cookie('search_input') : '';
        var select_category = cookie('search_tag');
        var filter_kind = cookie('trade_search_filter_kind') ? cookie('trade_search_filter_kind') : '';
        var filter_granularity = cookie('trade_search_filter_granularity') ? cookie('trade_search_filter_granularity') : '';
        var filter_heat_min = cookie('trade_search_filter_heat_min') ? cookie('trade_search_filter_heat_min') : '';
        var filter_heat_max = cookie('trade_search_filter_heat_max') ? cookie('trade_search_filter_heat_max') : '';
        $.ajax({
            type: "post",
            url: "{:U('TradeSearch/trade_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                filter_kind: filter_kind,
                filter_granularity: filter_granularity,
                filter_heat_min: filter_heat_min,
                filter_heat_max: filter_heat_max
            },
            success: function (data) {
                console.log('success');
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                if (jsonObj.li_array) {
                    if (cookie('search_tag') == '求购') {
                        document.getElementById('buy').innerHTML = '';
                    }
                    else if (cookie('search_tag') == '供应') {
                        document.getElementById('sell').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        console.log(cookie('search_tag'));
                        if (cookie('search_tag') == '求购') {
                            document.getElementById('buy').appendChild(li);
                        }
                        else if (cookie('search_tag') == '供应') {
                            document.getElementById('sell').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
            }
        });
        myScroll.refresh();
    });

    //点击供应信息标签
    $('#myTab a:eq(1)').click(function () {
        ck_log("click", "选择供应标签");
        //存入所选标签入cookie
        cookie('search_tag', '供应');
        $('input[name=select_category]').val(cookie('search_tag'));
        $('input[name=page]').val(1);
        //点击标签只传标签值，相当于重置筛选条件
        //将值传入hidden input提交
        if (cookie('trade_search_filter_kind')) {
            $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
        }
        if (cookie('trade_search_filter_granularity')) {
            $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
        }
        if (cookie('trade_search_filter_heat_min')) {
            $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
        }
        if (cookie('trade_search_filter_heat_max')) {
            $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
        }
        if (cookie('search_tag')) {
            $('input[name=select_category]').val(cookie('search_tag'));
        }
        if (cookie('search_input')) {
            $('input[name=search_input]').val(cookie('search_input'));
        }
        //重置筛选条件的cookie
//        cookie('search_input', null);
//        cookie('trade_search_filter_kind', null);
//        cookie('trade_search_filter_granularity', null);
//        cookie('trade_search_filter_heat_min', null);
//        cookie('trade_search_filter_heat_max', null);
        //提交表单
//        document.tag_search.method = 'post';
//        document.tag_search.action = "{:U('TradeSearch/trade_search')}";
//        document.tag_search.submit();

        var search_input = cookie('search_input') ? cookie('search_input') : '';
        var select_category = cookie('search_tag');
        var filter_kind = cookie('trade_search_filter_kind') ? cookie('trade_search_filter_kind') : '';
        var filter_granularity = cookie('trade_search_filter_granularity') ? cookie('trade_search_filter_granularity') : '';
        var filter_heat_min = cookie('trade_search_filter_heat_min') ? cookie('trade_search_filter_heat_min') : '';
        var filter_heat_max = cookie('trade_search_filter_heat_max') ? cookie('trade_search_filter_heat_max') : '';
        $.ajax({
            type: "post",
            url: "{:U('TradeSearch/trade_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                filter_kind: filter_kind,
                filter_granularity: filter_granularity,
                filter_heat_min: filter_heat_min,
                filter_heat_max: filter_heat_max
            },
            success: function (data) {
                console.log('success');
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                if (jsonObj.li_array) {
                    if (cookie('search_tag') == '求购') {
                        document.getElementById('buy').innerHTML = '';
                    }
                    else if (cookie('search_tag') == '供应') {
                        document.getElementById('sell').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        console.log(cookie('search_tag'));
                        if (cookie('search_tag') == '求购') {
                            document.getElementById('buy').appendChild(li);
                        }
                        else if (cookie('search_tag') == '供应') {
                            document.getElementById('sell').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
            }
        });
        myScroll.refresh();
    })
</script>
<!--滚动功能-->
<script>
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
        var subData = $('#tag_search').serialize();
        var search_input = cookie('search_input') ? cookie('search_input') : '';
        var select_category = cookie('search_tag');
        var filter_kind = cookie('trade_search_filter_kind') ? cookie('trade_search_filter_kind') : '';
        var filter_granularity = cookie('trade_search_filter_granularity') ? cookie('trade_search_filter_granularity') : '';
        var filter_heat_min = cookie('trade_search_filter_heat_min') ? cookie('trade_search_filter_heat_min') : '';
        var filter_heat_max = cookie('trade_search_filter_heat_max') ? cookie('trade_search_filter_heat_max') : '';
        filter_kind = filter_kind ? filter_kind.split(',') : '';
        filter_granularity = filter_granularity ? filter_granularity.split(',') : '';
        $.ajax({
            type: "post",
            url: "{:U('TradeSearch/trade_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                filter_kind: filter_kind,
                filter_granularity: filter_granularity,
                filter_heat_min: filter_heat_min,
                filter_heat_max: filter_heat_max
            },
            success: function (data) {
                console.log('success');
//                console.log(data);
//                return;
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
//                    return;
                if (jsonObj.msg) {
                    //重置筛选条件组成
                    $('#page').val(1);
                    $('#where_cond_json').html(jsonObj.where_cond_json);
                    $('#stage').html(jsonObj.stage);
                    if (cookie('search_tag') == '求购') {
                        document.getElementById('buy').innerHTML = '';
                    }
                    else if (cookie('search_tag') == '供应') {
                        document.getElementById('sell').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        console.log(cookie('search_tag'));
                        if (cookie('search_tag') == '求购') {
                            document.getElementById('buy').appendChild(li);
                        }
                        else if (cookie('search_tag') == '供应') {
                            document.getElementById('sell').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
                refresh_hl();
                ck_log("scroll", "下滑-刷新");
            }
        });
        myScroll.refresh();
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        setTimeout(function () {
            console.log('up');
//            var a = $('#tag_search').serialize();
//            console.log(a);
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var select_category = cookie('search_tag');
            var where_cond_json = $('#where_cond_json').html().trim();
            var stage = $('#stage').html().trim();
            console.log(where_cond_json);
            console.log(stage);
            console.log(page);
            console.log(request_page);
            console.log(select_category);
            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('TradeSearch/trade_search_more')}",
                data: {
                    page: request_page,
                    select_category: select_category,
                    where_cond_json: where_cond_json,
                    stage: stage
                },
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
                    var endAjax = jsonObj.EOA;
                    if (endAjax == 0) {
                        return false;
                    }
//                    return;
                    if (jsonObj.msg) {
                        page++;
                        $('#page').val(page);
                        $('#where_cond_json').html(jsonObj.where_cond_json);
                        $('#stage').html(jsonObj.stage);
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            console.log(cookie('search_tag'));
                            if (cookie('search_tag') == '求购') {
                                document.getElementById('buy').appendChild(li);
                            }
                            else if (cookie('search_tag') == '供应') {
                                document.getElementById('sell').appendChild(li);
                            }
                            else {
                            }
                        });
                    }
                    else {
                    }
                    myScroll.refresh();
                    refresh_hl();
                    ck_log("scroll", "上滑-加载");
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
</script>
<!--撤销收藏-->
<script>
    function collection_switch(obj, id) {
        console.log('click');
        event.stopImmediatePropagation();
        var url;
        if ($(obj).html() == '撤销收藏') {
            url = "{:U('Collection/del')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('收藏');
                        ck_log("collect", "撤销收藏-" + id);
                    } else {
                    }
                }
            });
        } else if ($(obj).html() == '收藏') {
            url = "{:U('Collection/add')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('撤销收藏');
                        ck_log("collect", "收藏-" + id);
                    } else {
                    }
                }
            });
        } else {
        }
        return false;
    }
    function share_wx(obj,id) {
        urlPublic = 'https://www.baidu.com?id='+id;
        alert(urlPublic);
    }
</script>
<!--搜索内容高亮-->
<script>
    function refresh_hl() {
        var keywords = [];
        var str = cookie('trade_search_filter_kind');
        if (typeof str == 'string') {
            keywords = keywords.concat(str.split(','));
        }
        str = cookie('trade_search_filter_granularity');
        if (typeof str == 'string') {
            keywords = keywords.concat(str.split(','));
        }
        //str = cookie('trade_search_filter_heat_min');
        //keywords.push(str ? str : '');
        //str = cookie('trade_search_filter_heat_max');
        //keywords.push(str ? str : '');
        str = cookie('search_input');
        if (typeof str == 'string') {
            keywords = keywords.concat(str.split(/\s+/g));
//            alert(str+'-'+keywords);
        }
        show_highlight(keywords);
//        alert(keywords);
    }

    function replace_with_highlight(str, keyword) {
        if (keyword == '') return str;
        keyword = keyword.replace(new RegExp("市|区|县|镇", 'gm'), '');
        return str.replace(new RegExp(keyword, 'gm'), '<span style="background-color: orange; font-weight: bold">' + keyword + "</span>");
    }

    function show_highlight(keywords) {
        function show_hl_by_element(element) {
            var str = element.innerHTML;
            element.innerHTML = keywords.reduce(replace_with_highlight, str);
        }

        collectionToArray(document.getElementsByClassName('highlight')).map(show_hl_by_element);
//    $('.highlight').map(show_hl_by_element);

    }

    function collectionToArray(collection) {
        var ary = [];
        for (var i = 0, len = collection.length; i < len; i++) {
            ary.push(collection[i]);
        }
        return ary;
    }

</script>
<!--跳转到我的订单时记录当前地址-->
<script>
    $('#my_collection').click(function () {
        var cur_url = window.location.href;
        cookie('last_url_for_history', cur_url);
    })
</script>
<!--地址返回操作-->
<script>
    window.onunload = function () {
        sessionStorage.setItem('unload', '1');
        leaveCurView();
    };

    function leaveCurView() {
        window.sessionStorage.setItem('scrollX', myScroll.x);
        window.sessionStorage.setItem('scrollY', myScroll.y);
    }
    $(function () {
        console.log('userAgent', navigator.userAgent);
        //手机系统类型
//        alert('document.referrer:'+document.referrer);
        if (navigator.userAgent.indexOf('Android') > 0 || true) {
            //安卓手机
            //判断跳转到该页面的来源
            if (window.sessionStorage.getItem('order_detail')) {
                window.sessionStorage.removeItem('order_detail');
                //加载并定位

            }
            var x = parseFloat(window.sessionStorage.getItem('scrollX')) ? parseFloat(window.sessionStorage.getItem('scrollX')) : 0;
            var y = parseFloat(window.sessionStorage.getItem('scrollY')) ? parseFloat(window.sessionStorage.getItem('scrollY')) : 0;
            console.log('map', x, y);
            setTimeout(function () {
                myScroll.scrollTo(x, y);
                console.log('scroll');
            }, 300);
        } else {
            //苹果手机
        }

    });


    //    $(function () {
    //        pushHistory();
    //        var bool = false;
    //        setTimeout(function () {
    //            bool = true;
    //        }, 500);
    //        if (navigator.userAgent.indexOf('Android') > 0) {
    //            pushHistory();
    //            window.addEventListener("popstate", function (e) {
    //                    window.location.href = "{:U('Homepage/homepage')}";
    //            }, false);
    //        } else {
    //            pushHistory();
    //            setTimeout(function(){
    //                window.addEventListener("popstate", function (e) {
    //                    if (bool) {
    //                        window.location.href = "{:U('Homepage/homepage')}";
    //                    } else {
    //                        return false;
    //                    }
    //                }, false);
    //            },100);
    //        }
    //
    //    });
    //    function pushHistory() {
    //        var state = {
    //            title: "title",
    //            url: "#"
    //        };
    //        window.history.pushState(state, "title", "#");
    //    }

    //    $(function() {
    //        if (!window.history.pushState || !document.dispatchEvent) return;
    //        var href = location.href;
    //        var flag = true;
    //        var voidFn = function() {};
    //        var fn = voidFn;
    //        var dispatchFn = function() {
    //            console.log(1);
    //            var evt = document.createEvent('Event');
    //            evt.initEvent('popstate',true,true);
    //            window.dispatchEvent(evt);
    //        };
    //        console.log('middle');
    //        window.addEventListener('load', function() {
    //            if (location.hash !== '#flag') {
    //                history.replaceState({}, '', "{:U('Homepage/homepage')}");
    //                if (href.search('#') === -1) {
    //                    history.pushState({}, '', href + '#flag');
    //                } else {
    //                    history.pushState({}, '', href.replace(/#.*/, '#flag'));
    //                }
    //
    //            }
    //            console.log(0,dispatchFn);
    //            window.addEventListener('popstate', function() {
    //                console.log(2);
    //                dispatchFn = voidFn;
    //                console.log(3,dispatchFn);
    //                flag = !flag;
    //                if (flag) {
    //                    //alert(123);
    //                    location.reload();
    //                }
    //
    //            }, false);
    //
    //            setTimeout(function() {
    //                fn = dispatchFn;
    //                console.log(4,dispatchFn);
    //                fn();
    //            }, 2000);
    //        }, false);
    //    });
</script>
<!--twinkle-->
<script>
    var twinkle_flag = false;
    var i = setInterval(function () {
        if (!twinkle_flag) {
            $('#twinkle').css('color', 'red');
            twinkle_flag = true;
        } else {
            $('#twinkle').css('color', 'black');
            twinkle_flag = false;
        }
    }, 100)
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var urlPublic = "";
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: '超矿平台买卖查询', // 分享标题
//            link: "http://www.xuncl.com/index.php/Home/OwnerOrder/owner_order_trade_detail?id={$message['id']}", // 分享链接
            link: "http://www.xuncl.com/index.php/Home/TradeSearch/trade_search", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享{$message["category"]}消息{$message["id"]}至朋友圈');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享{$message["category"]}消息{$message["id"]}至朋友圈');
            }
        });
        //分享给朋友
        wx.onMenuShareAppMessage({
//            title: '来自{$user["user_name"]}('+role+')的{$message["category"]}消息', // 分享标题
            title: '超矿平台买卖查询', // 分享标题
            desc: '这里有每天上千条的煤炭买卖更新，这里有最周全的煤炭供求信息', // 分享描述
            link: 'http://www.xuncl.com/index.php/Home/TradeSearch/trade_search', // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</html>