<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title></title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="bootstrap.min.css">-->
    <!--<link type="text/css" rel="stylesheet" href="weui.min.css">-->
    <!--<script type="text/javascript" src="jquery-2.2.4.min.js"></script>-->
    <!--<script type="text/javascript" src="bootstrap.min.js"></script>-->
</head>
<body style="">

    <!--标题栏-->
    <div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">
        <!--<div class="container text-center" style="">-->
        <!--<div style="display: inline-block;height: 100%;vertical-align: middle"></div>-->
                    <span class="pull-left" style="">
                            <!--<a class="glyphicon glyphicon-chevron-left"></a>-->
                        <a href="#">
                            <img src="__PUBLIC__/home/images/goback.png" class="img-responsive" style="width: 15px;height: auto;margin-top: 40%">
                        </a>
                    </span>
                    <span class="">
                        <span class="" style="font-size: 1.5em;margin-left: 15%">买卖查询</span>
                    </span>
                    <span class="pull-right" style="border-color: white">
                        <a href="#" class="btn btn-xs btn-default" style=";border:1px solid white; ;color:white;background-color: transparent;text-decoration: none;margin-bottom: -50%">
                            我的收藏
                        </a>
                    </span>
        <!--</div>-->
    </div>

    <!--清除浮动-->
    <div class="clearfix"></div>

    <!--导航标签-->
    <div class="panel-title" style="margin:0;padding: 0;background-color: white">
        <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
            <a href="#buy" data-toggle="tab" class="weui_navbar_item weui_bar_item_on" style="color: black;text-decoration: none;font-size: 1.2em">
                <span>求购信息</span>
            </a>
            <a href="#sell" data-toggle="tab" class="weui_navbar_item" style="color: black;text-decoration: none;font-size: 1.2em">
                <span>供应信息</span>
            </a>
            <a href="{:U('TradeSearch/message_filter')}" class="weui_navbar_item" style="color: black;text-decoration: none;font-size: 1.2em">
                <span>
                    筛选
                    <img src="__PUBLIC__/home/images/message_filter.png" style="width: 15px">
                </span>
            </a>
        </div>
    </div>

    <!--搜索框-->
    <div class="bd">
        <div class="weui_search_bar" id="search_bar">
            <form id="form_search" name="form_search" action="" method="" class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input" name="search_input" id="search_input" placeholder="搜索" required >
                    <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
                </div>
                <label for="search_input" class="weui_search_text" id="search_text">
                    <i class="weui_icon_search"></i>
                    <span>搜索</span>
                </label>
                <input type="hidden" name="select_category">
                <input type="hidden" name="filter_kind">
                <input type="hidden" name="filter_granularity">
                <input type="hidden" name="filter_heat_min">
                <input type="hidden" name="filter_heat_max">
                <input type="text" style="display: none;">
            </form>
            <a href="javascript:void(0)" class="weui_search_cancel" id="search_cancel">取消</a>
        </div>
        <!--<div class="weui_cells weui_cells_access search_show" id="search_show">-->
            <!--<div class="weui_cell">-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                    <!--<p>实时搜索文本</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="weui_cell">-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                    <!--<p>实时搜索文本</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="weui_cell">-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                    <!--<p>实时搜索文本</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="weui_cell">-->
                <!--<div class="weui_cell_bd weui_cell_primary">-->
                    <!--<p>实时搜索文本</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--标签隐藏表单提交-->
    <form name="tag_search">
    <input type="hidden" name="select_category">
    <input type="hidden" name="filter_kind">
    <input type="hidden" name="filter_granularity">
    <input type="hidden" name="filter_heat_min">
    <input type="hidden" name="filter_heat_max">
    <input type="hidden" name="search_input">
    </form>

    <!--<input type="search" id="asd" onkeyup="search_enter(event)">-->
    <!--订单展示栏-->
    <div class="container">
        <div class="tab-content" style="">
            <div id="buy" class="tab-pane active" style="">
                <div id="wrapper">
                    <div id="scroller">
                        <div id="pullDown">
                            <span class="pullDownIcon"></span>
                            <span class="pullDownLabel">下拉刷新...</span>
                        </div>
                        <ul id="thelist" class="" style="list-style-type: none">
                            <volist name="list" id="order">
                            <li class="weui_panel weui_panel_access" style=";border-radius: 5px">
                                <div style="position: absolute;right: 0px;">
                                    <img src="__PUBLIC__/home/images/buy.png" width="50px">
                                </div>
                                <div class="weui_media_box weui_media_appmsg" style="margin: 0;padding-left: 0;padding-right: 0">
                                    <a href="#">
                                        <div class="weui_media_hd">
                                            <img src="__PUBLIC__/home/images/headimg_background.png" class="weui_media_appmsg_thumb">
                                        </div>
                                    </a>
                                    <div class="weui_media_bd">
                                        <a href="#">
                                            <h4 class="weui_media_title">{名字} <img src="__PUBLIC__/home/images/medal.png" style="width: 15px;height: 20px"></h4>
                                        </a>
                                        <p class="weui_media_desc">
                                            <img src="__PUBLIC__/home/images/area_start.png" style="width: 10px;height: 15px">
                                            {}
                                        </p>
                                    </div>
                                    <div class="weui_media_bd text-center" style="">
                                        <a href="tel:15153151316" class="">
                                            <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                                                <span style="">拨打电话</span></h4>
                                        </a>
                                        <div>
                                            <button class="btn btn-xs btn-default" style="padding-left: 20%;padding-right: 20%;border-color: #04bfc6;color: #04bfc6">
                                                收藏
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="panel-body" style="padding:0">-->
                                <table class="table table-condensed" style="margin: 0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            煤炭种类:{}
                                        </td>
                                        <td>
                                            {$order['price']}元/吨
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            煤炭品质:{}
                                        </td>
                                        <td>
                                            产地:{$order['area_start']}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            煤炭粒度:{}
                                        </td>
                                        <td>
                                            吨数:{}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            有效时间:{}
                                        </td>
                                        <td>
                                            发布时间:{}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--</div>-->
                            </li>
                            </volist>
                        </ul>
                        <div id="pullUp">
                            <span class="pullUpIcon"></span>
                            <span class="pullUpLabel">上拉加载更多...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sell" class="tab-pane" style="background-color: #efeff4">
                <ul id="thelist2" class="" style="list-style-type: none">
                    <li class="weui_panel weui_panel_access" style="border-radius: 5px">
                        <div style="position: absolute;right: 0px;">
                            <img src="__PUBLIC__/home/images/sell.png" width="50px">
                        </div>
                        <div class="weui_media_box weui_media_appmsg" style="margin: 0;padding-left: 0;padding-right: 0">
                            <a href="#">
                                <div class="weui_media_hd">
                                    <img src="__PUBLIC__/home/images/headimg_background.png" class="weui_media_appmsg_thumb">
                                </div>
                            </a>
                            <div class="weui_media_bd">
                                <a href="#">
                                    <h4 class="weui_media_title">{名字} <img src="__PUBLIC__/home/images/medal.png" style="width: 15px;height: 20px"></h4>
                                </a>
                                <p class="weui_media_desc">
                                    <img src="__PUBLIC__/home/images/area_start.png" style="width: 10px;height: 15px">
                                    {start}
                                </p>
                            </div>
                            <div class="weui_media_bd text-center" style="">
                                <a href="tel:15153151316" class="">
                                    <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                                        <span style="">拨打电话</span></h4>
                                </a>
                                <div>
                                    <button class="btn btn-xs btn-default" style="padding-left: 20%;padding-right: 20%;border-color: #04bfc6;color: #04bfc6">
                                        收藏
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="panel-body" style="padding:0">-->
                        <table class="table table-condensed" style="margin: 0">
                            <tbody>
                                <tr>
                                    <td>
                                        煤炭种类:{}
                                    </td>
                                    <td>
                                        {}元/吨
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        煤炭品质:{}
                                    </td>
                                    <td>
                                        产地:{}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        煤炭粒度:{}
                                    </td>
                                    <td>
                                        吨数:{}吨
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        有效时间:{}
                                    </td>
                                    <td>
                                        发布时间:{}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--</div>-->
                    </li>
                    <li class="weui_panel weui_panel_access">
                        <div class="weui_media_box weui_media_appmsg" style="width: 100%;margin: 0;padding-left: 0;padding-right: 0">
                            <a href="#">
                                <div class="weui_media_hd">
                                    <img src="__PUBLIC__/home/images/headimg_background.png" class="weui_media_appmsg_thumb">
                                </div>
                            </a>
                            <div class="weui_media_bd">
                                <a href="#">
                                    <h4 class="weui_media_title">{名字} <img src="__PUBLIC__/home/images/medal.png" style="width: 15px;height: 20px"></h4>
                                </a>
                                <p class="weui_media_desc">
                                    <img src="__PUBLIC__/home/images/area_start.png" style="width: 15px;height: 20px">
                                    {start}→{end}
                                    <img src="__PUBLIC__/home/images/area_end.png" style="width: 15px;height: 20px">
                                </p>
                            </div>
                            <div class="weui_media_bd" style="margin-right: -20%">
                                <a href="#" class="">
                                    <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                                        <span style="">拨打电话</span></h4>
                                </a>
                                <div>
                                    <button class="btn btn-xs btn-default" style="padding-left: 20%;padding-right: 20%">
                                        收藏
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<!--搜索框功能-->
<script>
    $('#search_input').focus(function(){
        var $weuiSearchBar = $('#search_bar');
        $weuiSearchBar.addClass('weui_search_focusing');
    });
    $('#search_input').blur(function(){
        var $weuiSearchBar = $('#search_bar');
        $weuiSearchBar.removeClass('weui_search_focusing');
        if($(this).val()){
            $('#search_text').hide();
        }else{
            $('#search_text').show();
        }
    });
//    $('#search_input').bind('input','#search_input',function(){
//        var $searchShow = $("#search_show");
//        if($(this).val()){
//            $searchShow.show();
//        }else{
//            $searchShow.hide();
//        }
//    });
    $('#search_input').bind('keyup','#search_input',function(event){
        event = event || window.event;
        if(event.keyCode == 13){
//            alert(1234);
            if($('#search_input').val() == ''){
                return false;
            }
//            alert($('#search_input').val());
//            alert($(this).val());
//            window.location.href = 'url?keyword='+ $(this).val();

            //将值传入hidden input提交
            if(cookie('trade_search_filter_kind')){
                $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
            }
            if(cookie('trade_search_filter_granularity')){
                $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
            }
            if(cookie('trade_search_filter_heat_min')){
                $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
            }
            if(cookie('trade_search_filter_heat_max')){
                $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
            }
            if(cookie('search_tag')){
                $('input[name=select_category]').val(cookie('search_tag'));
            }

            //将输入的值存入cookie
            cookie('search_input',$('input[name=search_input]').val());

            //提交表单
            document.form_search.method = "post";
            document.form_search.action = "{:U('TradeSearch/trade_search')}";
            document.form_search.submit();
        }
    });
    $('#search_cancel').bind('touchend','#search_cancel',function(){
        $("#search_show").hide();
        $('#search_input').val('');
    });
    $('#search_clear').bind('touchend','#search_cancel',function(){
        $("#search_show").hide();
        $('#search_input').val('');
    });
//    function search_enter(event){
//        event = event || window.event;
////        alert(3);
//        if(event.keyCode == 13){
//            if($('#search_input').val() == ''){
//                alert(123);
//                return false;
//            }
//            console.log($('#search_input').val());
//            alert(1);
////            alert($(this).val());
////            window.location.href = 'url?keyword='+ $(this).val();
//        }
//    };
//    alert($('#search_input').val());
</script>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
            $(this).siblings('a').removeClass('weui_bar_item_on');
            $(this).addClass('weui_bar_item_on');
            $(this).tab('show');
    })
</script>

<!--载入读取上次标签-->
<script>
    $(function(){
        console.log('new');
        if(cookie('search_tag') == '0'){
            //供货信息
            //避免为空或者false
            //标签选中
//            var a = $('#myTab a:eq(1)');
//            a.siblings('a').removeClass('weui_bar_item_on');
//            a.addClass('weui_bar_item_on');
//            a.tab('show');
            $('#myTab a:eq(1)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        }else{
            //求购信息
//            var a = $('#myTab a:eq(0)');
//            a.siblings('a').removeClass('weui_bar_item_on');
//            a.addClass('weui_bar_item_on');
//            a.tab('show');
            $('#myTab a:eq(0)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
            cookie('search_tag','2');
        }
    });
</script>

<!--点击标签查询-->
<script>
    //点击求购信息标签
    $('#myTab a:eq(0)').click(function(){
        //存入所选标签入cookie
        cookie('search_tag','2');
        $('input[name=select_category]').val(cookie('search_tag'));
        //点击标签只传标签值，相当于重置筛选条件
//        $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
//        $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
//        $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
//        $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
//        $('input[name=search_input]').val(cookie('search_input'));
        //重置筛选条件的cookie
        cookie('search_input',null);
        cookie('trade_search_filter_kind',null);
        cookie('trade_search_filter_granularity',null);
        cookie('trade_search_filter_heat_min',null);
        cookie('trade_search_filter_heat_max',null);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('TradeSearch/trade_search')}";
        document.tag_search.submit();
    });

    //点击供应信息标签
    $('#myTab a:eq(1)').click(function(){
        //存入所选标签入cookie
        cookie('search_tag','0');
        $('input[name=select_category]').val(cookie('search_tag'));
        //点击标签只传标签值，相当于重置筛选条件
//        $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
//        $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
//        $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
//        $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
//        $('input[name=search_input]').val(cookie('search_input'));
        //重置筛选条件的cookie
        cookie('search_input',null);
        cookie('trade_search_filter_kind',null);
        cookie('trade_search_filter_granularity',null);
        cookie('trade_search_filter_heat_min',null);
        cookie('trade_search_filter_heat_max',null);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('TradeSearch/trade_search')}";
        document.tag_search.submit();
    })
</script>

<!--搜索框输入查询-->
<script>
//    $('input[name=filter_kind]').val(cookie('trade_search_filter_kind'));
//    $('input[name=filter_granularity]').val(cookie('trade_search_filter_granularity'));
//    $('input[name=filter_heat_min]').val(cookie('trade_search_filter_heat_min'));
//    $('input[name=filter_heat_max]').val(cookie('trade_search_filter_heat_max'));
//    $('input[name=search_input]').val(cookie('search_input'));
//    $('input[name=select_category]').val(cookie('select_category'));
//    function search_submit(){
//        alert(123);
//    }


</script>

<!--滚动功能-->
<script>
//    var myScroll;
//    myScroll = new IScroll('#wrapper',{
//        probeType: 3,
//        mouseWheel: true
//    });
//    function loaded(){
//        myScroll = new IScroll('#wrapper');
//    }
//    console.dir(myScroll.options);

//var myScroll,pullDownEl,pullDownOffset,pullUpEl,pullUpOffset,generatedCount = 0;
//
///**下拉刷新 （自定义实现此方法）
// *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
// */
//function pullDownAction(){
//    setTimeout(function(){
//        var el,li,i;
//        el = document.getElementById('thelist');
//        //==========================================
//        $.ajax({
//            type: "POST",
//            url: "LoadMore.ashx",
//            data: {page: generatedCount},
//            dataType: "json",
//            success:function(data){
//                var json = data;
//                $(json).each(function(){
//                    li = document.createElement('li');
//                    // li.innerText = 'Generated row ' + (++generatedCount);
//                    li.innerHTML = '<img src="' + this.src + '"/>';
//                    el.insertBefore(li,el.childNodes[0]);
//                })
//            }
//        });
//        myScroll.refresh();//数据加载完成后，调用界面更新方法  Remember to refresh when contents are loaded (ie: on ajax completion)
//    },1000);  // <-- Simulate network congestion, remove setTimeout from production!
//}
///**滚动翻页 （自定义实现此方法）
// *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
// */
//function pullUpAction(){
//    setTimeout(function (){
//        var el,li,i;
//        el = document.getElementById('thelist');
//        //==========================================
//        $.ajax({
//            type: "GET",
//            url: "LoadMore.ashx",
//            data: {page: generatedCount},
//            dataType: "json",
//            success: function (data){
//                var json = data;
//                $(json).each(function(){
//                    li = document.createElement('li');
//                    //  li.innerText = 'Generated row ' + (++generatedCount);
//                    li.innerHTML = '<img src="' + this.src + '"/>';
//                    el.insertBefore(li,el.childNodes[0]);
//                })
//            }
//        });
//        //============================================
//        myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
//    },1000); // <-- Simulate network congestion, remove setTimeout from production!
//}
///**
// * 初始化iScroll控件
// */
//function loaded(){
//    pullDownEl = document.getElementById('pullDown');
//    pullDownOffset = pullDownEl.offsetHeight;
//    pullUpEl = document.getElementById('pullUp');
//    pullUpOffset = pullUpEl.offsetHeight;
//    myScroll = new IScroll('#wrapper',{
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
//        useTransition: false,
//        topOffset: pullDownOffset,
//        probeType: 3,
//        onRefresh: function(){
//            if(pullDownEl.className.match('loading')){
//                pullDownEl.className = '';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//            }else if(pullUpEl.className.match('loading')){
//                pullUpEl.className = '';
//                pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
//            }
//        },
//        onScrollMove: function(){
//            if(this.y > 5 && !pullDownEl.className.match('flip')){
//                pullDownEl.className = 'flip';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
//                this.minScrollY = 0;
//            }else if(this.y < 5 && pullDownEl.className.match('flip')){
//                pullDownEl.className = '';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                this.minScrollY = -pullDownOffset;
//            }else if(this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')){
//                pullUpEl.className = 'flip';
//                pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...';
//                this.maxScrollY = this.maxScrollY;
//            }else if(this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')){
//                pullUpEl.className = '';
//                pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
//                this.maxScrollY = pullUpOffset;
//            }
//        },
//        onScrollEnd: function(){
//            if(pullDownEl.className.match('flip')){
//                pullDownEl.className = 'loading';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
//                pullDownAction(); // Execute custom function (ajax call?)
//            }else if(pullUpEl.className.match('flip')){
//                pullUpEl.className = 'loading';
//                pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
//                pullUpAction(); // Execute custom function (ajax call?)
//            }
//        }
//    });
//    console.dir(myScroll.options);
//    setTimeout(function(){
//        document.getElementById('wrapper').style.left = '0';
//    },800);
//}
////初始化绑定iScroll控件
//document.addEventListener('touchmove',function(e){
////    e.preventDefault();
//},false);
//document.addEventListener('DOMContentLoaded',loaded,false);

</script>

</html>