<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>注册界面</title>
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>

</head>
<body>
<div>
    <form action="{:U('Views/StaffsLogin/doRegister')}" method="post" name="" id="form_id" class="form-horizontal">
        <fieldset>
            <legend class="text-center" style="font-size: 3em;color: pink;font-weight: bold">新用户注册</legend>
            <div class="container">
                <div>
                    <input type="text" name="user_name" id="user_name" class="form-control" placeholder="请输入用户名(必填)"
                           required="required">
                </div>
                <br>

                <div>
                    <input type="password" name="password" id="password" class="form-control" placeholder="请输入密码(必填)"
                           required="required">
                </div>
                <br>

                <div>
                    <input type="password" name="password_confirm" id="password_confirm" class="form-control"
                           placeholder="再次输入密码(必填)" required="required">
                </div>
                <br>
            </div>
        </fieldset>
        <br>
        <button type="button" class="btn btn-primary" id="register" style="width: 100%">立即注册</button>
        <br>
        <div style="width:100%;margin-top:15%">
            <a href="Login.html" target="_self">
                <p style="text-align:center;font-size: 1.4em;font-family: 黑体;text-decoration:underline;">
                    已有账号，前往登录
                </p>
            </a>
        </div>
    </form>
</div>
</body>
</html>
<script type="text/javascript">
    $('#register').click(function () {
        var user_name = $('#user_name').val();
        if(!user_name){
            alert('用户名为空！');
            return false;
        }
        var password = $('#password').val();
        var password_confirm = $('#password_confirm').val();
        if (password !== password_confirm) {
            alert('2次密码输入不一样，请确认输入');
            return false;
        }
        else {
            document.getElementById('form_id').submit();
        }
    });
</script>