<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>-->
    <title>工作总结查询</title>
    <style>
        body {
            width: 100%;
            margin: 10px 0 20px;
            background-color: #f0f5f6;
        }

        div {
            margin-top: 30px;
        }


        th {
            height: 2em;
            text-align: center;
            font-size: 1.4em;
        }

        td{
            padding: 10px;
        }

        tbody.one td{
            font-size: 0.5em;
        }

    </style>
</head>
<body>
<h1 style="text-align: center;">周工作总结记录</h1>
<!--选择信息-->
<div style="width: 51%;text-align: center;display: inline-block;">
    <span >第</span>
    <input type="text" style="width: 6em;text-align: center;" id="date">
    <span>周</span>
    <!--查询按钮-->
    <input type="button" value="查询" style="width: 3em;height: 1.5em;padding: 0;margin: 0 0.5em" class="btn btn-primary info_search">
    </div>
<div style="width: 47%;text-align: center;margin-top: 1em;display: inline-block;">
    <span>姓名</span>
    <select id="name" style="width: 8em;">
        <option></option>
        <option>全部</option>
        <option>gaolei</option>
        <option>gls</option>
        <option>hq</option>
        <option>jws</option>
        <option>liuxuan</option>
        <option>lx</option>
        <option>menglili</option>
        <option>mengwenping</option>
        <option>rz</option>
        <option>sundandan</option>
        <option>lxc</option>
        <option>wangpeng</option>
        <option>xunchenlong</option>
        <option>zhangxu</option>
    </select>
</div>
<div style="margin-top: 1em;text-align: center;">
    <table style="display: inline;margin: 0 5em;">
        <thead></thead>
        <tbody class="two">
        </tbody>
    </table>
</div>
<!--展示信息-->
<div style="padding: 10px;">
    <table style="width: 100%;margin: auto;">
        <thead>
        <tr>
            <th >姓名</th>
            <th >上周工作</th>
            <th >本周计划</th>
            <th >问题</th>
            <th >建议</th>
            <th >时间</th>
            <!--<th>操作</th>-->
        </tr>
        </thead>
        <tbody class="one">
        </tbody>
    </table>
</div>
<!--查询按钮-->
<!--<div style="text-align: center;margin: 80px 0 30px 0;">-->
    <!--<input type="button" value="查询" style="width: 112px;height: 42px;" class="btn btn-primary info_search">-->
<!--</div>-->
<!--返回-->
<div id="goback" style="text-align: center;margin-top: 3em">
    <button type="submit" style="width: 112px;height: 42px;" class="btn btn-warning">返回</button>
</div>
</body>
<script type="text/javascript">
    //获取选择信息
    $(".info_search").click(function () {
        var date_type = $('#date').val();
        var name = $('#name').val();
        var time = (new Date(2018, 0, 1, 0, 0, 0)).valueOf();
        var seven = 604800000;
        var date = '';
        if (date_type <= 52 && date_type != 0) {
            date = date_type;
        } else {
            date = Math.ceil(((new Date()).valueOf() - time) / 604800000);
        }
        var time_a = time + seven * (date - 1);
        var time_b = time + seven * date - 1;
        var time_aa = new Date(time_a);
        var time_start = time_aa.getFullYear() + '-' + (time_aa.getMonth() + 1 < 10 ? '0' + (time_aa.getMonth() + 1) : time_aa.getMonth() + 1) + '-' + time_aa.getDate() + ' ' + '' + time_aa.getHours() + ':' + time_aa.getMinutes() + ':' + time_aa.getSeconds();
        var time_bb = new Date(time_b);
        var time_end = time_bb.getFullYear() + '-' + (time_bb.getMonth() + 1 < 10 ? '0' + (time_bb.getMonth() + 1) : time_bb.getMonth() + 1) + '-' + time_bb.getDate() + ' ' + time_bb.getHours() + ':' + time_bb.getMinutes() + ':' + time_bb.getSeconds();
        console.log(date, name, time, seven, time_a, time_b, time_start, time_end);
        $.ajax({
            type: 'post',
            url: "{:U('StaffsLogin/summaryInp')}",
            data: {
                date: date,
                name: name,
                time_start: time_start,
                time_end: time_end

            },
            success: function (data) {
                console.log(data);
                //展示信息
                $('tbody.one').html('');
                $('tbody.two').html('');
                console.log('tbody.one');
//                return false;
                var obj = JSON.parse(data);
                console.log(obj);
                if (obj["msg"] == "yes") {
                    var $recordString = '';
                    var $timeString = '';
                    $.each(obj['data'], function (k, y) {
                        $recordString += "<tr class='place_add'><td style='border: 1px solid #ddd;background-color: #fff;text-align: center;'>" + y['name'] + "</td>" + "<td style='border: 1px solid #ddd;background-color: #fff;text-align: center;'>" + y['process'] + "</td>"
                                + "<td style='border: 1px solid #ddd;background-color: #fff;text-align: center;'>" + y['project'] + "</td>"
                                + "<td style='border: 1px solid #ddd;background-color: #fff;text-align: center;'>" + y['problem'] + "</td>"
                                + "<td style='border: 1px solid #ddd;background-color: #fff;text-align: center;'>" + y['propose'] + "</td>"
                                + "<td style='border: 1px solid #ddd;background-color: #fff;text-align: center;width: 160px;'>" + y['record_time'] + "</td>"
                                +"<td style='display: none'>"+y['id']+"</td>";
                        $recordString += "</tr>";
                    });
//                    $('.place_add').after($recordString);
                    $timeString += "<tr class='place_add'><td style='padding: 0;'>" + time_start + "</td>" + "<td style='padding: 0;'>" + "至" + "</td>"
                            + "<td style='padding: 0 0.5em;'>" + time_end + "</td>" + "</tr>";
                    $('tbody.one').append($recordString);
                    $('tbody.two').append($timeString);
                }
            }
        });
    });
    //    返回
    $('.btn-warning').click(function () {
        window.location.href = "{:U('StaffsLogin/UserProfile')}";
    });
//    $('body').on('click', '.delete', function (){
//        var $this = $(this);
//        var id = $this.parent('td').parent('tr').children('td').eq(7).html().trim();
//        console.log( id);
//        $.ajax(
//                {
//                    type: 'post',
//                    url: "{:U('StaffsLogin/summaryDel')}",
//                    data: {
//                        id: id
//                    },
//                    success: function (data) {
//                        if (data == 1) {
//                            $this.parent('td').parent('tr').css('display','none');
//                            alert('删除成功！');
//                            console.log($this.parent('td').parent('tr'));
//                        } else {
//                            alert('删除失败！');
//                        }
//                    }
//                }
//        )
//    })
</script>
</html>