<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <title>每日信息总量</title>
</head>
<body>
<div class="container">
    <div class="col-md-12"><a class="btn btn-primary" href="{:U('Views/MessageStatistic/all_chart')}?date={$next_date}">查看分类图表</a>

        <table class="table table-hover">

        <tr>

            <td>日期</td>
            <td>信息数量</td>
        </tr>
        <volist name="res" id="vo">
            <tr class="success">
                <td>{$vo.a}</td>
                <td>{$vo.s}</td>
            </tr>
        </volist>
    </table>
</div></div>
</body>
</html>