<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title></title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll.js"></script>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="weui.min.css">
    <script type="text/javascript" src="jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body style="">
<!--标题栏-->
<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">
    <!--<div class="container text-center" style="">-->
    <!--<div style="display: inline-block;height: 100%;vertical-align: middle"></div>-->
        <span class="pull-left" style="">
                <!--<a class="glyphicon glyphicon-chevron-left"></a>-->
            <a href="{:U('PersonalCenter/personal_center')}">
                <img src="__PUBLIC__/home/images/goback.png" class="img-responsive" style="width: 15px;height: auto;margin-top: 40%">
            </a>
        </span>
        <span class="">
            <span class="" style="font-size: 1.5em;margin-left: -4%">上传验车照</span>
        </span>
    <!--</div>-->
</div>
<!--清除浮动-->
<div class="clearfix"></div>
<!--上传照片栏-->
<div class="container">
    <form id="form_car_pic" name="form_car_pic" class="" method="post" action="" enctype="multipart/form-data">
        <div class="form-group col-sm-5 col-xs-5 text-center">
            <div class="weui_uploader_input_wrp">
                <img id="photo_front_prew" class="weui_uploader_input" style="opacity: 1">
                <input class="weui_uploader_input" type="file" name="photo_front" id="photo_front" accept="image/*" multiple>
            </div>
            <label>
                点击上传正面照片
            </label>
        </div>
        <div class="form-group col-sm-2 col-xs-2">
        </div>
        <div class="form-group col-sm-5 col-xs-5">
            <div class="weui_uploader_input_wrp">
                <img id="photo_back_prew" class="weui_uploader_input" style="opacity: 1">
                <input class="weui_uploader_input" type="file" name="photo_back" id="photo_back" accept="image/*">
            </div>
            <label>
                点击上传后面照片
            </label>
        </div>
        <div class="form-group col-sm-5 col-xs-5">
            <div class="weui_uploader_input_wrp">
                <img id="photo_right_prew" class="weui_uploader_input" style="opacity: 1">
                <input class="weui_uploader_input" type="file" name="photo_right" id="photo_right" accept="image/*">
            </div>
            <label>
                点击上传右侧照片
            </label>
        </div>
        <div class="form-group col-sm-2 col-xs-2">
        </div>
        <div class="form-group col-sm-5 col-xs-5">
            <div class="weui_uploader_input_wrp">
                <img id="photo_left_prew" class="weui_uploader_input" style="opacity: 1">
                <input class="weui_uploader_input" type="file" name="photo_left" id="photo_left" accept="image/*">
            </div>
            <label>
                点击上传左侧照片
            </label>
        </div>
        <input type="button" name="" class="btn btn-group-justified " onclick="car_pic_sub()" value="上&nbsp&nbsp&nbsp传" style="margin-top:10%;color:white;font-size: 1.5em;background-color: #fb3e1e">
    </form>
</div>
<input type="file" id="file" onchange="handleFiles(this.files)"/>
<div id="filecontent"></div>
</body>
<script>
    $("#photo_front").change(function(e) {
        for (var i = 0; i < e.target.files.length; i++) {
            var file = e.target.files.item(i);
            var freader = new FileReader();
            freader.readAsDataURL(file);
            freader.onload = function(e) {
                var src = e.target.result;
                $("#photo_front_prew").attr("src",src);
            }
        }
        a = e.target.files[1];
        console.log(a.name);
        console.log(file.name);
        console.log(file.size);
        console.log(file.lastModifiedDate);
        console.log(file.type);
    });
    $("#photo_back").change(function(e) {
        for (var i = 0; i < e.target.files.length; i++) {
            var file = e.target.files.item(i);
            var freader = new FileReader();
            freader.readAsDataURL(file);
            freader.onload = function(e) {
                var src = e.target.result;
                $("#photo_back_prew").attr("src",src);
            }
        }
    });
    $("#photo_right").change(function(e) {
        for (var i = 0; i < e.target.files.length; i++) {
            var file = e.target.files.item(i);
            var freader = new FileReader();
            freader.readAsDataURL(file);
            freader.onload = function(e) {
                var src = e.target.result;
                $("#photo_right_prew").attr("src",src);
            }
        }
    });
    $("#photo_left").change(function(e) {
        for (var i = 0; i < e.target.files.length; i++) {
            var file = e.target.files.item(i);
            var freader = new FileReader();
            freader.readAsDataURL(file);
            freader.onload = function(e) {
                var src = e.target.result;
                $("#photo_left_prew").attr("src",src);
            }
        }
    });
</script>
<script>
    function  handleFiles(files)
    {
        if(files.length)
        {
            var file = files[0];
            var reader = new FileReader();
            reader.onload = function()
            {
                document.getElementById("filecontent").innerHTML = this.result;
            };
            reader.readAsDataURL(file);
        }
        alert(file.name);
        alert(file.size);
        alert(file.lastModifiedDate);
        alert(file.type);
        alert(file.name);
    }
</script>
</html>