<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>我的个人主页（车主）</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<body onload="onload()">
<include file="Common:common"/>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
        <a href="#driver_basic_data" class="weui_navbar_item weui_bar_item_on" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                基本信息
            </span>
        </a>
        <a href="#driver_work_exp" class="weui_navbar_item" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                从业经验
            </span>
        </a>
    </div>
</div>
<!--发布栏-->
<div class="tab-content" style="">
    <div id="driver_basic_data" class="tab-pane active" style="">
        <form id="form_driver_basic_data" name="form_driver_basic_data" class="" method="post"
              action="{:U('PersonalCenter/driver_data_do')}">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        <a href="#" aria-expanded="true" style="text-decoration: none;color:black">
                            <div style="vertical-align: middle">
                                <span>
                                    <if condition="$user_driver['heading_url']"><img
                                            src="{$user_driver['heading_url']}"style="width: 50px">
                                        <else/>
                                        <img src="__PUBLIC__/home/images/headimg_background.png"
                                             style="width: 50px">
                                    </if>
                                </span>
                                &nbsp;我的头像
                                <!--<span class="pull-right" style="margin-top:3.5%">-->
                                <!--<img src="__PUBLIC__/home/images/goto.png" class="" style="width: 10px">-->
                                <!--</span>-->
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">姓名</span>
                            </span>
                            <input id="nickname" name="nickname" class="form-control" placeholder="请输入姓名"
                                   style="border-radius: 0;border: 0" value="{$user_owner['user_name']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">电话</span>
                            </span>
                            <input id="phone_number" name="phone_number" class="form-control" placeholder="请输入电话"
                                   style="border-radius: 0;border: 0" onclick="phone_register()"
                                   value="{$user_owner['phone_number']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <a data-toggle="collapse" href="#collapse_sex" aria-expanded="true"
                           style="text-decoration: none;color:black">
                            <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">性别</span>
                                </span>
                                <span id="sex" style="border: 0" class="form-control"></span>
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white;position: relative;">
                                    <span class="dropdown-arrow"></span>
                                </span>
                            </div>
                        </a>

                        <div id="collapse_sex" class="collapse" role="tablist" aria-labelledby="" style="margin-bottom: 4px">
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="rdo1" type="radio" class="pull-left" style="display: none" name="sex"
                                       autocomplete="off" value="1">男
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="rdo2" type="radio" class="pull-left" style="display: none" name="sex"
                                       autocomplete="off" value="2">女
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="rdo0" type="radio" class="pull-left" style="display: none" name="sex"
                                       autocomplete="off" value="0">保密
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">身份证号</span>
                            </span>
                            <input name="id_card" class="form-control" placeholder="请输入您的身份证号"
                                   style="border-radius: 0;border: 0" value="{$user_driver['id_card']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">驾驶证号</span>
                            </span>
                            <input name="drive_card" class="form-control" placeholder="请输入您的驾驶证号"
                                   style="border-radius: 0;border: 0" value="{$user_driver['drive_card']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">车牌号</span>
                            </span>
                            <input name="plate_number" class="form-control" placeholder="请输入您的车牌号"
                                   style="border-radius: 0;border: 0" value="{$user_car['plate_number']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <a data-toggle="collapse" href="#collapse_car_type" aria-expanded="true"
                           aria-controls="collapse_car_type" style="text-decoration: none;color:black">
                            <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">车辆类型</span>
                                </span>
                                <span id="car_type_html" style="border: 0" class="form-control"></span>
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white;position: relative;">
                                    <span class="dropdown-arrow"></span>
                                </span>
                            </div>
                        </a>

                        <div id="collapse_car_type" class="collapse" role="tablist" aria-labelledby="" style="margin-bottom: 4px">
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_1" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="1">平 板
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_2" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="2">厢 式
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_3" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="3">高 栏
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_4" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="4">仓 栅
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_5" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="5">罐 式
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_6" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="6">自 卸
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="car_type_7" type="radio" class="pull-left" style="display: none" name="car_type"
                                       autocomplete="off" value="7">其 他
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">核载吨数</span>
                            </span>
                            <input name="carrying_capacity" class="form-control" placeholder="请输入车辆核载吨数"
                                   style="border-radius: 0;border: 0" value="{$user_car['carrying_capacity']}">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="" id="" class="btn btn-group-justified " value="确&nbsp&nbsp&nbsp定"
                   style="margin-top:10%;color:white;font-size: 1.5em;background-color: #fb3e1e" onclick="confirm_modal_basic()">
        </form>
    </div>
    <div id="driver_work_exp" class="tab-pane" style="">
        <form id="form_driver_work_exp" name="form_driver_work_exp" class="" method="post"
              action="{:U('PersonalCenter/driver_work_exp_do')}">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        &nbsp;从业时间
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0;align-items: center;justify-content: center">
                        <div class="col-xs-5">
                            <input class="form-control" type="date" name="work_time_start"
                                   style="border-radius: 0;border: 0" placeholder="开始时间" value="{$user_driver['work_time_start']}">
                        </div>
                        <div class="col-xs-2" style="margin-top: 6px">
                            <span>至</span>
                        </div>
                        <div class="col-xs-5">
                            <input class="form-control" type="date" name="work_time_end"
                                   style="border-radius: 0;border: 0" placeholder="结束时间" value="{$user_driver['work_time_end']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                车辆购买时间
                            </span>
                            <input type="date" name="buy_car_time" class="form-control" placeholder="请输入购车时间"
                                   style="border-radius: 0;border: 0" value="{$user_driver['buy_car_time']}">
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td style="">
                        <div class="form-group" style="">
                            <label>
                                行业描述
                            </label>
                            <textarea name="work_description" class="form-control">{$user_driver['work_description']}</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="" class="btn btn-group-justified " value="确&nbsp&nbsp&nbsp定"
                   style="margin-top:10%;color:white;font-size: 1.5em;background-color: #fb3e1e" onclick="confirm_modal_exp()">
        </form>
    </div>
</div>
<!--确认修改基本信息模态框-->
<div class="modal fade" id="confirm_modal_basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">确定修改吗？</span>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="submit_basic_form()" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    确定
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--确认修改从业经验模态框-->
<div class="modal fade" id="confirm_modal_exp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">确定修改吗？</span>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="submit_exp_form()" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    确定
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<!--折叠下拉箭头变换效果-->
<script>
    $("[data-toggle='collapse']").on('click', function () {
        $(this).find('.dropdown-arrow').toggleClass('dropdown-arrow-open');
    });
</script>
<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    })
</script>
<!--按钮选择样式-->
<script>
    $('input[name=sex]').click(function () {
        var check_val = $(this).val();
        $(this).parent('label').siblings().removeClass('myactive');
        $(this).parent('label').toggleClass('myactive');
        var temp_html = $(this).parent('label').parent('div').parent('td').children('a').children('div').children('span').eq(1);
        var sex_html;
        switch (check_val){
            case '1':sex_html = '男';break;
            case '2':sex_html = '女';break;
            case '0':sex_html = '保密';break;
            default:sex_html = '未知';
        }
        temp_html.html(sex_html);
        if(!$(this).parent('label').hasClass('myactive')){
            console.log('cancel_check');
            $(this).attr('checked',false);
            temp_html.html('');
        }
    });
    $('input[name=car_type]').click(function () {
        var check_val = $(this).val();
        $(this).parent('label').siblings().removeClass('myactive');
        $(this).parent('label').toggleClass('myactive');
        var temp_html = $(this).parent('label').parent('div').parent('td').children('a').children('div').children('span').eq(1);
        var car_type_html;
        switch (check_val){
            case '1':car_type_html = '平板';break;
            case '2':car_type_html = '厢式';break;
            case '3':car_type_html = '高栏';break;
            case '4':car_type_html = '仓栅';break;
            case '5':car_type_html = '罐式';break;
            case '6':car_type_html = '自卸';break;
            case '7':car_type_html = '其他';break;
            default:car_type_html = '未知';
        }
        temp_html.html(car_type_html);
        if(!$(this).parent('label').hasClass('myactive')){
            console.log('cancel_check');
            $(this).attr('checked',false);
            temp_html.html('');
        }
    });
</script>
<script>
    $(function(){
        if ("{$user_driver['sex']}" == "1") {
            $("#rdo1").attr("checked", "checked");
            $('#sex').html('男');
        } else if ("{$user_driver['sex']}" == "2") {
            $("#rdo2").attr("checked", "checked");
            $('#sex').html('女');
        } else if ("{$user_driver['sex']}" == "0") {
            $("#rdo0").attr("checked", "checked");
            $('#sex').html('保密');
        } else {
            // 用户没选，什么都不做
        }

        if ("{$user_car['type_id']}" == "1") {
            $("#car_type_1").attr("checked", "checked");
            $('#car_type_html').html('平板');
        } else if ("{$user_car['type_id']}" == "2") {
            $("#car_type_2").attr("checked", "checked");
            $('#car_type_html').html('厢式');
        } else if ("{$user_car['type_id']}" == "3") {
            $("#car_type_3").attr("checked", "checked");
            $('#car_type_html').html('高栏');
        } else if ("{$user_car['type_id']}" == "4") {
            $("#car_type_4").attr("checked", "checked");
            $('#car_type_html').html('仓栅');
        } else if ("{$user_car['type_id']}" == "5") {
            $("#car_type_5").attr("checked", "checked");
            $('#car_type_html').html('罐式');
        } else if ("{$user_car['type_id']}" == "6") {
            $("#car_type_6").attr("checked", "checked");
            $('#car_type_html').html('自卸');
        } else if ("{$user_car['type_id']}" == "7") {
            $("#car_type_7").attr("checked", "checked");
            $('#car_type_html').html('其他');
        } else {
            // 用户没选，什么都不做
        }
    })
</script>
<script>
    function confirm_modal_basic(){
        $('#confirm_modal_basic').modal();
    }

    function confirm_modal_exp(){
        $('#confirm_modal_exp').modal();
    }

    function submit_basic_form() {
        cookie('form_basic_data', null);
        ck_log("submit","车主-提交个人基本信息");
        document.getElementById('form_driver_basic_data').submit();
    }

    function submit_exp_form() {
        cookie('form_exp_data', null);
        ck_log("submit","车主-提交个人职业信息");
        document.getElementById('form_driver_work_exp').submit();
    }
</script>
<script>
    function share() {
        showToast2("点击右上角，分享至好友或朋友圈↗");
    }
</script>
<script>
    function onload(){
        cookie("current_action","PersonalCenter/driver_data?uid={$user_driver['uid']}");
    }
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        var role = "";
        if('{$user_driver["role_id"]}'=='1'){
            role = "(车主)";
        }else{
            role = "(货主)";
        }
        wx.onMenuShareTimeline({

            title: '{$user_driver["user_name"]}'+role, // 分享标题
            link: "http://www.xuncl.com/index.php/Home/PersonalCenter/driver_data?uid={$user_driver['uid']}", // 分享链接
            imgUrl: "{$user_driver['heading_url']}", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share","车主-分享自己的页面至朋友圈");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share","车主-取消分享自己的页面至朋友圈");
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '{$user_driver["user_name"]}'+role, // 分享标题
            desc: '{$user_driver["user_name"]}'+role, // 分享描述
            link: "http://www.xuncl.com/index.php/Home/PersonalCenter/driver_data?uid={$user_driver['uid']}", // 分享链接
            imgUrl: "{$user_driver['heading_url']}", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share","车主-分享自己的页面给好友");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share","车主-取消分享自己的页面给好友");
            }
        });
    });
</script>
<!--浏览地址回退刷新-->
<script>
    $(function(){
        if(navigator.userAgent.indexOf('Android') > 0){

        }else{
            //返回操作
            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#"
                };
                window.history.pushState(state, "title", "#");
            }
            pushHistory();
            window.addEventListener("popstate", function (e) {
                window.location=document.referrer;
            },false);
        }
    })
</script>
</html>