<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>个人主页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<body onload="onload()">
<include file="Common:common"/>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
        <a href="#driver_basic_data" class="weui_navbar_item weui_bar_item_on" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                基本信息
            </span>
        </a>
        <a href="#driver_work_exp" class="weui_navbar_item" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                从业经验
            </span>
        </a>
    </div>
</div>
<!--发布栏-->
<div class="tab-content" style="">
    <div id="driver_basic_data" class="tab-pane active" style="">
        <table class="table table-responsive" style="border: 0">
            <tr>
                <td>
                    <a href="#" aria-expanded="true" style="text-decoration: none;color:black">
                        <div style="vertical-align: middle">
                                <span>
                                    <if condition="$user_driver['heading_url']"><img
                                            src="{$user_driver['heading_url']}" style="width: 50px">
                                        <else/>
                                        <img src="__PUBLIC__/home/images/headimg_background.png"
                                             style="width: 50px">
                                    </if>
                                </span>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">姓名</span>
                            </span>
                        <input id="nickname" name="nickname" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_driver['user_name']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">电话</span>
                            </span>
                        <input id="phone_number" name="phone_number" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_driver['phone_number']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">性别</span>
                                </span>
                        <switch name="user_driver['sex']">
                            <case value="0"><input name="sex" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="保密"
                                                   disabled="true"></case>
                            <case value="1"><input name="sex" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="男"
                                                   disabled="true"></case>
                            <case value="2"><input name="sex" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="女"
                                                   disabled="true"></case>
                            <default/>
                            <input name="sex" class="form-control"
                                   style="border-radius: 0;border: 0;background: white" value="未知"
                                   disabled="true">
                        </switch>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">身份证号</span>
                            </span>
                        <input name="id_card" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_driver['id_card']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">驾驶证号</span>
                            </span>
                        <input name="drive_card" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_driver['drive_card']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">车牌号</span>
                            </span>
                        <input name="plate_number" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_car['plate_number']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">车辆类型</span>
                                </span>
                        <switch name="user_car['type_id']">
                            <case value="1"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="平板"
                                                   disabled="true"></case>
                            <case value="2"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="厢式"
                                                   disabled="true"></case>
                            <case value="3"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="高栏"
                                                   disabled="true"></case>
                            <case value="4"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="仓栅"
                                                   disabled="true"></case>
                            <case value="5"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="罐式"
                                                   disabled="true"></case>
                            <case value="6"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="自卸"
                                                   disabled="true"></case>
                            <case value="7"><input name="type_id" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="其他"
                                                   disabled="true"></case>
                            <default/>
                            <input name="type_id" class="form-control"
                                   style="border-radius: 0;border: 0;background: white" value="未知"
                                   disabled="true">
                        </switch>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">核载吨数</span>
                            </span>
                        <input name="carrying_capacity" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_car['carrying_capacity']}"
                               disabled="true">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                    </div>
                </td>
            </tr>
        </table>
        <!--<input type="button" name="share_button" id="share_button" class="btn btn-group-justified "-->
               <!--value="分&nbsp&nbsp&nbsp享"-->
               <!--style="margin-top:10%;color:white;font-size: 1.5em;background-color: #04bfc6" onclick="share()">-->
    </div>
    <div id="driver_work_exp" class="tab-pane" style="">
        <table class="table table-responsive" style="border: 0">
            <tr>
                <td>
                    &nbsp;从业时间
                </td>
            </tr>
            <tr>
                <td style="padding: 0;align-items: center;justify-content: center">
                    <div class="col-xs-5">
                        <input class="form-control" type="date" name="work_time_start" placeholder="开始时间"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_driver['work_time_start']}"
                               disabled="true">
                    </div>
                    <div class="col-xs-2" style="margin-top: 6px">
                        <span>至</span>
                    </div>
                    <div class="col-xs-5">
                        <input class="form-control" type="date" name="work_time_end" placeholder="结束时间"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_driver['work_time_end']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                车辆购买时间
                            </span>
                        <input type="date" name="buy_car_time" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_driver['buy_car_time']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr style="border:none">
                <td style="">
                    <div class="form-group" style="">
                        <span>
                            行业描述
                        </span>

                        <p>{$user_driver['work_description']}</p>
                    </div>
                </td>
            </tr>
        </table>
        <!--<input type="button" name="share_button" id="share_button2" class="btn btn-group-justified "-->
               <!--value="分&nbsp&nbsp&nbsp享"-->
               <!--style="margin-top:10%;color:white;font-size: 1.5em;background-color: #04bfc6" onclick="share()">-->
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    })
</script>
<script>
    function share() {
        showToast2("点击右上角，分享至好友或朋友圈↗");
    }
</script>
<script>
    function onload(){
        cookie("current_action","PersonalCenter/driver_data?uid={$user_driver['uid']}");
    }
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        var role = "";
        if('{$user_driver["role_id"]}'=='1'){
            role = "(车主)";
        }else{
            role = "(货主)";
        }

        wx.onMenuShareTimeline({

            title: '{$user_driver["user_name"]}'+role, // 分享标题
            link: "http://www.xuncl.com/index.php/Home/PersonalCenter/driver_data?uid={$user_driver['uid']}", // 分享链接
            imgUrl: "{$user_driver['heading_url']}", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share","分享车主{$user_driver['uid']}的页面至朋友圈");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share","取消分享车主{$user_driver['uid']}的页面至朋友圈");
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '{$user_driver["user_name"]}'+role, // 分享标题
            desc: '{$user_driver["user_name"]}'+role, // 分享描述
            link: "http://www.xuncl.com/index.php/Home/PersonalCenter/driver_data?uid={$user_driver['uid']}", // 分享链接
            imgUrl: "{$user_driver['heading_url']}", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share","分享车主{$user_driver['uid']}的页面给好友");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share","取消分享车主{$user_driver['uid']}的页面给好友");
            }
        });
    });
</script>
<!--浏览地址回退刷新-->
<script>
    $(function(){
        if(navigator.userAgent.indexOf('Android') > 0){

        }else{
            //返回操作
            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#"
                };
                window.history.pushState(state, "title", "#");
            }
            pushHistory();
            window.addEventListener("popstate", function (e) {
                window.location=document.referrer;
            },false);
        }
    })
</script>
</html>