<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>我的个人主页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
</head>
<body onload="onload()">
<include file="Common:common"/>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
        <a href="#owner_basic_data" class="weui_navbar_item weui_bar_item_on" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                基本信息
            </span>
        </a>
        <a href="#owner_work_exp" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                从业经验
            </span>
        </a>
    </div>
</div>
<!--发布栏-->
<div class="tab-content" style="">
    <div id="owner_basic_data" class="tab-pane active" style="">
        <form id="form_owner_basic_data" name="form_owner_basic_data" class="" method="post"
              action="{:U('PersonalCenter/owner_data_do')}">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        <a href="#" aria-expanded="true" style="text-decoration: none;color:black">
                            <div style="vertical-align: middle">
                                <span>
                                    <if condition="$user_owner['heading_url']"><img
                                            src="{$user_owner['heading_url']}" style="width: 50px">
                                        <else/>
                                        <img src="__PUBLIC__/home/images/headimg_background.png" style="width: 50px">
                                    </if>
                                </span>
                                &nbsp;我的头像
                                <!--<span class="pull-right" style="margin-top:3.5%">-->
                                <!--<img src="__PUBLIC__/home/images/goto.png" class="" style="width: 10px">-->
                                <!--</span>-->
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">姓名</span>
                            </span>
                            <input id="nickname" name="nickname" class="form-control" placeholder="请输入姓名"
                                   style="border-radius: 0;border: 0" value="{$user_owner['user_name']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">电话</span>
                            </span>
                            <input id="phone_number" name="phone_number" class="form-control" placeholder="请输入电话"
                                   style="border-radius: 0;border: 0" onclick="phone_register()"
                                   value="{$user_owner['phone_number']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <a data-toggle="collapse" href="#collapse_sex" aria-expanded="true"
                           style="text-decoration: none;color:black">
                            <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">性别</span>
                                </span>
                                <span id="sex" style="border: 0" class="form-control"></span>
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights"
                                         style="width: 20px">
                                </span>
                            </div>
                        </a>

                        <div id="collapse_sex" class="collapse" role="tablist" aria-labelledby="" style="margin-bottom: 4px">
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="rdo1" type="radio" class="pull-left" style="display: none" name="sex"
                                       autocomplete="off" value="1">男
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="rdo2" type="radio" class="pull-left" style="display: none" name="sex"
                                       autocomplete="off" value="2">女
                            </label>
                            <label class="mybtn mybtn-default"
                                   style="margin-left: 8%;width:22%;margin-top:5px;text-align: center;">
                                <input id="rdo0" type="radio" class="pull-left" style="display: none" name="sex"
                                       autocomplete="off" value="0">保密
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">生日</span>
                            </span>
                            <input type="date" name="birthday" class="form-control" placeholder="请输入生日"
                                   style="border-radius: 0;border: 0" value="{$user_owner['birthday']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">公司名称</span>
                            </span>
                            <input id="supply_company" name="supply_company" class="form-control"
                                   placeholder="请输入您的矿、厂名称" style="border-radius: 0;border: 0"
                                   value="{$user_company['name']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div onclick="get_area()">
                            <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">所在地区</span>
                                </span>
                                <span id="reside_area" style="border: 0" class="form-control">{$user_district}</span>
                                <input type="hidden" name="reside_area">
                                <input type="hidden" name="area_start_name" id="sell_area_start_name">
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white">
                                    <img src="__PUBLIC__/home/images/goto.png" class="pull-right"
                                         style="width: 10px">
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">详细地址</span>
                            </span>
                            <input id="area_detail" name="area_detail" class="form-control" placeholder="请输入详细地址"
                                   style="border-radius: 0;border: 0" value="{$user_owner['area_detail']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">邀请人</span>
                            </span>
                            <input id="invite_id" name="invite_id" class="form-control" placeholder="请输入邀请人编码"
                                   style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="confirm_button" id="confirm_button" class="btn btn-group-justified "
                   value="确&nbsp&nbsp&nbsp定"
                   style="margin-top:10%;color:white;font-size: 1.5em;background-color: #fb3e1e"
                   onclick="confirm_modal_basic()">

            <div id="result"></div>
        </form>
    </div>
    <div id="owner_work_exp" class="tab-pane" style="">
        <form id="form_owner_work_exp" name="form_owner_work_exp" class="" method="post"
              action="{:U('PersonalCenter/owner_work_exp_do')}">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">行业类型</span>
                            </span>
                            <input id="owner_work_type" name="owner_work_type" class="form-control"
                                   placeholder="请输入行业类型" style="border-radius: 0;border: 0"
                                   value="{$user_company['type']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">从业时间</span>
                            </span>
                            <input id="work_time" name="work_time" class="form-control" placeholder="请输入从业时间"
                                   style="border-radius: 0;border: 0" value="{$user_owner['work_time']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">公司名称</span>
                            </span>
                            <input id="company_name" name="company_name" class="form-control" placeholder="请输入您的公司名称"
                                   style="border-radius: 0;border: 0" value="{$user_company['name']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">所属部门</span>
                            </span>
                            <input id="owner_department" name="owner_department" class="form-control"
                                   placeholder="请输入您的部门" style="border-radius: 0;border: 0"
                                   value="{$user_owner['owner_department']}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon" style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">职位</span>
                            </span>
                            <input name="owner_position" class="form-control" placeholder="请输入您的职位"
                                   style="border-radius: 0;border: 0" value="{$user_owner['owner_position']}">
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td style="">
                        <div class="form-group" style="">
                            <label>
                                行业描述
                            </label>
                            <textarea name="work_description"
                                      class="form-control">{$user_owner['work_description']}</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="confirm_button2" class="btn btn-group-justified " value="确&nbsp&nbsp&nbsp定"
                   style="margin-top:10%;color:white;font-size: 1.5em;background-color: #fb3e1e"
                   onclick="confirm_modal_exp()">
        </form>
    </div>
</div>
<!--确认修改基本信息模态框-->
<div class="modal fade" id="confirm_modal_basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">确定修改吗？</span>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="submit_basic_form()" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    确定
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--确认修改从业经验模态框-->
<div class="modal fade" id="confirm_modal_exp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">确定修改吗？</span>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="submit_exp_form()" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    确定
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    });
</script>
<!--按钮选择样式-->
<script>
    $('input[type=radio]').click(function () {
        var check_val = $(this).val();
        $(this).parent('label').siblings().removeClass('myactive');
        $(this).parent('label').toggleClass('myactive');
        var temp_html = $(this).parent('label').parent('div').parent('td').children('a').children('div').children('span').eq(1);
        var sex_html;
        switch (check_val){
            case '1':sex_html = '男';break;
            case '2':sex_html = '女';break;
            case '0':sex_html = '保密';break;
            default:sex_html = '未知';
        }
        temp_html.html(sex_html);
        if(!$(this).parent('label').hasClass('myactive')){
            console.log('cancel_check');
            $(this).attr('checked',false);
            temp_html.html('');
        }
    });
</script>
<!--areaSearch跳转回来时读取cookie信息-->
<script>
    $(function () {
        // 组装已有数据
        // 地址
        $('#reside_area').html(cookie('area_start'));
        $('input[name=reside_area]').val(cookie('area_start'));
        // 性别
        if ("{$user_owner['sex']}" == "1") {
            $("#rdo1").attr("checked", "checked");
            $('#sex').html('男');
        } else if ("{$user_owner['sex']}" == "2") {
            $("#rdo2").attr("checked", "checked");
            $('#sex').html('女');
        } else if ("{$user_owner['sex']}" == "0") {
            $("#rdo0").attr("checked", "checked");
            $('#sex').html('保密');
        } else {
            // 用户没选，什么都不做
        }
        // 基本信息
        if (cookie('form_basic_data')) {
            var basic_obj = JSON.parse(cookie('form_basic_data'));
            for (var i = 0; i < basic_obj.length; i++) {
                $("#" + basic_obj[i].name).val(basic_obj[i].value)
                console.log(basic_obj[i].name + "->" + basic_obj[i].value);
            }
        }
        // 从业信息
        if (cookie('form_exp_data')) {
            var exp_obj = JSON.parse(cookie('form_exp_data'));
            for (var i = 0; i < exp_obj.length; i++) {
                $("#" + exp_obj[i].name).val(exp_obj[i].value)
                console.log(exp_obj[i].name + "->" + exp_obj[i].value);
            }
        }
    })
</script>
<script>
    function phone_register() {
        // todo
    }

    function get_area() {
        cookie('start_or_end', 'start');
//        alert(window.location.href);
        cookie('last_url', window.location.href);
        cookie('form_basic_data', JSON.stringify($("#form_owner_basic_data").serializeArray()));
        cookie('form_exp_data', JSON.stringify($("#form_owner_work_exp").serializeArray()));
        window.location.href = "{:U('areaSearch/area_search')}";
    }

    function confirm_modal_basic(){
        $('#confirm_modal_basic').modal();
    }

    function confirm_modal_exp(){
        $('#confirm_modal_exp').modal();
    }

    function submit_basic_form() {
        cookie('form_basic_data', null);
        document.getElementById('form_owner_basic_data').submit();
    }

    function submit_exp_form() {
        cookie('form_exp_data', null);
        document.getElementById('form_owner_work_exp').submit();
    }
</script>
<script>
    function share() {
        showToast2("点击右上角，分享至好友或朋友圈↗");
    }
</script>
<script>
    function onload(){
        cookie("current_action","PersonalCenter/owner_data?uid={$user_owner['uid']}");
    }
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        var role = "";
        if('{$user_owner["role_id"]}'=='1'){
            role = "(车主)";
        }else{
            role = "(货主)";
        }
        wx.onMenuShareTimeline({

            title: '{$user_owner["user_name"]}'+role, // 分享标题
            link: "http://www.kuaimei56.com/index.php/Home/PersonalCenter/owner_data?uid={$user_owner['uid']}", // 分享链接
            imgUrl: "{$user_owner['heading_url']}", // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '{$user_owner["user_name"]}'+role, // 分享标题
            desc: '{$user_owner["user_name"]}'+role, // 分享描述
            link: "http://www.kuaimei56.com/index.php/Home/PersonalCenter/owner_data?uid={$user_owner['uid']}", // 分享链接
            imgUrl: "{$user_owner['heading_url']}", // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</html>