<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>{$user_owner['user_name']}的个人主页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="weui.min.css">
    <script type="text/javascript" src="jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body style="">
<!--标题栏-->
<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">
        <span class="pull-left" style="">
            <a href="{$last_url}">
                <img src="__PUBLIC__/home/images/goback.png" class="img-responsive"
                     style="width: 15px;height: auto;margin-top: 40%">
            </a>
        </span>
        <span class="">
            <span class="" style="font-size: 1.5em;margin-left: -4%">查看资料</span>
        </span>
</div>
<!--清除浮动-->
<div class="clearfix"></div>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
        <a href="#owner_basic_data" class="weui_navbar_item weui_bar_item_on" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                基本信息
            </span>
        </a>
        <a href="#owner_work_exp" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                从业经验
            </span>
        </a>
    </div>
</div>
<!--发布栏-->
<div class="tab-content" style="">
    <div id="owner_basic_data" class="tab-pane active" style="">
        <table class="table table-responsive" style="border: 0">
            <tr>
                <td>
                    <a href="#" aria-expanded="true" style="text-decoration: none;color:black">
                        <div style="vertical-align: middle">
                                <span>
                                    <if condition="$user_owner['heading_url']"><img
                                            src="{$user_owner['heading_url']}" style="width: 50px">
                                        <else/>
                                        <img src="__PUBLIC__/home/images/headimg_background.png"
                                             style="width: 50px">
                                    </if>
                                </span>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                姓名
                            </span>
                        <input id="nickname" name="nickname" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_owner['user_name']}"
                               disabled="true"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                电话
                            </span>
                        <input id="phone_number" name="phone_number" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_owner['phone_number']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                性别
                            </span>
                        <switch name="user_owner['sex']">
                            <case value="0"><input name="sex" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="保密"
                                                   disabled="true"></case>
                            <case value="1"><input name="sex" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="男"
                                                   disabled="true"></case>
                            <case value="2"><input name="sex" class="form-control"
                                                   style="border-radius: 0;border: 0;background: white" value="女"
                                                   disabled="true"></case>
                            <default/>
                            <input name="sex" class="form-control"
                                   style="border-radius: 0;border: 0;background: white" value="未知"
                                   disabled="true">
                        </switch>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                生日
                            </span>
                        <input type="date" name="birthday" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_owner['birthday']}"
                               disabled="true"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                公司名称
                            </span>
                        <input id="supply_company" name="supply_company" class="form-control"
                               placeholder="未知" style="border-radius: 0;border: 0;background: white"
                               value="{$user_company['name']}" disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                所在地区
                            </span>
                        <input name="reside_area" class="form-control"
                               style="border-radius: 0;border: 0;background: white" value="{$user_district}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                详细地址
                            </span>
                        <input id="area_detail" name="area_detail" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_owner['area_detail']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
        </table>

        <input type="button" name="share_button" id="share_button" class="btn btn-group-justified "
               value="分&nbsp&nbsp&nbsp享"
               style="margin-top:10%;color:white;font-size: 1.5em;background-color: #04bfc6" onclick="share()">

        <div id="result"></div>
    </div>
    <div id="owner_work_exp" class="tab-pane" style="">
        <table class="table table-responsive" style="border: 0">
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                行业类型
                            </span>
                        <input id="owner_work_type" name="owner_work_type" class="form-control"
                               placeholder="未知" style="border-radius: 0;border: 0;background: white"
                               value="{$user_company['type']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                从业时间
                            </span>
                        <input id="work_time" name="work_time" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_owner['work_time']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                公司名称
                            </span>
                        <input id="company_name" name="company_name" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white" value="{$user_company['name']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                所属部门
                            </span>
                        <input id="owner_department" name="owner_department" class="form-control"
                               placeholder="未知" style="border-radius: 0;border: 0;background: white"
                               value="{$user_owner['owner_department']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                职位
                            </span>
                        <input name="owner_position" class="form-control" placeholder="未知"
                               style="border-radius: 0;border: 0;background: white"
                               value="{$user_owner['owner_position']}"
                               disabled="true">
                    </div>
                </td>
            </tr>
            <tr style="border:none">
                <td style="">
                    <div class="form-group" style="">
                        <span>
                            行业描述
                        </span>

                        <p>{$user_owner['work_description']}</p>
                    </div>
                </td>
            </tr>
        </table>
        <input type="button" name="share_button" id="share_button2" class="btn btn-group-justified "
               value="分&nbsp&nbsp&nbsp享"
               style="margin-top:10%;color:white;font-size: 1.5em;background-color: #04bfc6" onclick="share()">

    </div>
</div>
</body>
<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    })
</script>
<script>
    function share() {
        // todo
    }
</script>
</html>