<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/echarts.min.js"></script>
    <title>{$s_date}->{$e_date}用户行为统计</title>
</head>
<body>
<h1>{$s_date}->{$e_date}用户行为统计</h1>

<table class="table table-hover text-center" style="table-layout: fixed">
    <tr>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/show_all')}?s_date={$s_date}&e_date={$e_date}">个人统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/page')}?s_date={$s_date}&e_date={$e_date}">页面统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/oper')}?s_date={$s_date}&e_date={$e_date}">操作统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/dial')}?s_date={$s_date}&e_date={$e_date}">电话呼入统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/user_to_dial')}?s_date={$s_date}&e_date={$e_date}">电话呼出统计总页</a></td>
        <td><a class="btn btn-warning" href="{:U('Views/LogStatistics/dial_web')}?s_date={$s_date}&e_date={$e_date}">电话双向统计总页</a></td>
        <td><a class="btn btn-warning" href="{:U('Views/MessageStatistic/statistic_all')}">信息总量统计总页</a></td>
    </tr>

</table>
<table class="table table-hover text-center" style="table-layout: fixed">
    <tr>
        <td><a class="btn" href="{:U('Views/LogStatistics/show_all')}?s_date={$prev_s_date}&e_date={$prev_e_date}">前七天</a></td>
        <td><h4>{$s_date}->{$e_date}</h4></td>
        <td><a class="btn" href="{:U('Views/LogStatistics/show_all')}?s_date={$next_s_date}&e_date={$next_e_date}">后七天</a></td>
    </tr>
    <tr>
        <td><label for="s_picker">起始日期：</label><input id="s_picker" type="date" value="{$s_date}"/></td>
        <td><label for="e_picker">结束日期：</label><input id="e_picker" type="date" value="{$e_date}"/></td>
        <td><a class="btn btn-primary" href="javascript:void(0);" onclick="select_date()">自定义时长查询(不包含结束日期)</a></td>
    </tr>
</table>
<div id="main" style="width: 100%;height:800px;"></div>
<table class="table table-hover">

    <tr>

        <td>序号</td>
        <td>用户</td>
        <td>用户名</td>
        <td>角色</td>
        <td>操作次数</td>
        <td>最后操作时间</td>
        <td>详细</td>
    </tr>
    <volist name="res" id="vo">
        <tr class="success">
            <td>{$i}</td>
            <td>{$vo.uid}</td>
            <td>{$vo.user_name}</td>
            <td>{$vo.role_id}</td>
            <td>{$vo.b}</td>
            <td>{$vo.a}</td>
            <td><a href="{:U('Views/LogStatistics/user_detail')}?uid={$vo.uid}&s_date={$s_date}&e_date={$e_date}">详细</a></td>
        </tr>
    </volist>
</table>
</body>
<script>
    var chart_data;

    function get_ajax_data() {


        $.ajax({
            url: "{:U('LogStatistics/show_ajax')}?s_date={$s_date}&e_date={$e_date}",
            type: "GET",
            error: function (e) {
                alert(e);
            },
            success: function (str_data) {
                chart_data = JSON.parse(str_data);
                console.log(chart_data);
                draw();
            }
        });
    }

    function draw() {
//        app.title = '水印 - ECharts 下载统计';
        var myChart = echarts.init(document.getElementById('main'));

        option = {
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            title: [{
                text: '用户操作次数',
                x: '50%',
                textAlign: 'center'
            }],
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : Object.keys(chart_data).map(function (key) {
                        return chart_data[key]['user_name'];
                    }),
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            series : [
                {
                    name:'点击次数',
                    type:'bar',
                    barWidth: '60%',
                    data:Object.keys(chart_data).map(function (key) {
                        return chart_data[key]['b'];
                    })
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        myChart.on('click', function (params) {
            console.log(params);
            window.open("{:U('Views/LogStatistics/user_detail')}?s_date={$s_date}&e_date={$e_date}&uid=" + chart_data[params.dataIndex]['uid']);

        });
    }

    $(document).ready(function () {
        get_ajax_data();
    });

    function select_date(){
        var s_date = $("#s_picker").val();
        var e_date = $("#e_picker").val();
        window.location.href = "{:U('Views/LogStatistics/show_all')}?s_date="+s_date+"&e_date="+e_date;
    }
</script>
</html>