<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/echarts.min.js"></script>
    <title>{$s_date}->{$e_date}用户呼出统计</title>
</head>
<body>
<h1>{$s_date}->{$e_date}用户呼出统计</h1>
<table class="table table-hover text-center" style="table-layout: fixed">
    <tr>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/show_all')}?s_date={$s_date}&e_date={$e_date}">个人统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/page')}?s_date={$s_date}&e_date={$e_date}">页面统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/oper')}?s_date={$s_date}&e_date={$e_date}">操作统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/dial')}?s_date={$s_date}&e_date={$e_date}">电话呼入统计总页</a></td>
        <td><a class="btn btn-primary" href="{:U('Views/LogStatistics/user_to_dial')}?s_date={$s_date}&e_date={$e_date}">电话呼出统计总页</a></td>
        <td><a class="btn btn-warning" href="{:U('Views/LogStatistics/dial_web')}?s_date={$s_date}&e_date={$e_date}">电话双向统计总页</a></td>
        <td><a class="btn btn-warning" href="{:U('Views/MessageStatistic/statistic_all')}">信息总量统计总页</a></td>
    </tr>

</table>
<table class="table table-hover">
    <tr>
        <td>序号</td>
        <td>参数</td>
        <td>页面</td>
        <td>时长(秒)</td>
        <td>用户</td>
        <td>ip</td>
        <td>操作对象</td>
        <td>操作方式</td>
        <td>操作结果</td>
        <td>时间</td>
    </tr>
    <volist name="details" id="vo">
        <tr class="success">
            <td>{$i}</td>
            <td><a href="{:U('Views/LogStatistics/dial_detail')}?phone={$vo.param}&s_date={$s_date}&e_date={$e_date}">{$vo.param}</a></td>
            <td>{$vo.title}</td>
            <td class = "duration">{$vo.duration}</td>
            <td>{$vo.uid}</td>
            <td>{$vo.ip}</td>
            <td>{$vo.page}</td>
            <td>{$vo.oper}</td>
            <td>{$vo.result}</td>
            <td>{$vo.now}</td>
        </tr>
    </volist>
</table>
</body>
<script>
    function color_duration() {
        $('.duration').each(function () {
            var d = parseInt($(this).text());
            $(this).css("background-color", "white");
            if (d > 300) {
//                $(this).text("离开(" + d + "s)");
                $(this).css("background-color", "rgb(255,100,255)");
            } else if (d == -1) {
//                $(this).text("末次打开(未知)");
                $(this).css("background-color", "rgb(255,0,255)");
            } else if (d == -2) {
                $(this).text("未统计");
            } else if (d > -1 && d < 2) {
//                $(this).text("极短(" + d + "s)");
                $(this).css("background-color", "rgb(225,255,225)");
            } else if (d > 1 && d < 6) {
//                $(this).text("短(" + d + "s)");
                $(this).css("background-color", "rgb(205,255,205)");
            } else if (d > 5 && d < 11) {
//                $(this).text("中(" + d + "s)");
                $(this).css("background-color", "rgb(175,255,175)");
            } else if (d > 9 && d < 61) {
//                $(this).text("长(" + d + "s)");
                $(this).css("background-color", "rgb(150,255,150)");
            } else if (d > 59 && d < 301) {
//                $(this).text("极长(" + d + "s)");
                $(this).css("background-color", "rgb(120,255,120)");
            } else {
//                $(this).text("报错，请通知开发(" + d + "s)");
                $(this).css("background-color", "red");
            }
        });
    }
    $(document).ready(function(){
        color_duration();
    });
</script>
</html>