<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>货源找车</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
</head>
<body style="background-color: #efeff4">
<!--导航标签-->
<div class="panel-title" style=";margin:0;padding: 0;background-color: white;display: block">
    <div id="myTab" class="weui_navbar" style=";margin-bottom: 0;">
        <a href="#all" data-toggle="tab" class="weui_navbar_item weui_bar_item_on"
           style="color: black;text-decoration: none;font-size: 1.2em;width:30%">
            <span>全&emsp;部</span>
        </a>
        <a href="#search" class="text-center" data-toggle="tab"
           style=";color: black;text-decoration: none;font-size: 1em;width:27%;padding: 5px 0;height:42px">
            <img src="__PUBLIC__/home/images/area_start_text.png" class="" style="height: 20px">
            <span id="area_start_html">榆林</span>

            <div id="area_start" style="display: none"></div>
        </a>
        <a href="#search" id="area_change" data-toggle="tab" class="text-center"
           style=";color: black;text-decoration: none;font-size: 1.2em;width: 20%">
            <img src="__PUBLIC__/home/images/change.png" class="" style="width: 55px;padding-top: 4px">
        </a>
        <a href="#search" data-toggle="tab" class="weui_navbar_item"
           style=";color: black;text-decoration: none;font-size: 1em;height:42px">
            <span id="area_end_html">郑州</span>
            <img src="__PUBLIC__/home/images/area_end_text.png" class="" style="height: 20px">

            <div id="area_end" style="display: none"></div>
        </a>
    </div>
</div>
<!--我的收藏-->
<a href="{:U('OwnerOrder/owner_order')}" class="btn btn-default"
   style="background-color: #04bfc6;color: white;right: 0;top: 80%;position: fixed;position: absolute;z-index: 5">我的收藏</a>
<!--搜索框-->
<div class="bd" style="margin-top: 43px;position: fixed;width: 100%;z-index: 2">
    <!--<a href="javascript:;" class="weui_btn weui_btn_primary">点击展现searchBar</a>-->
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" id="search_input" placeholder="搜索"/>
                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
                <i class="weui_icon_search"></i>
                <span>搜索</span>
            </label>
            <input type="text" style="display: none">
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>
</div>
<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category">
    <input type="hidden" name="search_input">
    <input type="hidden" name="area_start">
    <input type="hidden" name="area_end">
    <input type="hidden" name="page" id="page" value="1">
</form>
<div style="display: none">
    <div id="where_cond_json">
        {$where_cond_json}
    </div>
    <div id="stage">
        {$stage}
    </div>
</div>
<!--订单展示栏-->
<div id="wrapper" style="top: 52px;margin-left: 2.5%;">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon" style="float: left"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content">
            <ul id="all" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
            <ul id="search" class="tab-pane" style="margin-top: 40px;list-style-type: none">
                <volist name="li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>
</body>
<!--搜索框功能-->
<script>
    $('.bd').on('focus', '#search_input', function () {
        var $weuiSearchBar = $('#search_bar');
        $weuiSearchBar.addClass('weui_search_focusing');
        if (cookie('search_input')) {
            $(this).val(cookie('search_input'));
        }
    }).on('blur', '#search_input', function () {
        var $weuiSearchBar = $('#search_bar');
        $weuiSearchBar.removeClass('weui_search_focusing');
        if ($(this).val()) {
            $('#search_text').hide();
        } else {
            $('#search_text').show();
        }
    }).on('keyup', '#search_input', function (event) {
        event = event || window.event;
        if (event.keyCode == 13) {
            //将输入的值存入cookie
            if ($(this).val().trim() == '') {
                cookie('search_input', null);
                $('input[name=search_input]').val('');
            } else {
                $('input[name=search_input]').val($(this).val().trim());
                cookie('search_input', $(this).val().trim());
            }
            $('input[name=select_category]').val(cookie('search_tag'));
            $('input[name=area_start]').val(cookie('area_start_id'));
            $('input[name=area_end]').val(cookie('area_end_id'));
            //提交表单
            document.tag_search.method = "post";
            document.tag_search.action = "{:U('OwnerSearch/owner_car_search')}";
            document.tag_search.submit();
        }
    }).on('touchend', '#search_cancel', function () {
        $('#search_input').val('');
    }).on('touchend', '#search_clear', function () {
        $('#search_input').val('');
    });
    $('#search_input').bind('keyup', '#search_input', function (event) {
        event = event || window.event;
        if (event.keyCode == 13) {
            //将输入的值存入cookie
            if ($(this).val().trim() == '') {
                cookie('search_input', null);
                $('input[name=search_input]').val('');
            } else {
                $('input[name=search_input]').val($(this).val().trim());
                cookie('search_input', $(this).val().trim());
            }
            $('input[name=select_category]').val(cookie('search_tag'));
            $('input[name=area_start]').val(cookie('area_start_id'));
            $('input[name=area_end]').val(cookie('area_end_id'));
            //提交表单
            document.tag_search.method = "post";
            document.tag_search.action = "{:U('OwnerSearch/owner_car_search')}";
            document.tag_search.submit();
        }
    });
</script>
<!--导航功能-->
<script>
    $('#myTab a').eq(0).click(function (e) {
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show')
    })
</script>
<!--载入读取上次标签-->
<script>
    $(function () {
//        cookie(null);return;
        console.log(cookie());
        if (cookie('search_tag') == '车源') {
            //信息查询
            $('#myTab a:eq(0)').removeClass('weui_bar_item_on').siblings('a').addClass('weui_bar_item_on weui_bar_item_on_extra').tab('show');
            $('#area_start_html').html(cookie('area_start'));
            $('#area_end_html').html(cookie('area_end'));
        }
        else {
            //全部信息
            $('#myTab a:eq(0)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on weui_bar_item_on_extra');
            cookie('search_tag', 'all');
            if (cookie('area_start')) {
                $('#area_start_html').html(cookie('area_start'));
                $('input[name=area_start]').val(cookie('area_start_id'));
            }
            else {
                $('#area_start_html').html('榆林');
                $('input[name=area_start]').val(610800);
                cookie('area_start', '榆林');
                cookie('area_start_id', 610800);
            }
            if (cookie('area_end')) {
                $('#area_end_html').html(cookie('area_end'));
                $('input[name=area_end]').val(cookie('area_end_id'));
            }
            else {
                $('#area_end_html').html('郑州');
                $('input[name=area_end]').val(410100);
                cookie('area_end', '郑州');
                cookie('area_end_id', 410100);
            }
        }
        //载入搜索框内容
        if (cookie('search_input')) {
            $('#search_text').html(cookie('search_input'));
        }
        //返回操作
        window.history.pushState('homepage','',window.location.href);
        window.addEventListener("popstate", function (e) {
            window.location.href = "{:U('Homepage/homepage')}";
        },false);
        //是否提交表单
        if (cookie('need_post')) {
            cookie('need_post', false);
            $('input[name=select_category]').val(cookie('search_tag'));
//            $('input[name=search_input]').val(cookie('search_input'));
            $('input[name=area_start]').val(cookie('area_start_id'));
            $('input[name=area_end]').val(cookie('area_end_id'));
            if (cookie('search_input')) {
                $('input[name=search_input]').val(cookie('search_input'));
            } else {
                $('input[name=search_input]').val('');
            }
            //提交表单
            document.tag_search.method = 'post';
            document.tag_search.action = "{:U('OwnerSearch/owner_car_search')}";
            document.tag_search.submit();
        } else {
        }
//        console.log(a);
//        console.log($('#where_cond_json').html());
//        console.log($('#stage').html());
    });
</script>
<!--点击标签查询-->
<script>
    //点击全部标签
    $('#myTab a:eq(0)').click(function () {
        //存入所选标签入cookie
        cookie('search_tag', 'all');
        $('input[name=select_category]').val(cookie('search_tag'));
        //重置筛选条件的cookie
        cookie('search_input', null);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerSearch/owner_car_search')}";
        document.tag_search.submit();
    });
    //点击地址选择标签
    //起始地
    $('#myTab a:eq(1)').click(function () {
        var goto_url = "{:U('areaSearch/area_search')}";
        var current_url = window.location.href;
        cookie('search_tag', '车源');
        cookie('start_or_end', 'start');
        cookie('last_url', current_url);
        //地址跳转
        window.location.href = goto_url;
    });
    //地址互换
    $('#myTab a:eq(2)').click(function () {
        var current_url = window.location.href;
        cookie('search_tag', '车源');
        var area_start = cookie('area_start');
        var area_start_id = cookie('area_start_id');
        var area_end = cookie('area_end');
        var area_end_id = cookie('area_end_id');
        cookie('area_start', area_end);
        cookie('area_start_id', area_end_id);
        cookie('area_end', area_start);
        cookie('area_end_id', area_start_id);
        //表单填写
        if (cookie('search_input')) {
            $('input[name=search_input]').val(cookie('search_input'));
        } else {
            $('input[name=search_input]').val('');
        }
//        $('input[name=search_input]').val(cookie(''));
        $('input[name=select_category]').val(cookie('search_tag'));
        $('input[name=area_start]').val(cookie('area_start_id'));
        $('input[name=area_end]').val(cookie('area_end_id'));
//        //地址跳转
//        window.location.href = current_url;
//        var a = $('#tag_search').serialize();
//        alert(a);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerSearch/owner_car_search')}";
        document.tag_search.submit();
    });
    //目的地
    $('#myTab a:eq(3)').click(function () {
        var goto_url = "{:U('areaSearch/area_search')}";
        var current_url = window.location.href;
        cookie('search_tag', '车源');
        cookie('start_or_end', 'end');
        cookie('last_url', current_url);
        //地址跳转
        window.location.href = goto_url;
    })
</script>
<!--滚动功能-->
<script>
    var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset;
    var time_now, update_time;
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
        location.reload();
        myScroll.refresh();//数据加载完成后，调用界面更新方法  Remember to refresh when contents are loaded (ie: on ajax completion)
//    },1000);  // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        setTimeout(function () {
            console.log('up');
            var a = $('#tag_search').serialize();
            console.log(a);
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var select_category = cookie('search_tag');
            var where_cond_json = $('#where_cond_json').html().trim();
            var stage = $('#stage').html().trim();
            console.log(where_cond_json);
            console.log(stage);
            console.log(page);
            console.log(request_page);

            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('OwnerSearch/owner_car_search_more')}",
                data: {
                    page: request_page,
                    select_category: select_category,
                    where_cond_json: where_cond_json,
                    stage: stage
                },
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
//                    return;
                    if (jsonObj.msg) {
                        page++;
                        $('#page').val(page);
                        $('#where_cond_json').html(jsonObj.where_cond_json);
                        $('#stage').html(jsonObj.stage);
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            console.log(cookie('search_tag'));
                            if (cookie('search_tag') == 'all') {
                                document.getElementById('all').appendChild(li);
                            }
                            else if (cookie('search_tag') == '车源') {
                                document.getElementById('search').appendChild(li);
                            }
                            else {
                            }
                        });
                    }
                    else {
                    }
                    myScroll.refresh();
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**
     * 初始化iScroll控件
     */
    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;
//        console.log(pullDownOffset);
//        console.log(pullUpOffset);
        setTimeout(function () {
            myScroll = new iScroll('wrapper', {
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
                useTransition: true,
                topOffset: pullDownOffset,
//        probeType: 3,
//        mouseWheel: false,
                scrollbars: true,
//                vScrollbar:false,
//        disableMouse: false,
//        disablePointer: false,
                //点击事件
                click: false,
                taps: false,
//        tap: true,
                preventDefault: false,//（把这句加上去哦）
                preventDefaultException: {tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/},
                onRefresh: function () {
                    console.log('refresh');
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + update_time+'下拉刷新';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                    document.getElementById("pullUp").style.display = "none";
                    time_now = new Date();
                    update_time = time_now.toLocaleString();
//            document.getElementById("show").innerHTML="onRefresh: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

                },
                onScrollMove: function () {
//            document.getElementById("show").innerHTML="onScrollMove: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (this.y > 0) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                        this.minScrollY = 0;
                    }
                    if (this.y < 0 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        this.minScrollY = -pullDownOffset;
                    }

                    if (this.scrollerH < this.wrapperH && this.y < (this.minScrollY - pullUpOffset) || this.scrollerH > this.wrapperH && this.y < (this.maxScrollY - pullUpOffset)) {
                        document.getElementById("pullUp").style.display = "";
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                    }
                    if (this.scrollerH < this.wrapperH && this.y > (this.minScrollY - pullUpOffset) && pullUpEl.className.match('flip') || this.scrollerH > this.wrapperH && this.y > (this.maxScrollY - pullUpOffset) && pullUpEl.className.match('flip')) {
                        document.getElementById("pullUp").style.display = "none";
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                },
                onScrollEnd: function () {
//            document.getElementById("show").innerHTML="onScrollEnd: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                        pullDownAction(); // Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                        pullUpAction(); // Execute custom function (ajax call?)
                    }
                }
            });
            console.dir(myScroll.options);
        }, 100);
//    setTimeout(function(){
//        document.getElementById('wrapper').style.left = '0';
//    },800);

    }
    //初始化绑定iScroll控件
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
    //    window.onload = loaded();

</script>
<!--撤销收藏-->
<script>
    function collection_switch(obj, id) {
        event.stopImmediatePropagation();
        var url;
        if ($(obj).html() == '撤销收藏') {
            url = "{:U('Collection/del')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('收藏');
                    } else {}
                }
            });
        }else if($(obj).html() == '收藏'){
            url = "{:U('Collection/add')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('撤销收藏');
                    } else {
                    }
                }
            });
        }else{}
        return false;
    }
</script>
</html>