<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>车源信息</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/city-picker.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/city-picker.data.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/city-picker-search.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/loading.js"></script>
</head>
<body>
<include file="Common:common"/>
<!--导航标签-->
<div class="panel-title" style=";margin:0;padding: 0;background-color: white;display: block;">
    <div class="weui_navbar" style="position: relative;">
        <a href="#all" id="all_search" data-toggle="tab" class="weui_navbar_item weui_bar_item_on"
           style="font-size: 1.2em;width: 20%">全部</a>
        <span id="start_tag" class="area-search"
              style="width: 30%;display: inline-block;line-height: 40px;font-size: 1.2em"><!-- container -->
            <img src="__PUBLIC__/home/images/area_start_text.png" class=""
                 style="z-index: 2;position: absolute;height: 20px;top: 25%;left: 25%;;">
            <input readonly type="text" data-toggle="city-picker"
                   name="search_area_start" id="area_start"
                   style="width: 100%;padding:6px 12px;" value=""
                   placeholder="起始地">
        </span>
        <span id="change_tag" class="text-center mynavbar area-search" style="width: 17%;">
            <img src="__PUBLIC__/home/images/change.png" class="" style="width: 45px;padding-top: 5px">
        </span>
        <span id="end_tag" class="area-search"
              style="width: 30%;display: inline-block;line-height: 40px;font-size: 1.2em"><!-- container -->
            <img src="__PUBLIC__/home/images/area_end_text.png" class=""
                 style="z-index: 2;position: absolute;height: 20px;top: 25%;left: 94%;;">
            <input readonly type="text" data-toggle="city-picker"
                   name="search_area_end" id="area_end"
                   style="width: 100%;padding:6px 12px;" value=""
                   placeholder="目的地">
        </span>
    </div>
    <!--<a href="#search" class="text-center mynavbar" data-toggle="tab"-->
    <!--style="word-wrap:break-word;table-layout:fixed;text-decoration: none;font-size: 1em;width:27%;padding: 5px 0;height:42px;line-height: 32px">-->
    <!--<img src="__PUBLIC__/home/images/area_start_text.png" class="" style="height: 20px">-->
    <!--<span id="area_start_html">点击选择</span>-->

    <!--<div id="area_start" style="display: none"></div>-->
    <!--</a>-->
    <!--<a href="#search" id="area_change" data-toggle="tab" class="text-center mynavbar"-->
    <!--style=";text-decoration: none;font-size: 1.2em;width: 20%">-->
    <!--<img src="__PUBLIC__/home/images/change.png" class="" style="width: 55px;padding-top: 4px">-->
    <!--</a>-->
    <!--<a href="#search" data-toggle="tab" class="weui_navbar_item mynavbar"-->
    <!--style="word-wrap:break-word;table-layout:fixed;text-decoration: none;font-size: 1em;height:42px;line-height: 32px">-->
    <!--<span id="area_end_html">点击选择</span>-->
    <!--<img src="__PUBLIC__/home/images/area_end_text.png" class="" style="height: 20px">-->

    <!--<div id="area_end" style="display: none"></div>-->
    <!--</a>-->
    <!--</div>-->
</div>
<!--我的收藏-->
<a href="{:U('OwnerOrder/owner_order')}" class="btn btn-default" id="my_collection"
   style="background-color: #04bfc6;color: white;right: 0;top: 80%;position: fixed;position: absolute;z-index: 5">我的收藏</a>
<!--搜索框-->
<div class="bd" style="margin-top: 0px;position: fixed;width: 100%;z-index: 2">
    <!--<a href="javascript:;" class="weui_btn weui_btn_primary">点击展现searchBar</a>-->
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" id="search_input" placeholder="搜索"/>
                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
                <i class="weui_icon_search"></i>
                <span>请输入关键字(如榆林)</span>
            </label>
            <input type="text" style="display: none">
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>
</div>
<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category">
    <input type="hidden" name="search_input">
    <input type="hidden" name="area_start">
    <input type="hidden" name="area_start_name">
    <input type="hidden" name="area_start_val">
    <input type="hidden" name="area_end">
    <input type="hidden" name="area_end_name">
    <input type="hidden" name="area_end_val">
    <input type="hidden" name="page" id="page" value="1">
</form>
<div style="display: none">
    <div id="where_cond_json">
        {$where_cond_json}
    </div>
    <div id="stage">
        {$stage}
    </div>
</div>
<!--订单展示栏-->
<div id="wrapper" style="top: 52px;margin-left: 2.5%;">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon" style="float: left"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content">
            <ul id="all" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
            <ul id="search" class="tab-pane" style="margin-top: 40px;list-style-type: none">
                <volist name="li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<!--功能抽离用于不同情况刷新页面-->
<script>
    function requestAndRendering() {
        //获取表单数据
        var search_input = $('input[name=search_input]').val();
        var select_category = $('input[name=select_category]').val();
        var area_start = $('input[name=area_start]').val();
        var area_start_name = $('input[name=area_start_name]').val();
        var area_end = $('input[name=area_end]').val();
        var area_end_name = $('input[name=area_end_name]').val();
        $.ajax({
            type: "post",
            url: "{:U('OwnerSearch/owner_car_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                area_start: area_start,
                area_start_name: area_start_name,
                area_end: area_end,
                area_end_name: area_end_name
            },
            beforeSend: function () {
                $('#loadingToast').show();
            },
            success: function (data) {
                console.log('success');
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                if (jsonObj.msg) {
                    $('#page').val(1);
                    $('#where_cond_json').html(jsonObj.where_cond_json);
                    $('#stage').html(jsonObj.stage);
                    if (select_category == 'all') {
                        document.getElementById('all').innerHTML = '';
                    }
                    else if (select_category == '车源') {
                        document.getElementById('search').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        if (select_category == 'all') {
                            document.getElementById('all').appendChild(li);
                        }
                        else if (select_category == '车源') {
                            document.getElementById('search').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
                refresh_hl();
            },
            complete: function () {
                $('#loadingToast').hide();
            }
        });
        myScroll.refresh();
    }
</script>
<!--搜索框功能-->
<script>
    $(function () {
        var $searchBar = $('#search_bar'),
                $searchText = $('#search_text'),
                $searchInput = $('#search_input'),
                $searchClear = $('#search_clear'),
                $searchCancel = $('#search_cancel');

        function hideSearchResult() {
            $searchInput.val('');
        }

        function cancelSearch() {
            hideSearchResult();
            $searchBar.removeClass('weui_search_focusing');
            $searchText.show();
        }

        $searchText.on('click', function () {
            $searchBar.addClass('weui_search_focusing');
            $searchInput.focus();
            $('#search_input').val($('input[name=search_input]').val());
        });
        $searchInput
                .on('blur', function () {
                    if (!this.value.length) cancelSearch();
                })
                .on('keyup', function (event) {
                    event = event || window.event;
                    if (event.keyCode == 13) {
                        $('input[name=area_start_name]').val();
                        //更新表单
                        if ($(this).val().trim() == '') {
                            $('input[name=search_input]').val('');
                        } else {
                            $('input[name=search_input]').val($(this).val().trim());
                        }
                        //页面样式展现
                        $searchBar.removeClass('weui_search_focusing');
                        $('#search_text').children('span').eq(0).html($(this).val().trim());
                        $searchText.show();
                        //更新页面cookie
                        cookie('owner_car_search', JSON.stringify($('#tag_search').serializeArray()));

                        ck_log("search", $(this).val().trim());
                        //ajax请求并渲染页面
                        requestAndRendering();
                    }
                });
        $searchClear.on('click', function () {
            hideSearchResult();
            ck_log("click", "清除搜索内容");
            $searchInput.focus();
        });
        $searchCancel.on('click', function () {
            cancelSearch();
            ck_log("click", "取消搜索");
            $searchInput.blur();
            //更新表单对应数据
            $('input[name=search_input]').val('');
            //更新页面cookie
            cookie('owner_car_search', JSON.stringify($('#tag_search').serializeArray()));
            //输入框清除
            $('#search_text').children('span').eq(0).html('请输入关键字');
            //ajax请求并渲染页面
            requestAndRendering();
        });
    });
</script>
<!--导航功能-->
<script>
    $('#all_search').click(function () {
        var $all_search = $('#all_search');
        $all_search.addClass('weui_bar_item_on');
        $all_search.html('全部');
        $(this).tab('show');
        //搜索框恢复默认
        $('#search_text').children('span').eq(0).html('请输入关键字');

        var $city_picker_span = $('.city-picker-span');
        $city_picker_span.removeClass('search-on');
        $('.area-search').css('background-color', '#fafafa');
    });
    $('.area-search').click(function () {
        //全部取消选中
        var $all_search = $('#all_search');
        $all_search.removeClass('weui_bar_item_on');
        $all_search.html('清除条件');
        //搜索条选中样式
        var $city_picker_span = $('.city-picker-span');
        $city_picker_span.addClass('search-on');
        $('.area-search').css('background-color', '#eaeaea');
        //显示search滚动内容
        $('#all').removeClass('active');
        $('#search').addClass('active');
    });
</script>
<!--载入读取上次标签-->
<script>
    $(function () {
//        FastClick.attach(document.body);
        var temp_load = cookie('owner_car_search');
        var temp_load_obj = JSON.parse(cookie('owner_car_search'));
        jQuery.each(temp_load_obj, function (k, val) {
            if (val.name == 'select_category') {
                $('input[name=select_category]').val(val.value);
            }
            else if (val.name == 'area_start') {
                if (val.value != '') {
                    $('input[name=area_start]').val(val.value);
                } else {
                }
            }
            else if (val.name == 'area_start_name') {
                if (val.value != '') {
                    $('input[name=area_start_name]').val(val.value);
                    $('#area_start_html').html(val.value);
                } else {
                }
            }
            else if (val.name == 'area_start_val') {
                if (val.value != '') {
                    $('input[name=area_start_val]').val(val.value);
                    var AreaArr_start = val.value.split('/');
                    $('#area_start').citypicker('destroy');
                    $('#area_start').citypicker({
                        province: AreaArr_start[0],
                        city: AreaArr_start[1],
                        district: AreaArr_start[2],
                        area: AreaArr_start[3]
                    });
                } else {
                }
            }
            else if (val.name == 'area_end') {
                if (val.value != '') {
                    $('input[name=area_end]').val(val.value);
                } else {
                }
            }
            else if (val.name == 'area_end_name') {
                if (val.value != '') {
                    $('input[name=area_end_name]').val(val.value);
                    $('#area_end_html').html(val.value);
                }
            }
            else if (val.name == 'area_end_val') {
                if (val.value != '') {
                    $('input[name=area_end_val]').val(val.value);
                    var AreaArr_end = val.value.split('/');
                    $('#area_end').citypicker('destroy');
                    $('#area_end').citypicker({
                        province: AreaArr_end[0],
                        city: AreaArr_end[1],
                        district: AreaArr_end[2],
                        area: AreaArr_end[3]
                    });
                } else {
                }
            }
            else if (val.name == 'search_input') {
                if (val.value != '') {
                    $('input[name=search_input]').val(val.value);
                } else {
                }
            }
        });
        console.log('form');
        console.log(JSON.stringify($('#tag_search').serializeArray()));
        //筛选条件为空则把标签置为全部
        tag_set();
        //标签高亮
        if ($('input[name=select_category]').val() == '车源') {
            //全部取消选中
            var $all_search = $('#all_search');
            $all_search.removeClass('weui_bar_item_on');
            $all_search.html('清除条件');
            //搜索条选中样式
            var $city_picker_span = $('.city-picker-span');
            $city_picker_span.addClass('search-on');
            $('.area-search').css('background-color', '#eaeaea');
            //显示search滚动内容
            $('#all').removeClass('active');
            $('#search').addClass('active');
        }
        else {
            //全部信息
            $('input[name=select_category]').val('all');
            //全部选择样式
            $all_search.addClass('weui_bar_item_on');
            $all_search.html('全部');
            $city_picker_span.removeClass('search-on');
            $('.area-search').css('background-color', '#fafafa');
            //显示全部滚动内容
            $('#all').addClass('active');
            $('#search').removeClass('active');
        }
        //载入搜索框内容
        if ($('input[name=search_input]').val()) {
            $('#search_text').children('span').eq(0).html($('input[name=search_input]').val());
        }
        //自动刷新
        setTimeout(pullDownAction, 200);
    });

    //筛选条件为空设置标签
    function tag_set() {
        if ($('input[name=search_input]').val() || $('input[name=area_start]').val() || $('input[name=area_end]').val()) {

        } else {
            $('input[name=select_category]').val('all');
        }
    }
</script>
<!--点击标签查询-->
<script>
    //点击全部标签
    $('#all_search').click(function () {
        //日志记录
        ck_log("click", "选择全部");
        //填写表单数据
        $('input[name=select_category]').val('all');
        $('input[name=area_start]').val('');
        $('input[name=area_start_name]').val('');
        $('input[name=area_start_val]').val('');
        $('input[name=area_end]').val('');
        $('input[name=area_end_name]').val('');
        $('input[name=area_end_val]').val('');
        $('input[name=search_input]').val('');
        $('#area_start').citypicker('reset');
        $('#area_end').citypicker('reset');
        //更新页面cookie
        cookie('owner_car_search', JSON.stringify($('#tag_search').serializeArray()));
        //ajax请求并渲染页面
        requestAndRendering();
    });
    //点击地址选择标签
    $(document).on('render_flag', function () {
        console.log('rendering rendering');
        var area_tag = cookie('area_tag');
        var input, areaArr, area_start_name, area_start_id, area_end_name, area_end_id;
        var search_input, select_category, area_start, area_end;
        if (area_tag == 'start') {
            ck_log("click", "选择起始地");
            //取起始地的值
            input = $('#area_start');
            areaArr = input.val().split('/');
            area_start_name = areaArr[areaArr.length - 1];
            area_start_id = input.data('citypicker').getCode();
            //更新表单对应值
            $('input[name=area_start]').val(area_start_id);
            $('input[name=area_start_name]').val(area_start_name);
            $('input[name=area_start_val]').val(input.val());
            $('input[name=select_category]').val('车源');
            //更新页面cookie
            cookie('owner_car_search', JSON.stringify($('#tag_search').serializeArray()));
            //ajax请求并渲染页面
            requestAndRendering();
        } else if (area_tag == 'end') {
            ck_log("click", "选择目的地");
            //取目的地的值
            input = $('#area_end');
            areaArr = input.val().split('/');
            area_end_name = areaArr[areaArr.length - 1];
            area_end_id = input.data('citypicker').getCode();
            //更新表单对应值
            $('input[name=area_end]').val(area_end_id);
            $('input[name=area_end_name]').val(area_end_name);
            $('input[name=area_end_val]').val(input.val());
            $('input[name=select_category]').val('车源');
            //更新页面cookie
            cookie('owner_car_search', JSON.stringify($('#tag_search').serializeArray()));
            //ajax请求并渲染页面
            requestAndRendering();
        } else {
        }
    });
    //起始地
    $('#start_tag').click(function () {
        console.log('start_area click');
        cookie('area_tag', 'start');
    });
    //地址互换
    $('#change_tag').click(function () {
        ck_log("click", "地址互换");
        var input_start, input_end;
        input_start = $('#area_start');
        input_end = $('#area_end');
        //取起始地的值
        var areaArr_start, temp_area_start_val, temp_area_start, temp_area_start_name;
        areaArr_start = $('input[name=area_start_val]').val().split('/');
        temp_area_start_val = $('input[name=area_start_val]').val();
        temp_area_start = $('input[name=area_start]').val();
        temp_area_start_name = $('input[name=area_start_name]').val();
        //取目的地的值
        var areaArr_end, temp_area_end_val, temp_area_end, temp_area_end_name;
        areaArr_end = $('input[name=area_end_val]').val().split('/');
        temp_area_end_val = $('input[name=area_end_val]').val();
        temp_area_end = $('input[name=area_end]').val();
        temp_area_end_name = $('input[name=area_end_name]').val();
        console.log('hahahahaha', temp_area_start_name, temp_area_end_name);
        //更新表单对应值
        $('input[name=area_start]').val(temp_area_end);
        $('input[name=area_start_name]').val(temp_area_end_name);
        $('input[name=area_start_val]').val(temp_area_end_val);
        $('input[name=area_end]').val(temp_area_start);
        $('input[name=area_end_name]').val(temp_area_start_name);
        $('input[name=area_end_val]').val(temp_area_start_val);
        $('input[name=select_category]').val('车源');
        //更新页面cookie
        cookie('owner_car_search', JSON.stringify($('#tag_search').serializeArray()));
        //交叉赋值给起始地与目的地地址插件
        input_start.citypicker('reset');
        input_start.citypicker('destroy');
        input_start.citypicker({
            province: areaArr_end[0],
            city: areaArr_end[1],
            district: areaArr_end[2],
            area: areaArr_end[3]
        });
        input_end.citypicker('reset');
        input_end.citypicker('destroy');
        input_end.citypicker({
            province: areaArr_start[0],
            city: areaArr_start[1],
            district: areaArr_start[2],
            area: areaArr_start[3]
        });
        //重新初始化插件后需要改变样式
        var $city_picker_span = $('.city-picker-span');
        $city_picker_span.addClass('search-on');
        $('.area-search').css('background-color', '#eaeaea');
        //ajax请求并渲染页面
        requestAndRendering();
    });
    //目的地
    $('#end_tag').click(function () {
        console.log('end_area click');
        cookie('area_tag', 'end');
    });
</script>
<!--滚动功能-->
<script>
    var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset;
    var time_now, update_time;
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
//        location.reload();
        var search_input = $('input[name=search_input]').val();
        var select_category = $('input[name=select_category]').val();
        var area_start = $('input[name=area_start]').val();
        var area_start_name = $('input[name=area_start_name]').val();
        var area_end = $('input[name=area_end]').val();
        var area_end_name = $('input[name=area_end_name]').val();
        $.ajax({
            type: "post",
            url: "{:U('OwnerSearch/owner_car_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                area_start: area_start,
                area_start_name: area_start_name,
                area_end: area_end,
                area_end_name: area_end_name
            },
            success: function (data) {
                console.log('success');
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                if (jsonObj.msg) {
                    $('#page').val(1);
                    $('#where_cond_json').html(jsonObj.where_cond_json);
                    $('#stage').html(jsonObj.stage);
                    if (select_category == 'all') {
                        document.getElementById('all').innerHTML = '';
                    }
                    else if (select_category == '车源') {
                        document.getElementById('search').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        if (select_category == 'all') {
                            document.getElementById('all').appendChild(li);
                        }
                        else if (select_category == '车源') {
                            document.getElementById('search').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
                refresh_hl();
                ck_log("scroll", "下滑-刷新");
            }
        });
        myScroll.refresh();//数据加载完成后，调用界面更新方法  Remember to refresh when contents are loaded (ie: on ajax completion)
//    },1000);  // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        setTimeout(function () {
            console.log('up');
            var a = $('#tag_search').serialize();
            console.log(a);
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var select_category = $('input[name=select_category]').val();
            var where_cond_json = $('#where_cond_json').html().trim();
            var stage = $('#stage').html().trim();
            console.log(where_cond_json);
            console.log(stage);
            console.log(page);
            console.log(request_page);

            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('OwnerSearch/owner_car_search_more')}",
                data: {
                    page: request_page,
                    select_category: select_category,
                    where_cond_json: where_cond_json,
                    stage: stage
                },
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
                    var endAjax = jsonObj.EOA;
                    if (endAjax == 0) {
                        return false;
                    }
//                    return;
                    if (jsonObj.msg) {
                        page++;
                        $('#page').val(page);
                        $('#where_cond_json').html(jsonObj.where_cond_json);
                        $('#stage').html(jsonObj.stage);
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            if (select_category == 'all') {
                                document.getElementById('all').appendChild(li);
                            }
                            else if (select_category == '车源') {
                                document.getElementById('search').appendChild(li);
                            }
                            else {
                            }
                        });
                    }
                    else {
                    }
                    myScroll.refresh();
                    refresh_hl();
                    ck_log("scroll", "上滑-加载");
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**
     * 初始化iScroll控件
     */
    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;
//        console.log(pullDownOffset);
//        console.log(pullUpOffset);
        setTimeout(function () {
            myScroll = new iScroll('wrapper', {
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
                useTransition: true,
                topOffset: pullDownOffset,
//        probeType: 3,
//        mouseWheel: false,
                scrollbars: true,
//                vScrollbar:false,
//        disableMouse: false,
//        disablePointer: false,
                //点击事件
                click: false,
                taps: false,
//        tap: true,
                preventDefault: false,//（把这句加上去哦）
                preventDefaultException: {tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/},
                onRefresh: function () {
                    console.log('refresh');
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + update_time+'下拉刷新';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                    document.getElementById("pullUp").style.display = "none";
                    time_now = new Date();
                    update_time = time_now.toLocaleString();
//            document.getElementById("show").innerHTML="onRefresh: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

                },
                onScrollMove: function () {
//            document.getElementById("show").innerHTML="onScrollMove: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (this.y > 0) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                        this.minScrollY = 0;
                    }
                    if (this.y < 0 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        this.minScrollY = -pullDownOffset;
                    }

                    if (this.scrollerH < this.wrapperH && this.y < (this.minScrollY - pullUpOffset) || this.scrollerH > this.wrapperH && this.y < (this.maxScrollY - pullUpOffset)) {
                        document.getElementById("pullUp").style.display = "";
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                    }
                    if (this.scrollerH < this.wrapperH && this.y > (this.minScrollY - pullUpOffset) && pullUpEl.className.match('flip') || this.scrollerH > this.wrapperH && this.y > (this.maxScrollY - pullUpOffset) && pullUpEl.className.match('flip')) {
                        document.getElementById("pullUp").style.display = "none";
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                },
                onScrollEnd: function () {
//            document.getElementById("show").innerHTML="onScrollEnd: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                        pullDownAction(); // Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                        pullUpAction(); // Execute custom function (ajax call?)
                    }
                }
            });
            console.dir(myScroll.options);
        }, 100);
//    setTimeout(function(){
//        document.getElementById('wrapper').style.left = '0';
//    },800);

    }
    //初始化绑定iScroll控件
    document.addEventListener('touchmove', function (event) {
        // 判断默认行为是否可以被禁用
        if (event.cancelable) {
            // 判断默认行为是否已经被禁用
            if (!event.defaultPrevented) {
                event.preventDefault();
            }
        }
    }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
    //    window.onload = loaded();
</script>
<!--撤销收藏-->
<script>
    function collection_switch(obj, id) {
        event.stopImmediatePropagation();
        var url;
        if ($(obj).html() == '撤销收藏') {
            url = "{:U('Collection/del')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('收藏');
                        ck_log("collect", "撤销收藏-" + id);
                    } else {
                    }
                }
            });
        } else if ($(obj).html() == '收藏') {
            url = "{:U('Collection/add')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('撤销收藏');
                        ck_log("collect", "收藏-" + id);
                    } else {
                    }
                }
            });
        } else {
        }
        return false;
    }
</script>
<!--搜索内容高亮-->
<script>

    function refresh_hl() {
        var keywords = [];

        var str = $('input[name=area_start_name]').val();
        keywords.push(str ? str : '');
        str = $('input[name=area_end_name]').val();
        keywords.push(str ? str : '');
        str = $('input[name=search_input]').val();
        if (typeof str == 'string') {
            keywords = keywords.concat(str.split(/\s+/g));
//            alert(str+'-'+keywords);
        }
        show_highlight(keywords);
//        alert(keywords);
    }

    function replace_with_highlight(str, keyword) {
        if (keyword == '') return str;
        keyword = keyword.replace(new RegExp("市|区|县|镇", 'gm'), '');
        return str.replace(new RegExp(keyword, 'gm'), '<span style="background-color: orange; font-weight: bold">' + keyword + "</span>");
    }

    function show_highlight(keywords) {
        function show_hl_by_element(element) {
            var str = element.innerHTML;
            element.innerHTML = keywords.reduce(replace_with_highlight, str);
        }

        collectionToArray(document.getElementsByClassName('highlight')).map(show_hl_by_element);
//    $('.highlight').map(show_hl_by_element);

    }

    function collectionToArray(collection) {
        var ary = [];
        for (var i = 0, len = collection.length; i < len; i++) {
            ary.push(collection[i]);
        }
        return ary;
    }

</script>
<!--跳转到我的订单时记录当前地址-->
<script>
    $('#my_collection').click(function () {
        var cur_url = window.location.href;
        cookie('last_url_for_history', cur_url);
    })
</script>
<!--地址返回操作-->
<script>
    $(function () {
        if (false) {
        } else {
            var bool = false;
//        alert(1+' '+bool);
            setTimeout(function () {
                bool = true;
            }, 1000);
//        alert(navigator.userAgent);
            if (navigator.userAgent.indexOf('Android') > 0) {
                pushHistory();
                window.addEventListener("popstate", function (e) {
                    if (true) {
                        window.location.href = "{:U('Homepage/homepage')}";
                    } else {
                        return false;
                    }
//                pushHistory();
                }, false);
            } else {
                pushHistory();
                window.addEventListener("popstate", function (e) {
                    if (bool) {
                        window.location.href = "{:U('Homepage/homepage')}";
                    } else {
                        return false;
                    }
                }, false);
            }
        }
    });
    function pushHistory() {
        var state = {
            title: "title",
            url: "#"
        };
        window.history.pushState(state, "title", "#");
    }
</script>
<!--twinkle-->
<script>
    var twinkle_flag = false;
    var i = setInterval(function () {
        if (!twinkle_flag) {
            $('#twinkle').css('color', 'red');
            twinkle_flag = true;
        } else {
            $('#twinkle').css('color', 'black');
            twinkle_flag = false;
        }
    }, 100)
</script>
</html>