<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title></title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll.js"></script>
</head>
<body style="">
<!--标题栏-->
<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">
    <!--<div class="container text-center" style="">-->
    <!--<div style="display: inline-block;height: 100%;vertical-align: middle"></div>-->
        <span class="pull-left" style="">
                <!--<a class="glyphicon glyphicon-chevron-left"></a>-->
            <a href="#">
                <img src="__PUBLIC__/home/images/goback.png" class="img-responsive" style="width: 15px;height: auto;margin-top: 40%">
            </a>
        </span>
                <span class="">
            <span class="" style="font-size: 1.5em;margin-left: 15%">发布信息</span>
        </span>
        <span class="pull-right" style="border-color: white">
            <a href="#" class="btn btn-xs btn-default" style=";border:1px solid white; ;color:white;background-color: transparent;text-decoration: none;margin-bottom: -50%">
                我的发布
            </a>
        </span>
        <!--<span class="">-->
            <!--<span class="" style="font-size: 1.5em;margin-left: 15%">发布车源</span>-->
        <!--</span>-->
        <!--<span class="pull-right" style="border-color: white">-->
            <!--<a href="#" class="btn btn-xs btn-default" style=";border:1px solid white; ;color:white;background-color: transparent;text-decoration: none;margin-bottom: -50%">-->
                <!--我的发布-->
            <!--</a>-->
        <!--</span>-->
    <!--</div>-->
</div>
<!--清除浮动-->
<div class="clearfix"></div>
<!--导航标签-->
<!--<div class="panel-title" style="margin:0;padding: 0;background-color: white">-->
    <!--<ul id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">-->
        <!--<li role="presentation" class="weui_navbar_item weui_bar_item_on" style=";font-size: 1.2em">-->
            <!--<a href="#car_need" class="" data-toggle="tab" style="color: black;text-decoration: none">发布求车</a>-->
        <!--</li>-->
        <!--<li role="presentation" class="weui_navbar_item" style=";font-size: 1.2em">-->
            <!--<a href="#coal_sell" data-toggle="tab" style="color: black;text-decoration: none">发布供货</a>-->
        <!--</li>-->
        <!--<li role="presentation" class="weui_navbar_item" style=";font-size: 1.2em">-->
            <!--<a href="#coal_buy" data-toggle="tab" style="color: black;text-decoration: none">发布求购</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<!--发布栏-->
<div class="tab-content" style="">
    <!--<div id="car_need" class="tab-pane active" style="">-->
    <div id="cargo_need" class="tab-pane active" style="">
        <!--<form id="form_need_car" name="" class="" method="post" action="">&lt;!&ndash;表名&ndash;&gt;-->
        <form id="form_need_cargo" name="" class="" method="post" action=""><!--表名-->
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        <div>
                            <a href="#" style="text-decoration: none;color:black">
                                &nbsp;出发地址
                            <span class="pull-right">
                                <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                            </span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                <img src="__PUBLIC__/home/images/area_start.png" class="" style="width: 10px">
                            </span>
                            <input id="" name="" class="form-control" placeholder="请填写详细信息" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <a href="#" style="text-decoration: none;color:black">
                                &nbsp;目的地址
                            <span class="pull-right">
                                <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                            </span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                <img src="__PUBLIC__/home/images/area_end.png" class="" style="width: 10px">
                            </span>
                            <input id="" name="" class="form-control" placeholder="请填写详细信息" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                装车时间
                            </span>
                            <input type="date" id="" name="" class="form-control" placeholder="请输入装车时间" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                短途调配
                            </span>
                            <!--<input id="" name="" class="form-control" placeholder="改成滑动开关" style="border-radius: 0;border: 0">-->
                            <!--<span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">-->
                                <!--元-->
                            <!--</span>-->
                            <div class="weui_cell_ft">
                                <input class="weui_switch" type="checkbox"/><!--滑动开关-->
                            </div>
                        </div>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td style="padding: 0">-->
                            <!--<div class="weui_cells weui_cells_form">-->
                                <!--<div class="weui_cell weui_cell_switch">-->
                                    <!--<div class="weui_cell_hd weui_cell_primary">标题文字</div>-->
                                    <!--<div class="weui_cell_ft">-->
                                        <!--<input class="weui_switch" type="checkbox"/>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                车辆类型
                            </span>
                            <input id="" name="" class="form-control" placeholder="请输入车辆类型?" style="border-radius: 0;border: 0">
                            <!--<span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">-->
                                <!--元-->
                            <!--</span>-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                核载吨数
                            </span>
                            <input type="number" id="" name="" class="form-control" placeholder="请输入吨数" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;vertical-align: middle;background-color: white">
                                联系电话
                                <!--<span style="font-size: 1.5em;color:red;vertical-align: middle">*</span>-->
                                <img src="__PUBLIC__/home/images/necessary.png" class="" style="width: 7px">
                            </span>
                            <input id="" name="sell_phone" class="form-control" placeholder="请输入联系方式" style="border-radius: 0;border: 0">
                            <span class="text-danger" id="sell_phone_alert"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        <div class="form-group " style="">
                            <label>
                                详细描述
                            </label>
                            <textarea id="" name="" class="form-control">
                            </textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <!--<input type="submit" name="" id="" class="btn btn-group-justified" value="发&nbsp&nbsp&nbsp布" style="color:white;font-size: 2em;background-color: #fb3e1e">-->
            <!--<input type="button" name="" id="" class="btn btn-group-justified" onclick="sell_sub()" value="发&nbsp&nbsp&nbsp布" style="color:white;font-size: 2em;background-color: #fb3e1e">-->
            <input type="button" name="" id="" class="btn btn-group-justified" onclick="car_sub()" value="发&nbsp&nbsp&nbsp布" style="color:white;font-size: 2em;background-color: #fb3e1e">
        </form>
    </div>
</body>
<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
        $(this).parent('li').siblings('li').removeClass('weui_bar_item_on');
        $(this).parent('li').addClass('weui_bar_item_on');
        $(this).tab('show')
    })
</script>
<!--表单提交输入检测-->
<script>
    //获取焦点清空输入及错误信息
    $('input[name=sell_phone]').focus(function(){
        $(this).val('');
        $('#sell_phone_alert').html('');
    });
    $('textarea[name=sell_content]').focus(function(){
        $('#sell_content_alert').html('');
    });
    //热值高位必须为int型数字
    $('input[name=sell_heat_value_max]').blur(function(){
        var sell_heat_value_max = $(this).val().trim();
        if(!sell_heat_value_max.match(/^(-?\d+)(\.\d+)?$/) && sell_heat_value_max){
            $('#sell_content_alert').html('热值必须为数字');
        }
    });
    $('input[name=sell_heat_value_max]').focus(function(){
        $(this).val('');
        $('#sell_content_alert').html('');
    });

    function car_sub(){
        //联系电话验证
        var sell_phone = $('input[name=sell_phone]').val().trim();
        if(!sell_phone){
            $('#sell_phone_alert').html('联系电话不能为空');return;
        }else if(sell_phone.length != 11 || !sell_phone.match(/^(-?\d+)(\.\d+)?$/)){
            $('#sell_phone_alert').html('请输入正确的电话号码');return;
        }
        //判断content有无输入，content和煤炭信息不能同时为空
        var sell_content = $('textarea[name="sell_content"]').val().trim();
        var sell_coal_kind = $('input[name=option0_coal_kind]:checked').val();
        var sell_coal_trait = $('input[name=option0_coal_trait]:checked').val();
        var sell_coal_granularity = $('input[name=option0_coal_granlarity]:checked').val();
        if(!sell_content && !sell_coal_kind && !sell_coal_trait && !sell_coal_granularity){
            $('#sell_content_alert').html('详细描述与煤炭信息不能同时为空');return;
        }
        //ajax提交表单数据
        var subData=$("#form_sell").serialize();
//        console.log(subData);
//
//        var url="{:U('OwnerPublish/coal_sell_action')}";
        var url='{:U("OwnerPublish/coal_sell_action","","")}';
//        var url="{:U('coal_sell_action','','')}";
//        var url='coal_sell_action';
////        document.form_sell.action = url;
//        document.form_sell.submit();
        $.ajax({
            type:"post",
            url:url,
            data:subData,
            success:function(data){
                console.log(123);
//                var jsonObj=eval("("+data+")");
//                console.log(jsonObj.data);
                console.log(data);

//                console.log(data);
//                $("#result").text(data);
////                console.log(data);
////                console.log(eval(data));
////                            alert(subData);
////                if(data!=""){
////                    var jsonObj=eval("("+data+")");
////                                console.log(data);
////                    if(jsonObj.status){
////                        $("#loadIndex").val(0);
////                        $("#intact").show();
////                    }else{
////                        tanchu(jsonObj.msg);
////                    }
////                }
            }
        });
    }

</script>
</html>