<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>选择地址</title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
</head>
<include file="Common:common"/>
<body id="aaaa" style="background-color: #efeff4">
<!--搜索框-->
<div class="bd">
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
                <i class="weui_icon_search"></i>
                <span>搜索(点击此处直接输入地址选取)</span>
            </label>
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>
    <div class="weui_cells weui_cells_access search_show" id="search_show">
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search0" style="margin-bottom: 0"></p>
                    <div id="search0_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search1" style="margin-bottom: 0"></p>
                    <div id="search1_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search2" style="margin-bottom: 0"></p>
                    <div id="search2_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search3" style="margin-bottom: 0"></p>
                    <div id="search3_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search4" style="margin-bottom: 0"></p>
                    <div id="search4_id" style="display: none"></div>
                </div>
            </div>
        </a>
    </div>
</div>
<!--导航栏-->
<div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0">
    <a href="#lastarea" class="weui_navbar_item weui_bar_item_on" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                最近常用
            </span>
    </a>
    <a href="#mostarea" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                热点地区
            </span>
    </a>
    <a href="#allarea" id="allarea_load" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                地区列表
            </span>
    </a>
</div>

<div class="tab-content" style="background-color: white">
    <div id="lastarea" class="tab-pane active">
        <table class="table">
            <volist name="last_area" id="result">
                <tr>
                    <td>
                        <a href="javascript:void(0)" name="last_area" style="text-decoration: none;color:black;">
                            <div>
                                {$result->name}
                            </div>
                            <div style="display: none">
                                {$result->id}
                            </div>
                        </a>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
    <div id="mostarea" class="tab-pane">
        <table class="table">
            <tr>
                <td>
                    暂无热点地区
                </td>
            </tr>
            <tr>
                <td>
                    暂无热点地区
                </td>
            </tr>
            <tr>
                <td>
                    暂无热点地区
                </td>
            </tr>
        </table>
    </div>
    <div id="allarea" class="tab-pane" >
        <div class="" id="slider_nav" style=";margin-top: 12px;float: right;position: fixed;right: 10px;font-size: .8em;line-height: 14px">
            <ul class="" style="list-style: none" >
                <li>
                    <a href="#A" id="nav0">A</a>
                </li>
                <li>
                    <a href="#B" id="nav1">B</a>
                </li>
                <li>
                    <a href="#C" id="nav2">C</a>
                </li>
                <li>
                    <a href="#D" id="nav3">D</a>
                </li>
                <li>
                    <a href="#E" id="nav4">E</a>
                </li>
                <li>
                    <a href="#F" id="nav5">F</a>
                </li>
                <li>
                    <a href="#G" id="nav6">G</a>
                </li>
                <li>
                    <a href="#H" id="nav7">H</a>
                </li>
                <li>
                    <a href="#I" id="nav8">I</a>
                </li>
                <li>
                    <a href="#J" id="nav9">J</a>
                </li>
                <li>
                    <a href="#K" id="nav10">K</a>
                </li>
                <li>
                    <a href="#L" id="nav11">L</a>
                </li>
                <li>
                    <a href="#M" id="nav12">M</a>
                </li>
                <li>
                    <a href="#N" id="nav13">N</a>
                </li>
                <li>
                    <a href="#O" id="nav14">O</a>
                </li>
                <li>
                    <a href="#P" id="nav15">P</a>
                </li>
                <li>
                    <a href="#Q" id="nav16">Q</a>
                </li>
                <li>
                    <a href="#R" id="nav17">R</a>
                </li>
                <li>
                    <a href="#S" id="nav18">S</a>
                </li>
                <li>
                    <a href="#T" id="nav19">T</a>
                </li>
                <li>
                    <a href="#U" id="nav20">U</a>
                </li>
                <li>
                    <a href="#V" id="nav21">V</a>
                </li>
                <li>
                    <a href="#W" id="nav22">W</a>
                </li>
                <li>
                    <a href="#X" id="nav23">X</a>
                </li>
                <li>
                    <a href="#Y" id="nav24">Y</a>
                </li>
                <li>
                    <a href="#Z" id="nav25">Z</a>
                </li>
                <li>
                    <a href="#" id="nav26">#</a>
                </li>
            </ul>
        </div>
        <div class="container" style="padding-right: 15%">
            <span id="A">&emsp;A</span>
            <volist name="resultA" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="B">&emsp;B</span>
            <volist name="resultB" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="C">&emsp;C</span>
            <volist name="resultC" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="D">&emsp;D</span>
            <volist name="resultD" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="E">&emsp;E</span>
            <volist name="resultE" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="F">&emsp;F</span>
            <volist name="resultF" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="G">&emsp;G</span>
            <volist name="resultG" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="H">&emsp;H</span>
            <volist name="resultH" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="I">&emsp;I</span>
            <volist name="resultI" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="J">&emsp;J</span>
            <volist name="resultJ" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="K">&emsp;K</span>
            <volist name="resultK" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="L">&emsp;L</span>
            <volist name="resultL" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="M">&emsp;M</span>
            <volist name="resultM" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                            </a>
                            <div style="display: none">
                                {$result.id}
                            </div>
                            <div style="display: none">
                                {$result|json_encode}
                            </div>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="N">&emsp;N</span>
            <volist name="resultN" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="O">&emsp;O</span>
            <volist name="resultO" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="P">&emsp;P</span>
            <volist name="resultP" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="Q">&emsp;Q</span>
            <volist name="resultQ" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="R">&emsp;R</span>
            <volist name="resultR" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="S">&emsp;S</span>
            <volist name="resultS" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="T">&emsp;T</span>
            <volist name="resultT" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="U">&emsp;U</span>
            <volist name="resultU" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="V">&emsp;V</span>
            <volist name="resultV" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="W">&emsp;W</span>
            <volist name="resultW" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="X">&emsp;X</span>
            <volist name="resultX" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="Y">&emsp;Y</span>
            <volist name="resultY" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="Z">&emsp;Z</span>
            <volist name="resultZ" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
<div id="test"></div>
</body>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
//        $(this).parent('li').siblings('li').removeClass('weui_bar_item_on');
//        $(this).parent('li').addClass('weui_bar_item_on');
//        $(this).tab('show');
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    });
//    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
//        var b = e.target; //通过此参数可以获得激活的 tab 信息
//        console.log(b);
////        e.relatedTarget // 激活之前的那一个 tab 的信息
//    })
//    $('#lastarea').click(function (e) {
////            e.preventDefault();
////        $(this).parent('li').siblings('li').removeClass('weui_bar_item_on');
////        $(this).parent('li').addClass('weui_bar_item_on');
////        $(this).tab('show');
//        $(this).siblings('a').removeClass('weui_bar_item_on');
//        $(this).addClass('weui_bar_item_on');
//        $(this).tab('show');
//    });
//    $('#allarea_load').click(function(){
//
//        $.ajax({
//            type: "post",
//            url: "{:U('AreaSearch/area_search')}",
//            data: {siganl:1},
//            success: function (data) {
//                if (data) {
//                    $(this).siblings('a').removeClass('weui_bar_item_on');
//                    $(this).addClass('weui_bar_item_on');
//                    $(this).tab('show');
//                    $('#aaaa').innerHTML = data;
//                    console.log(data);
////                    $('#test').html(data);
//                } else {
//                }
//            }
//        });
//    })
</script>

<!--搜索框功能-->
<script>
    $(function(){
        var $searchBar = $('#search_bar'),
                $searchText = $('#search_text'),
                $searchInput = $('#search_input'),
                $searchClear = $('#search_clear'),
                $searchCancel = $('#search_cancel');

        function hideSearchResult(){
            $searchInput.val('');
        }
        function cancelSearch(){
            hideSearchResult();
            $searchBar.removeClass('weui_search_focusing');
            $searchText.show();
        }

        $searchText.on('click', function(){
            $searchBar.addClass('weui_search_focusing');
            $searchInput.focus();
        });
        $searchInput
                .on('blur', function () {
                    if(!this.value.length) cancelSearch();
                })
                .on('input', function(event){
                    var $searchShow = $("#search_show");
                    if ($(this).val()) {
//            console.log($(this).val());
                        var url="{:U('AreaSearch/ajax_area_search')}";
                        var querystring = $(this).val();
//            console.log(querystring);
                        $.ajax({
                            type:'post',
                            url:url,
                            data:{querystr:querystring},
                            dataType:'json',
                            success:function(data){
//                console. eval("("+data+")");
                                console.log(data);
                                jQuery.each(data,function(k,val){
                                    $('#search'+k).html(val.name);
                                    $('#search'+k+'_id').html(val.id);
                                });
                            }
                        });
                        $searchShow.show();
                    } else {
                        $searchShow.hide();
                    }
                });
        $searchClear.on('click', function(){
            hideSearchResult();
            $searchInput.focus();
        });
        $searchCancel.on('click', function(){
            cancelSearch();
            $searchInput.blur();
        });
    });
</script>

<script>
    $('#slider_nav').bind('touchstart',function(e){
//        var a = $('#slider_nav').offsetHeight;
//        var a = document.getElementById('slider_nav').originalEvent.changedTouches[0].pageY;
//        var a = document.getElementById('slider_nav').offsetTop;
//        console.log(a);
//        return;
//        e.preventDefault = true;
//        event.preventDefault = true;
//        event.preventDefault();

        document.getElementById('slider_nav').style.backgroundColor = '#eee';
//        console.log(document.getElementById('slider_nav'));
//        startX = e.originalEvent.changedTouches[0].pageX;
//        startY = e.originalEvent.changedTouches[0].pageY;
//        console.log('startX:'+startX+' startY:'+startY);
    }).bind('touchmove',function(e){
        e.preventDefault();
        start_nav = document.getElementById('slider_nav').offsetTop;
        endY = e.originalEvent.changedTouches[0].clientY;
        distanceY = endY-start_nav;
        i = Math.floor(distanceY/14);
        var alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
        showToast3(alphabet[i]);
        document.getElementById('nav'+i).click();
//        b = $('#slider_nav').children('ul').children('li').eq(i).children('a');
//        b.click();
//        console.log(b);
//        endX = e.originalEvent.changedTouches[0].pageX;
//        endY = e.originalEvent.changedTouches[0].pageY;
//        console.log('startX:'+startX+' startY:'+startY);
//        console.log('endX:'+endX+' endY:'+endY);
//        distanceX = endX-startX;
//        distanceY = endY-startY;
//        console.log('distanceX:'+distanceX+' distanceY:'+distanceY);
////        $('#slider_nav').children('ul').children('li').eq(5).children('a').click();
////        $('#eeee').click();
//        ee = document.getElementById('eeeee');
//        ee.click();
    }).bind('touchend',function(e){
        document.getElementById('slider_nav').style.backgroundColor = '';

        start_nav = document.getElementById('slider_nav').offsetTop;
        endY = e.originalEvent.changedTouches[0].clientY;
        distanceY = endY-start_nav;
        i = Math.floor(distanceY/14);
        document.getElementById('nav'+i).click();
    });
</script>

<!--cookie操作地址-->
<script>
    //所有地区选择
    $('a[name=all_area]').click(function(){
//        cookie('last_area',null);return;
        var temp_area = $(this).children('div').html().trim();
        var temp_area_id = $(this).children('div').eq(1).html().trim();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
//        console.log(temp);
        if(temp_area){
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(this).attr('href',cookie('last_url'));
        }
        else{}
    });
    //实时搜索选择
    $('a[name=real_time_area]').click(function(){
        var temp_area = $(this).children('div').children('div').children('p').html().trim();
        var temp_area_id = $(this).children('div').children('div').children('div').html().trim();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
        if(temp_area){
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(this).attr('href',cookie('last_url'));
        }
    });
    //历史地区选择
    $('a[name=last_area]').click(function(){
        var temp_area = $(this).children('div').html().trim();
        var temp_area_id = $(this).children('div').eq(1).html().trim();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
        if(temp_area){
//            cookie('lastarea',null);return;
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(this).attr('href',cookie('last_url'));
        }
    });
    function test(obj){
//        cookie('last_area',null);return;
        var temp_area = $(obj).children('div').html();
        var temp_area_id = $(obj).children('div').eq(1).html();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
//        console.log(temp);
        if(temp_area){
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(obj).attr('href',cookie('last_url'));
        }
        else{}
    }
</script>

<script>
//    var districts;
    $(function() {
        console.log(cookie('last_url'));
//        console.log(localStorage.getItem('districts'));
        if(localStorage.getItem('districts')){
            console.log('read from cache');
            var result = JSON.parse(localStorage.getItem('districts'));
            console.log(result);
            jQuery.each(result,function(k,val){
                jQuery.each(val,function(key,value){
                    var temp = document.createElement('span');
                    temp.innerHTML = "<table class='table table-condensed' style='margin-bottom: 0'><tr><td><a href='javascript:void(0)' onclick='test(this)' name='all_area' style='text-decoration: none;color:black;'><div>"+value.name+"</div><div style='display: none'>"+value.id+"</div></a></td></tr></table>";
                    document.getElementById(k).appendChild(temp);
                });
            });

//        if(false){

        }else {
            console.log('request data');
            $.ajax({
                type: "post",
                url: "{:U('AreaSearch/area_search')}",
                data: {signal: 1},
                success: function (data) {
//                    localStorage.setItem('area_have_value',1);
                    var jsonObj = eval("(" + data + ")");
//                console.log(data);
                    console.log(jsonObj);
                    localStorage.setItem('districts',JSON.stringify(jsonObj));
                    jQuery.each(jsonObj, function (k, val) {
                        console.log(k);
                        console.log(JSON.stringify(val));
                        localStorage.setItem(k,JSON.stringify(val));
                        jQuery.each(val, function (key, value) {
                            console.log(key + value.id + value.name);
                            var li = document.createElement('span');
                            li.innerHTML = "<table class='table table-condensed' style='margin-bottom: 0'><tr><td><a href='javascript:void(0)' onclick='test(this)' name='all_area' style='text-decoration: none;color:black;'><div>"+value.name+"</div><div style='display: none'>"+value.id+"</div></a></td></tr></table>";
                            document.getElementById(k).appendChild(li);
                        });
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('不可棱！！');
                }
            });
        }
    });
//    document.querySelector('body').addEventListener('touchstart', function (e) {
//        e.preventDefault();
//    });
//    document.querySelector('body').addEventListener('touchmove', function (e) {
//        e.preventDefault();
//    });
//    $('body').bind('touchstart',function(e){
////        e.preventBubble();
//        e.preventDefault();
//    });
//    document.addEventListener('touchstart', function(event) {
//        // 判断默认行为是否可以被禁用
//        if (event.cancelable) {
//            // 判断默认行为是否已经被禁用
//            if (!event.defaultPrevented) {
//                event.preventDefault();
//            }
//        }
//    }, false);



</script>
</html>