<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title></title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="bootstrap.min.css">-->
    <!--<link type="text/css" rel="stylesheet" href="weui.min.css">-->
    <!--<script type="text/javascript" src="jquery-2.2.4.min.js"></script>-->
    <!--<script type="text/javascript" src="bootstrap.min.js"></script>-->
</head>
<body style="background-color: #efeff4">
<!--搜索框-->
<div class="bd">
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
                <i class="weui_icon_search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>
    <div class="weui_cells weui_cells_access search_show" id="search_show">
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search0" style="margin-bottom: 0">实时搜索文本</p>
                    <div id="search0_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search1" style="margin-bottom: 0">实时搜索文本</p>
                    <div id="search1_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search2" style="margin-bottom: 0">实时搜索文本</p>
                    <div id="search2_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search3" style="margin-bottom: 0">实时搜索文本</p>
                    <div id="search3_id" style="display: none"></div>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell" >
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search4" style="margin-bottom: 0">实时搜索文本</p>
                    <div id="search4_id" style="display: none"></div>
                </div>
            </div>
        </a>
    </div>
</div>
<!--导航栏-->
<div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0">
    <a href="#lastarea" class="weui_navbar_item weui_bar_item_on" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                最近常用
            </span>
    </a>
    <a href="#mostarea" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                热点地区
            </span>
    </a>
    <a href="#allarea" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                地区列表
            </span>
    </a>
</div>

<div class="tab-content" style="background-color: white">
    <div id="lastarea" class="tab-pane active">
        <table class="table">
            <volist name="last_area" id="result">
                <tr>
                    <td>
                        <a href="javascript:void(0)" name="last_area" style="text-decoration: none;color:black;">
                            <div>
                                {$result->name}
                            </div>
                            <div style="display: none">
                                {$result->id}
                            </div>
                        </a>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
    <div id="mostarea" class="tab-pane">
        <table class="table">
            <tr>
                <td>
                    {area3}
                </td>
            </tr>
            <tr>
                <td>
                    {area2}
                </td>
            </tr>
            <tr>
                <td>
                    {area1}
                </td>
            </tr>
        </table>
    </div>
    <div id="allarea" class="tab-pane" >
        <div class="" style="float: right;position: fixed;right: 3px;font-size: .8em;line-height: 12px">
            <ul class="" style="list-style: none">
                <li>
                    <a href="#A">A</a>
                </li>
                <li>
                    <a href="#B">B</a>
                </li>
                <li>
                    <a href="#C">C</a>
                </li>
                <li>
                    <a href="#D">D</a>
                </li>
                <li>
                    <a href="#E">E</a>
                </li>
                <li>
                    <a href="#F">F</a>
                </li>
                <li>
                    <a href="#G">G</a>
                </li>
                <li>
                    <a href="#H">H</a>
                </li>
                <li>
                    <a href="#I">I</a>
                </li>
                <li>
                    <a href="#J">J</a>
                </li>
                <li>
                    <a href="#K">K</a>
                </li>
                <li>
                    <a href="#L">L</a>
                </li>
                <li>
                    <a href="#M">M</a>
                </li>
                <li>
                    <a href="#N">N</a>
                </li>
                <li>
                    <a href="#O">O</a>
                </li>
                <li>
                    <a href="#P">P</a>
                </li>
                <li>
                    <a href="#Q">Q</a>
                </li>
                <li>
                    <a href="#R">R</a>
                </li>
                <li>
                    <a href="#S">S</a>
                </li>
                <li>
                    <a href="#T">T</a>
                </li>
                <li>
                    <a href="#U">U</a>
                </li>
                <li>
                    <a href="#V">V</a>
                </li>
                <li>
                    <a href="#W">W</a>
                </li>
                <li>
                    <a href="#X">X</a>
                </li>
                <li>
                    <a href="#Y">Y</a>
                </li>
                <li>
                    <a href="#Z">Z</a>
                </li>
                <li>
                    <a href="#">#</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <span id="A">&emsp;A</span>
            <volist name="resultA" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="B">&emsp;B</span>
            <volist name="resultB" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="C">&emsp;C</span>
            <volist name="resultC" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="D">&emsp;D</span>
            <volist name="resultD" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="E">&emsp;E</span>
            <volist name="resultE" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="F">&emsp;F</span>
            <volist name="resultF" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="G">&emsp;G</span>
            <volist name="resultG" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="H">&emsp;H</span>
            <volist name="resultH" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="I">&emsp;I</span>
            <volist name="resultI" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="J">&emsp;J</span>
            <volist name="resultJ" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="K">&emsp;K</span>
            <volist name="resultK" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="L">&emsp;L</span>
            <volist name="resultL" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="M">&emsp;M</span>
            <volist name="resultM" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                            </a>
                            <div style="display: none">
                                {$result.id}
                            </div>
                            <div style="display: none">
                                {$result|json_encode}
                            </div>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="N">&emsp;N</span>
            <volist name="resultN" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="O">&emsp;O</span>
            <volist name="resultO" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="P">&emsp;P</span>
            <volist name="resultP" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="Q">&emsp;Q</span>
            <volist name="resultQ" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="R">&emsp;R</span>
            <volist name="resultR" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="S">&emsp;S</span>
            <volist name="resultS" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="T">&emsp;T</span>
            <volist name="resultT" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="U">&emsp;U</span>
            <volist name="resultU" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="V">&emsp;V</span>
            <volist name="resultV" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="W">&emsp;W</span>
            <volist name="resultW" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="X">&emsp;X</span>
            <volist name="resultX" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="Y">&emsp;Y</span>
            <volist name="resultY" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
            <span id="Z">&emsp;Z</span>
            <volist name="resultZ" id="result">
                <table class="table table-condensed" style="margin-bottom: 0">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" name="all_area" style="text-decoration: none;color:black;">
                                <div>
                                    {$result.name}
                                </div>
                                <div style="display: none">
                                    {$result.id}
                                </div>
                                <div style="display: none">
                                    {$result|json_encode}
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </volist>
        </div>
    </div>
</div>

</body>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
//        $(this).parent('li').siblings('li').removeClass('weui_bar_item_on');
//        $(this).parent('li').addClass('weui_bar_item_on');
//        $(this).tab('show');
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    })
//    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
//        var b = e.target; //通过此参数可以获得激活的 tab 信息
//        console.log(b);
////        e.relatedTarget // 激活之前的那一个 tab 的信息
//    })
</script>

<!--搜索框功能-->
<script>
    $('#search_input').focus(function(){
        var $weuiSearchBar = $('#search_bar');
        $weuiSearchBar.addClass('weui_search_focusing');
    });
    $('#search_input').blur(function(){
        var $weuiSearchBar = $('#search_bar');
        $weuiSearchBar.removeClass('weui_search_focusing');
        if ($(this).val()){
            $('#search_text').hide();
        } else {
            $('#search_text').show();
        }
    });
    $('#search_input').bind('input','#search_input',function(){
        var $searchShow = $("#search_show");
        if ($(this).val()) {
//            console.log($(this).val());
            var url="{:U('AreaSearch/ajax_area_search')}";
            var querystring = $(this).val();
//            console.log(querystring);
            $.ajax({
                type:'post',
                url:url,
                data:{querystr:querystring},
                dataType:'json',
                success:function(data){
//                console. eval("("+data+")");
                console.log(data);
                jQuery.each(data,function(k,val){
                    $('#search'+k).html(val.name);
                    $('#search'+k+'_id').html(val.id);
                });
            }
            });
            $searchShow.show();
        } else {
            $searchShow.hide();
        }
    });
    $('#search_cancel').bind('touchend','#search_cancel',function(){
        $("#search_show").hide();
        $('#search_input').val('');
    });
    $('#search_clear').bind('touchend','#search_cancel',function(){
        $("#search_show").hide();
        $('#search_input').val('');
    });
</script>

<script>
    $(function(){
        console.log(cookie());
    })
</script>

<!--cookie操作地址-->
<script>
    //所有地区选择
    $('a[name=all_area]').click(function(){
//        cookie('last_area',null);return;
        var temp_area = $(this).children('div').html().trim();
        var temp_area_id = $(this).children('div').eq(1).html().trim();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
//        console.log(temp);
        if(temp_area){
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(this).attr('href',cookie('last_url'));
        }
        else{}
    });
    //实时搜索选择
    $('a[name=real_time_area]').click(function(){
        var temp_area = $(this).children('div').children('div').children('p').html().trim();
        var temp_area_id = $(this).children('div').children('div').children('div').html().trim();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
        if(temp_area){
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(this).attr('href',cookie('last_url'));
        }
    });
    //历史地区选择
    $('a[name=last_area]').click(function(){
        var temp_area = $(this).children('div').html().trim();
        var temp_area_id = $(this).children('div').eq(1).html().trim();
        var temp_area_js = encodeURIComponent(temp_area);
        var temp = {id:temp_area_id,name:temp_area_js};
        if(temp_area){
//            cookie('lastarea',null);return;
            if(cookie('last_area')){
                var a = JSON.parse(cookie('last_area'));
                for(var i=0; i<a.length; i++) {
                    if(temp_area_id == a[i].id) {
                        a.splice(i, 1);
                        break;
                    }
                }
                a.push(temp);
                cookie('last_area',JSON.stringify(a));
            }else{
                var b = [];
                b.push(temp);
                cookie('last_area',JSON.stringify(b));
            }
            if(cookie('start_or_end') == 'start'){
                cookie('area_start',temp_area);
                cookie('area_start_id',temp_area_id);
            }else if(cookie('start_or_end') == 'end'){
                cookie('area_end',temp_area);
                cookie('area_end_id',temp_area_id);
            }
            cookie('need_post',true);
            $(this).attr('href',cookie('last_url'));
        }
    });
</script>

</html>