<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title></title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll.js"></script>
</head>
<body style="height: 80%;background: url('__PUBLIC__/home/images/invite_background.jpg') no-repeat -36px 37px;background-size: cover;">
<!--标题栏-->
<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">
    <!--<div class="container text-center" style="">-->
    <!--<div style="display: inline-block;height: 100%;vertical-align: middle"></div>-->
        <span class="pull-left" style="">
                <!--<a class="glyphicon glyphicon-chevron-left"></a>-->
            <a href="{:U('PersonalCenter/personal_center')}">
                <img src="__PUBLIC__/home/images/goback.png" class="" style="width: 15px;height: auto;margin-top: 40%">
            </a>
        </span>
        <span class="">
            <span class="" style="font-size: 1.5em;margin-left: -4%">好友推荐</span>
        </span>
    <!--</div>-->
</div>
<!--清除浮动-->
<div class="clearfix"></div>
<div style="position: relative">
    <!--<div style="position: absolute;margin-top: -35%;margin-left: 2%;z-index: 1">-->
        <!--<img src="__PUBLIC__/home/images/invite_relation.png" style="width: 90%">-->
    <!--</div>-->
    <div class="text-center" style="margin-top: 35%;z-index: 9999">
        <a href="{:U('Invite/qrcode_invite')}">
            <img src="__PUBLIC__/home/images/invite_button.png" style="width: 23%;">
        </a>
    </div>
    <div class="text-center">
        <button class="btn btn-default" style="width: 80%;margin-top: 30%">我的邀请码:123123123</button>
        <p class="text-muted text-center" style="padding:3% 10%">
            &emsp;我平台将会举行推荐好友送红包、抽奖等活动，赶快邀请您的朋友一起加入吧，我们将竭诚为您服务。
        </p>
    </div>
</div>

</body>
</html>
