<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <title>运费修改</title>
</head>
<body>
<div style="margin-top: 5%;text-align: center;margin-bottom: 5%">
    <input class="form-control" id="freight_id" style="text-align: center" placeholder="运费ID">
    <button class="btn btn-info btn-search" style="margin-top: 1em;width: 20%">查询</button>
</div>
<div class="container">
    <div class="start">
        <input class="form-control" type="text" name="freight_area_start_name" id="freight_area_start_name"
               placeholder="起始地" style="width: 40%;display: inline-block">
        <button type="button" class="btn btn-default" id="freight_area_check_start">检测地址合法</button>
        <input type="hidden" name="freight_area_start" id="freight_area_start">
        <input type="hidden" name="freight_area_start_merger_name" id="freight_area_start_merger_name">
        <span id="freight_area_check_start_result"></span>
        <input class="form-control" type="text" name="freight_area_start_detail" id="freight_area_start_detail"
               placeholder="详细地址" style="width: 40%;display: inline-block">
    </div>
    <div class="end" style="margin-top: 1em">
        <input class="form-control" type="text" name="freight_area_end_name" id="freight_area_end_name"
               placeholder="目的地" style="width: 40%;display: inline-block">
        <button type="button" class="btn btn-default" id="freight_area_check_end">检测地址合法</button>
        <input type="hidden" name="freight_area_end" id="freight_area_end">
        <input type="hidden" name="freight_area_end_merger_name" id="freight_area_end_merger_name">
        <span id="freight_area_check_end_result"></span>
        <input class="form-control" type="text" name="freight_area_end_detail" id="freight_area_end_detail"
               placeholder="详细地址" style="width: 40%;display: inline-block">
    </div>
    <div style="margin-top: 1em">
        <input class="form-control" type="number" name="freight" id="freight_text" placeholder="运费">
        <p id="distance" style="color:red;margin-top: 1em;text-align: center"></p>
    </div>
</div>
<div style="margin-top: 1em;text-align: center">
    <button type="button" class="btn btn-primary" id="freight_submit">提交</button>
</div>
<div style="margin-top: 1em;text-align: center">
    <button type="button" class="btn btn-danger">删除</button>
</div>
<div style="margin: 3em 3em 0 3em" class="msg_content" id="msg_content"></div>
</body>
<script>
    $('.btn-search').click(function () {
        var id = $('#freight_id').val().trim();
        $.ajax({
            type: "post",
            url: "{:U('MsgCheck/freightSearch')}",
            data: {
                id: id
            },
            success: function (data) {
                var dataObj = JSON.parse(data);
                if (dataObj['status'] == 'no-id') {
                    alert('id为空！');
                } else if (dataObj['status'] == 'no-freight') {
                    alert('没查到该运费信息')
                } else if (dataObj['status'] == 'success') {
                    //渲染值
                    $('#freight_area_start_name').val(dataObj['freight_data']['area_start_name']);
                    $('#freight_area_start').val(dataObj['freight_data']['area_start_id']);
                    $('#freight_area_start_merger_name').val(dataObj['freight_data']['area_start_merger_name']);
                    $('#freight_area_start_detail').val(dataObj['freight_data']['area_start_detail']);

                    $('#freight_area_end_name').val(dataObj['freight_data']['area_end_name']);
                    $('#freight_area_end').val(dataObj['freight_data']['area_end_id']);
                    $('#freight_area_end_merger_name').val(dataObj['freight_data']['area_end_merger_name']);
                    $('#freight_area_end_detail').val(dataObj['freight_data']['area_end_detail']);

                    $('#freight_text').val(dataObj['freight_data']['freight_price']);

                    $('#distance').html(parseFloat(dataObj['freight_data']['distance'])/1000+'km');
                    $('#msg_content').html(dataObj['content']);
                } else {
                    return false;
                }
            }
        });
    });
    $('.btn-danger').click(function () {
        if (!confirm("确认要删除此条消息？")) {
            return false;
        }
        var id = $('#freight_id').val().trim();
        $.ajax({
            type: "post",
            url: "{:U('MsgCheck/freightDelete')}",
            data: {
                id: id
            },
            success: function (data) {
                var dataObj = JSON.parse(data);
                if (dataObj['status'] == 'no-id') {
                    alert('id为空！');
                } else if (dataObj['status'] == 'failure') {
                    alert('更新失败！')
                } else if (dataObj['status'] == 'success') {
                    //渲染值
                    alert("删除成功！")
                } else {
                    return false;
                }
            }
        })
    });
    //地址检测函数
    function areaCheck(area,type) {
        var areaObj;
        $.ajax({
            type: "post",
            url: "{:U('MsgCheck/area_check')}",
            data: {area_name: area,type:type},
            async: false,
            success: function (data) {
                console.log(data);
                if (data != 0) {
                    areaObj = eval('(' + data + ')');
                } else {
                    areaObj = false;
                }
            }
        });
        return areaObj;
    }
    function areaCheckClick(str){
        if(str == 'start'){
            var $this = $('#freight_area_check_start');
            var area_name = $this.prev().val();
            if (!area_name) {
                return false;
            }
            console.log('start_click', area_name);
            $('#freight_area_check_start_result').html('');
            var result = areaCheck(area_name,str);
            if (result) {
                $this.next().val(result['id']);
                $('#freight_area_start_merger_name').val(result['merger_name']);
                console.log('start_click', result['merger_name'], ' input ', $('#freight_area_start_merger_name').val());
                return true;
            } else {
                $('#freight_area_check_start_result').html("<span style='color:red'>不合法</span>");
                return false;
            }

        } else if(str == 'end'){
            $this = $('#freight_area_check_end');
            area_name = $this.prev().val();
            if (!area_name) {
                return false;
            }
            $('#freight_area_check_end_result').html('');
            result = areaCheck(area_name,str);
            if (result) {
                $this.next().val(result['id']);
                $('#freight_area_end_merger_name').val(result['merger_name']);
                return true;
            } else {
                $('#freight_area_check_end_result').html("<span style='color:red'>不合法</span>");
                return false;
            }
        }
    }
    $('#freight_area_check_start').click(function () {
        areaCheckClick('start');
    });
    $('#freight_area_check_end').click(function () {
        areaCheckClick('end')
    });
</script>
<!--运费表单提交-->
<script>
    $('#freight_submit').click(function () {
        var a = areaCheckClick('start');
        var b = areaCheckClick('end');
        if(!a || !b){
            return false;
        }
        var area_start_name = $('#freight_area_start_name').val();

        var area_start = $('#freight_area_start').val();
        var area_start_detail = $('#freight_area_start_detail').val();
        var area_start_merger_name = $('#freight_area_start_merger_name').val();
        console.log('submit:', area_start_merger_name);

        var area_end_name = $('#freight_area_end_name').val();
        var area_end = $('#freight_area_end').val();
        var area_end_detail = $('#freight_area_end_detail').val();
        var area_end_merger_name = $('#freight_area_end_merger_name').val();

        var freight_text = $('#freight_text').val();
        var freight = $('input[name=freight]:checked').val();

        console.log(area_start, area_end);

        var $now_selected = $('input[name=freight]:checked');
        var $next_selected = $now_selected.parent('label').parent('span').next().children('label').children('input');

        var result_freight;
        if (freight_text) {
            result_freight = freight_text;
        } else {
            result_freight = freight;
        }

        if (area_start == 0 || area_end == 0 || !result_freight) {
            alert('操作错误！');
            return false;
        }
        var freight_id = $('#freight_id').val().trim();
        $.ajax({
            type: "post",
            url: "{:U('MsgCheck/freightSubmit')}",
            data: {
                id: freight_id,
                area_start_id: area_start,
                area_start_name: area_start_name,
                area_start_detail: area_start_detail,
                area_start_merger_name: area_start_merger_name,
                area_end_id: area_end,
                area_end_name: area_end_name,
                area_end_detail: area_end_detail,
                area_end_merger_name: area_end_merger_name,
                freight_price: result_freight
            },
            success: function (data) {
                console.log(data);
                if (data) {
                    alert('修改成功！');
                } else {
                    //未进行差异性更新
                    alert('未进行差异性更新');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    })
</script>
</html>