<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <title>车辆停车查询</title>
</head>
<style>
    #result div {
        font-size: 1.5em;
        color: red;;
        margin: 0.5em 0;
    }
</style>
<body>
<div class="page-header text-center" style="font-size: 2em">
    车辆停车查询
</div>

<div class="container">
    <form id="form_search">
        <div class="form-group">
            <label for="vclN">车牌号码</label>
            <input class="form-control" type="text" id="vclN" name="vclN" placeholder="车牌号码">
        </div>
        <div class="form-group">
            <label>车牌颜色</label>

            <div class="radio">
                <label>
                    <input type="radio" name="vco" id="vco_1" value="1" checked>
                    蓝色
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="vco" id="vco_2" value="2">
                    黄色
                </label>
            </div>
        </div>
        <div class="form-group">
            <!--<label for="qryBtm">开始时间</label>-->
            <label for="qryBtm">查询日期</label>
            <input class="form-control" type="date" id="qryBtm" name="qryBtm">
        </div>
        <!--<div class="form-group">-->
        <!--<label for="qryEtm">结束时间</label>-->
        <!--<input class="form-control" type="datetime-local" id="qryEtm" name="qryEtm">-->
        <input class="form-control" type="hidden" id="qryEtm" name="qryEtm">
        <!--</div>-->
        <div class="form-group">
            <label for="parkMins">停车时长(分钟,至少为3)</label>
            <input class="form-control" type="text" id="parkMins" name="parkMins" value="10">
        </div>
        <div class="form-group" style="text-align: end">
            <button type="reset" class="btn btn-default">重置</button>
            <button id="submit" class="btn btn-default">提交</button>
        </div>
    </form>
</div>

<div class="page-header text-center" style="font-size: 2em">
    结果
</div>
<div class="container" id="result">

</div>
</body>
<script>
    $('#submit').click(function (e) {
        e.preventDefault();
        var vclN = $('#vclN').val();
        var vco = $('input[name=vco]').val();
        var qryBtm = $('#qryBtm').val();
        if (vclN && vco && qryBtm) {
            $('#qryEtm').val(qryBtm);
            var subData = $("#form_search").serialize();
            $.ajax({
                type: 'post',
                url: "{:U('carLocation/carParkAction')}",
                data: subData,
                success: function (data) {
                    var resultNode = $('#result');
                    resultNode.html('');
                    var resultStr = '';
                    if (data) {
                        var jsonObj = JSON.parse(data);
                        console.log(jsonObj);
                        //parkInfo:停靠点集合;parkSize:停靠点大小;parkMins:停车时长;bte:停车开始时间;ete:停车结束时间;adr:停车位置描述
                        resultStr += '<div>停靠点大小：' + jsonObj.parkSize + '</div>';
                        $.each(jsonObj['parkInfo'], function (k, v) {
                            resultStr += '<div>' + v.bte + '==>' + v.ete + ':</div>' +
                                    '<div>&emsp;&emsp;停靠位置：' + v.adr + '</div>' +
                                    '<div>&emsp;&emsp;停车时长：' + v.parkMins + 'mins</div>';
                        });
                        resultNode.append(resultStr);
                    } else {
                        //查无结果
                        resultStr = '<div>查无结果</div>';
                        resultNode.append(resultStr);
                    }
                }
            })
        } else {
            alert('输入内容不能为空！');
            return false;
        }
    });
</script>
</html>