<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <title>总入口</title>
</head>
<body>
<div class="page-header text-center" style="font-size: 2em">
    入口链接
</div>
<div class="container text-center">
    <div class="well">
        <a href="https://www.xuncl.com/index.php/Home/CarLocation/carOwnerCheckShow" target="_blank">车主真实性验证</a>
    </div>
    <div class="well">
        <a href="https://www.xuncl.com/index.php/Home/CarLocation/carRTCNoShow" target="_blank">道路运输证查询</a>
    </div>
    <div class="well">
        <a href="https://www.xuncl.com/index.php/Home/CarLocation/carParkShow" target="_blank">车辆停车查询</a>
    </div>
    <div class="well">
        <a href="https://www.xuncl.com/index.php/Home/CarLocation/carsLastLocationMultiShow"
           target="_blank">多车最新位置查询</a>
    </div>
    <div class="well">
        <a href="https://www.xuncl.com/index.php/Home/CarLocation/carTrackShow" target="_blank">车辆轨迹查询</a>
    </div>
    <div class="well">
        <a href="https://www.xuncl.com/index.php/Home/CarLocation/carOperationDataShow" target="_blank">车辆运营数据查询</a>
    </div>
</div>

</body>
</html>