<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>主页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
</head>

<body style="background-color: white">

<!--&lt;!&ndash;海报&ndash;&gt;-->
<!--<div>-->
<!--<img src="__PUBLIC__/home/images/poster1.jpg" style="width: 100%;height: 200px">-->
<!--</div>-->

<!--信息统计-->
<ul style="margin-top: 5%;margin-left: 10%;margin-bottom: 5%;width: 80%;color: #04bfc6">
    <li><span style="color: black">今日我平台信息总量：<span style="color:red">{$todayCount}条</span></span></li>
    <li><span style="color: black">运输订单信息量：<span style="color:red">{$todayTrade}条</span></span></li>
    <li><span style="color: black">交易订单信息量：<span style="color:red">{$todayTrans}条</span></span></li>
</ul>

<!--顶部功能栏-->
<div class="text-center" style="width: 100%">
<div style="position: absolute;top: 23%;">
    <div class="text-center" style="width: 50%;float:left;padding-bottom: 5%;
        /*border-right:1px solid #04bfc6;*/
        border: none;
  background-image: -webkit-linear-gradient(white,#04bfc6 100%);
  background-image: -moz-linear-gradient(white,#04bfc6 100%);
  background-image: -o-linear-gradient(white,#04bfc6 100%);
  background-image: linear-gradient(white,#04bfc6 100%);
  background-size:  1px 100%;
  background-repeat: no-repeat;
  background-position: right;
        ">
        <a href="{:U('OwnerPublish/owner_publish')}" style="text-decoration: none;color:black">
            <!--<div class="btn" style="border-radius: 50%;padding: 1px;">-->
            <img src="__PUBLIC__/home/images/publish_button.png" style=";
                width: 50%;height: 50%;
                /*width: 70px;height: 70px;*/
                ">
            <!--</div>-->
            <div style="font-size: 1.5em;margin-top: 1px">发布信息</div>
        </a>
    </div>
    <div class="text-center" style="width: 50%;float: left;padding-bottom: 5%;">
        <a href="{:U('DriverSearch/driver_job_search')}" style="text-decoration: none;color: black">
            <img src="__PUBLIC__/home/images/driver_search_button.png" class=""
                 style=";
                     /*width: 70px;height: 70px;*/
                     width: 50%;height: 50%;
                     ">

            <div style="font-size: 1.5em;margin-top: 1px">司机找活</div>
        </a>
    </div>
    <div style=";height: 1px;width: 100%;float: left;margin:0;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
    background: -o-linear-gradient(right, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
    background: -moz-linear-gradient(right, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
    background: linear-gradient(to right, rgba(255,255,255,0), #04bfc6 50%,rgba(255,0,0,0));
    ">
    </div>
    <!--<div style="margin-left: 30%;height: 100px;width: 1px;-->
    <!--background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
    <!--background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
    <!--background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
    <!--background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
    <!--">-->
    <!--</div>-->
    <div class="text-center" style="width: 50%;float: left;padding-top: 5%;
            /*border-right:1px solid #04bfc6;*/
            border: none;
  background-image: -webkit-linear-gradient(#04bfc6,white 100%);
  background-image: -moz-linear-gradient(#04bfc6,white 100%);
  background-image: -o-linear-gradient(#04bfc6,white 100%);
  background-image: linear-gradient(#04bfc6,white 100%);
  background-size:  1px 100%;
  background-repeat: no-repeat;
  background-position: right;
            ">
        <a href="{:U('OwnerSearch/owner_car_search')}" style="text-decoration: none;color: black">
            <img src="__PUBLIC__/home/images/owner_search_button.png"
                 style=";
                         width: 50%;height: 50%;
                         /*width: 70px;height: 70px;*/
                         ">

            <div style="font-size: 1.5em;margin-top: 1px">货源找车</div>
        </a>
    </div>
    <div class="text-center" style="width: 50%;float: left;padding-top: 5%">
        <a href="{:U('TradeSearch/trade_search')}" style="text-decoration: none;color: black">

            <img src="__PUBLIC__/home/images/trade_search_button.png"
                 style=";
                         /*width: 70px;height: 70px;*/
                         width: 50%;height: 50%;
                         ">

            <div style="font-size: 1.5em;margin-top: 1px">买卖查询</div>
        </a>
    </div>
</div>

</div>
<!--底部功能栏-->
<div class="" style="position: absolute;width: 100%;bottom: 0;background-color: #04bfc6">
    <table class="table" style="border: none;margin: 0">
        <tr>
            <td class="text-center">
                <a href="{:U('PersonalCenter/personal_center')}" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/personal_center.png" style="width: 30px;height: 30px;">

                        <p style="margin: 0">个人中心</p>
                        <span class="" style="font-size: 12px">订单查询</span>
                    </div>
                </a>
            </td>
            <td class="text-center">
                <a href="{:U('OwnerPublishHistory/owner_publish_history')}" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/my_publish.png" style="width: 30px;height: 30px;">

                        <p style="margin: 0">我的发布</p>
                        <span class="" style="font-size: 12px">发布查询</span>
                    </div>
                </a>
            </td>
            <td class="text-center">
                <a href="{:U('Feedback/feedback')}" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/custom_service.png" style="width: 30px;height: 30px;">

                        <p style="margin: 0">客&emsp;服</p>
                        <span class="" style="font-size: 12px">服务咨询</span>
                    </div>
                </a>
            </td>
            <td class="text-center">
                <a href="javascript:void(0)" onclick="more()" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/more.png" style="width: 30px;height: 30px;">

                        <p style="margin: 0">更&emsp;多</p>
                        <span class="" style="font-size: 12px">相关咨询</span>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
<script>
    function more(){
        alert('更多功能将在后续版本加入，尽情期待哦！')
    }
</script>
</html>