<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>主页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>

<body style=";background-color: white;">

<!--海报-->
<div style="background-color: #04bfc6;height: 10%;">
    <img src="__PUBLIC__/home/images/logo.png" style="margin-top: 1.5%;margin-left: 3%;height: 90%;width: 25%">
    <span style="font-size: 2em;color: white;vertical-align: middle">超级矿资源</span>
</div>

<!--信息统计-->
<ul style="margin-top: 0;margin-bottom: 0;margin-left: 10%;padding: 3%;width: 80%;color: #04bfc6;height: 5%">
    <li><span style="color: black">最近一周平台信息总量：<span style="color:red">{$todayCount}条</span></span></li>
    <!--<li><span style="color: black">运输订单信息量：<span style="color:red">{$todayTrade}条</span></span></li>-->
    <!--<li><span style="color: black">交易订单信息量：<span style="color:red">{$todayTrans}条</span></span></li>-->
</ul>

<!--顶部功能栏-->
<div class="" style="margin:auto auto;width: 100%;height:70%;vertical-align: middle;display:flex;
            justify-content:center;
            align-items:center;">
    <div style="width: 100%;vertical-align: middle">
        <div class="text-center" style="width: 50%;float:left;padding-bottom: 5%;
            /*border-right:1px solid #04bfc6;*/
            border: none;
        background-image: -webkit-linear-gradient(white,#04bfc6 100%);
        background-image: -moz-linear-gradient(white,#04bfc6 100%);
        background-image: -o-linear-gradient(white,#04bfc6 100%);
        background-image: linear-gradient(white,#04bfc6 100%);
        background-size:  1px 100%;
        background-repeat: no-repeat;
        background-position: right;
            ">
            <a href="{:U('OwnerPublish/owner_publish')}" style="text-decoration: none;color:black">
                <!--<div class="btn" style="border-radius: 50%;padding: 1px;">-->
                <img src="__PUBLIC__/home/images/publish_button.png" style=";
                    width: 50%;height: 50%;
                    /*width: 70px;height: 70px;*/
                    ">
                <!--</div>-->
                <div style="font-size: 1.5em;margin-top: 1px">发布信息</div>
            </a>
        </div>
        <div class="text-center" style="width: 50%;float: left;padding-bottom: 5%;">
            <a href="{:U('DriverSearch/driver_job_search')}" style="text-decoration: none;color: black">
                <img src="__PUBLIC__/home/images/driver_search_button.png" class=""
                     style=";
                         /*width: 70px;height: 70px;*/
                         width: 50%;height: 50%;
                         ">

                <div style="font-size: 1.5em;margin-top: 1px">找车信息</div>
            </a>
        </div>
        <div style=";height: 1px;width: 100%;float: left;margin:0;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
        background: -o-linear-gradient(right, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
        background: -moz-linear-gradient(right, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
        background: linear-gradient(to right, rgba(255,255,255,0), #04bfc6 50%,rgba(255,255,255,0));
        ">
        </div>
        <!--<div style="margin-left: 30%;height: 100px;width: 1px;-->
        <!--background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
        <!--background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
        <!--background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
        <!--background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));-->
        <!--">-->
        <!--</div>-->
        <div class="text-center" style="width: 50%;float: left;padding-top: 5%;
                /*border-right:1px solid #04bfc6;*/
                border: none;
        background-image: -webkit-linear-gradient(#04bfc6,white 100%);
        background-image: -moz-linear-gradient(#04bfc6,white 100%);
        background-image: -o-linear-gradient(#04bfc6,white 100%);
        background-image: linear-gradient(#04bfc6,white 100%);
        background-size:  1px 100%;
        background-repeat: no-repeat;
        background-position: right;
                ">
            <a href="{:U('OwnerSearch/owner_car_search')}" style="text-decoration: none;color: black">
                <img src="__PUBLIC__/home/images/owner_search_button.png"
                     style=";
                             width: 50%;height: 50%;
                             /*width: 70px;height: 70px;*/
                             ">

                <div style="font-size: 1.5em;margin-top: 1px">车源信息</div>
            </a>
        </div>
        <div class="text-center" style="width: 50%;float: left;padding-top: 5%">
            <a href="{:U('TradeSearch/trade_search')}" style="text-decoration: none;color: black">

                <img src="__PUBLIC__/home/images/trade_search_button.png"
                     style=";
                             /*width: 70px;height: 70px;*/
                             width: 50%;height: 50%;
                             ">

                <div style="font-size: 1.5em;margin-top: 1px">买卖查询</div>
            </a>
        </div>
    </div>
</div>
<!--底部功能栏-->
<div class="" style="position: absolute;;bottom: 0;width: 100%;background-color: #04bfc6;vertical-align: middle;">
    <table class="table" style="border: none;margin: 0;height: 100%">
        <tr>
            <td class="text-center;" style="vertical-align: middle;text-align: center">
                <a href="{:U('PersonalCenter/personal_center')}" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/personal_center.png" style="width: 40px;height: 40px;">

                        <p style="margin: 5% 0;font-size: 1em">个人中心</p>
                    </div>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;text-align: center">
                <a href="{:U('OwnerPublishHistory/owner_publish_history')}" style=";text-decoration: none;color: white">
                    <div style="position: relative">
                        <notempty name="publishCount">
                            <span class="badge"
                                  style="position: absolute;background-color: red;right: 0;top: 0;padding: 1px 3px">
                            {$publishCount}
                        </span>
                        </notempty>
                        <img src="__PUBLIC__/home/images/my_publish.png" style="width: 40px;height: 40px;">

                        <p style="margin: 5% 0;font-size: 1em">我的发布</p>
                    </div>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;text-align: center">
                <a href="{:U('OwnerOrder/owner_order')}" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/my_favorite2.png" style="width: 40px;height: 40px;">

                        <p style="margin: 5% 0;font-size: 1em">我的收藏</p>
                    </div>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;text-align: center">
                <a href="{:U('Feedback/feedback')}" style="text-decoration: none;color: white">
                    <div>
                        <img src="__PUBLIC__/home/images/custom_service.png" style="width: 40px;height: 40px;">

                        <p style="margin: 5% 0;font-size: 1em">客&emsp;&emsp;服</p>
                    </div>
                </a>
            </td>
            <!--<td class="text-center" style="vertical-align: middle;text-align: center">-->
            <!--<if condition="session('user_info')['role_id'] eq 2">-->
            <!--<div data-toggle="modal" data-target="#more" style="text-decoration: none;color: white">-->
            <!--<img src="__PUBLIC__/home/images/more.png" style="width: 40px;height: 40px;">-->
            <!--<p style="margin: 5% 0;font-size: 1em">更&emsp;&emsp;多</p>-->
            <!--</div>-->
            <!--<else />-->
            <!--<div onclick="window.location.href='{:U(\'CooperatePage/WeChe\')}'" style="color:white">-->
            <!--<img src="__PUBLIC__/home/images/more.png" style="width: 40px;height: 40px;">-->
            <!--<p style="margin: 5% 0;font-size: 1em">车主福利</p>-->
            <!--</div>-->
            <!--</if>-->
            <!--</td>-->
        </tr>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="color: black;">提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">更多功能将在后续版本加入，尽情期待哦！</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: '【超级矿资源】信息量最大的煤炭平台', // 分享标题
            link: "http://www.xuncl.com/index.php/Home/Homepage/homepage", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享主页至朋友圈');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享主页至朋友圈');
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
//            title: '来自{$user["user_name"]}('+role+')的{$message["category"]}消息', // 分享标题
            title: '【超级矿资源】信息量最大的煤炭平台', // 分享标题
            desc: '点击进入信息量最大的煤炭信息平台,最近一周已有{$todayCount}条信息', // 分享描述
            link: "http://www.xuncl.com/index.php/Home/Homepage/homepage", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享主页给好友');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享主页给好友');
            }
        });
    });
</script>
</html>