<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
    <title>车主福利</title>
</head>
<body style="background-color: white">
    <div onclick="window.location.href='https://u.wcar.net.cn/1dN';">
        <img src="__PUBLIC__/home/images/driver_benefits.jpg" style="width: 100%;height: 100%">
    </div>
    <div style="width: 100%">
        <a href="http://cha.weiche.me/uc#&index" class="list-group-item">
            <div class="pull-left" style="">
                <img src="__PUBLIC__/home/images/illegal_query.png" style="vertical-align: middle;width: 45px;height: 45px">
            </div>
            <span style=";font-size: 2em;margin-left: 15%">违 章 查 询</span>
        </a>
        <!--<a href="https://u.wcar.net.cn/1dN" class="list-group-item">-->
            <!--<div class="pull-left" style="vertical-align: middle">-->
                <!--<img src="__PUBLIC__/home/images/discount_for_refueling.png" style="vertical-align: middle;width: 45px;height: 45px" class="pull-right">-->
            <!--</div>-->
            <!--<span style="font-size: 2em;margin-left: 15%;">优 惠 加 油</span>-->
        <!--</a>-->
        <a href="https://u.wcar.net.cn/1es" class="list-group-item">
            <div class="pull-left" style="vertical-align: middle">
                <img src="__PUBLIC__/home/images/travel_accident_insurance.png" style="vertical-align: middle;width: 45px;height: 45px" class="pull-right">
            </div>
            <span style="font-size: 2em;margin-left: 15%">免 费 出 行 险</span>
        </a>
        <img src="__PUBLIC__/home/images/cooperate_logo.png" style="margin-top: 10%;float: right;width: 250px;height: 40px" class="pull-right" usemap="#logo">
        <map name="logo">
            <area shape="rect" coords="0,0,125,40" href="http://weiche.me/">
            <area shape="rect" coords="125,0,250,40" href="http://www.xuncl.com/index.php/Home/homepage/homepage" >
        </map>
    </div>
</body>
</html>