<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <title>查信息</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>-->
</head>
<body style="touch-action: none">
<!--订单展示栏-->
<div id="wrapper" style="top: 52px;margin-left: 2.5%;">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon" style="float: left"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content">
            <ul id="buy" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="data" id="vo">
                    <li class="weui_panel weui_panel_access" style="border-radius: 5px">
                        <div class="weui_media_box weui_media_appmsg" style="margin: 0;padding-left: 0;padding-right: 0">
                            <div class="weui_media_bd">
                                <div>
                                    <h4 class="weui_media_title">{$vo.id}</h4>
                                </div>
                            </div>
                            <div class="weui_media_bd" style="">
                                <a href="tel:{$vo.phone_number}" onclick="ck_log('dial', '{$vo.phone_number}')" class="" style='text-decoration: none;color: black'>
                                    <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                                        <span style="">拨打电话</span></h4>
                                </a>
                            </div>
                        </div>
                        <div class="highlight">{$vo.content}</div><div class='pull-right'>发布时间:{$vo.update_time}</div>
                    </li>
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<script>
    function ck_log(a,b){
        console.log("To be deleted.")
    }
</script>
<script>
    <!--滚动功能-->
    var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset;
    var time_now, update_time;
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
//        location.reload();
        var subData = $('#tag_search').serialize();
        var search_input = cookie('search_input') ? cookie('search_input') : '';
        var select_category = cookie('search_tag');
        var filter_kind = cookie('trade_search_filter_kind') ? cookie('trade_search_filter_kind') : '';
        var filter_granularity = cookie('trade_search_filter_granularity') ? cookie('trade_search_filter_granularity') : '';
        var filter_heat_min = cookie('trade_search_filter_heat_min') ? cookie('trade_search_filter_heat_min') : '';
        var filter_heat_max = cookie('trade_search_filter_heat_max') ? cookie('trade_search_filter_heat_max') : '';
        filter_kind = filter_kind ? filter_kind.split(',') : '';
        filter_granularity = filter_granularity ? filter_granularity.split(',') : '';
        $.ajax({
            type: "post",
            url: "{:U('TradeSearch/trade_search')}",
            data: {
                isAjax: 1,
                search_input: search_input,
                select_category: select_category,
                filter_kind: filter_kind,
                filter_granularity: filter_granularity,
                filter_heat_min: filter_heat_min,
                filter_heat_max: filter_heat_max
            },
            success: function (data) {
                console.log('success');
//                console.log(data);
//                return;
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
//                    return;
                if (jsonObj.msg) {
                    //重置筛选条件组成
                    $('#page').val(1);
                    $('#where_cond_json').html(jsonObj.where_cond_json);
                    $('#stage').html(jsonObj.stage);
                    if (cookie('search_tag') == '求购') {
                        document.getElementById('buy').innerHTML = '';
                    }
                    else if (cookie('search_tag') == '供应') {
                        document.getElementById('sell').innerHTML = '';
                    }
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        var li = document.createElement('li');
                        li.innerHTML = val;
                        console.log(cookie('search_tag'));
                        if (cookie('search_tag') == '求购') {
                            document.getElementById('buy').appendChild(li);
                        }
                        else if (cookie('search_tag') == '供应') {
                            document.getElementById('sell').appendChild(li);
                        }
                        else {
                        }
                    });
                }
                else {
                }
                myScroll.refresh();
                refresh_hl();
                ck_log("scroll", "下滑-刷新");
            }
        });
        myScroll.refresh();
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        setTimeout(function () {
            console.log('up');
//            var a = $('#tag_search').serialize();
//            console.log(a);
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var select_category = cookie('search_tag');
            var where_cond_json = $('#where_cond_json').html().trim();
            var stage = $('#stage').html().trim();
            console.log(where_cond_json);
            console.log(stage);
            console.log(page);
            console.log(request_page);
            console.log(select_category);
            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('TradeSearch/trade_search_more')}",
                data: {
                    page: request_page,
                    select_category: select_category,
                    where_cond_json: where_cond_json,
                    stage: stage
                },
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
                    var endAjax = jsonObj.EOA;
                    if (endAjax == 0) {
                        return false;
                    }
//                    return;
                    if (jsonObj.msg) {
                        page++;
                        $('#page').val(page);
                        $('#where_cond_json').html(jsonObj.where_cond_json);
                        $('#stage').html(jsonObj.stage);
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            console.log(cookie('search_tag'));
                            if (cookie('search_tag') == '求购') {
                                document.getElementById('buy').appendChild(li);
                            }
                            else if (cookie('search_tag') == '供应') {
                                document.getElementById('sell').appendChild(li);
                            }
                            else {
                            }
                        });
                    }
                    else {
                    }
                    myScroll.refresh();
                    refresh_hl();
                    ck_log("scroll", "上滑-加载");
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**
     * 初始化iScroll控件
     */
    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;
        console.log(pullDownOffset);
        console.log(pullUpOffset);
        setTimeout(function () {
            myScroll = new iScroll('wrapper', {
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
                fixedScrollbar: true,
                hideScrollbar: true,
                useTransition: true,
                topOffset: pullDownOffset,
//        probeType: 3,
//        mouseWheel: false,
                scrollbars: true,
//        disableMouse: false,
//        disablePointer: false,
                //点击事件
                click: false,
                taps: false,
//        tap: true,
                preventDefault: false,//（把这句加上去哦）
//                preventDefaultException: {tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/},
                onRefresh: function () {
                    console.log('refresh');
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + update_time+'下拉刷新';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                    document.getElementById("pullUp").style.display = "none";
                    time_now = new Date();
                    update_time = time_now.toLocaleString();
//            document.getElementById("show").innerHTML="onRefresh: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

                },
                onScrollMove: function () {
//            document.getElementById("show").innerHTML="onScrollMove: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (this.y > 0) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                        this.minScrollY = 0;
                    }
                    if (this.y < 0 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        this.minScrollY = -pullDownOffset;
                    }

                    if (this.scrollerH < this.wrapperH && this.y < (this.minScrollY - pullUpOffset) || this.scrollerH > this.wrapperH && this.y < (this.maxScrollY - pullUpOffset)) {
                        document.getElementById("pullUp").style.display = "";
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                    }
                    if (this.scrollerH < this.wrapperH && this.y > (this.minScrollY - pullUpOffset) && pullUpEl.className.match('flip') || this.scrollerH > this.wrapperH && this.y > (this.maxScrollY - pullUpOffset) && pullUpEl.className.match('flip')) {
                        document.getElementById("pullUp").style.display = "none";
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }

                },
                onScrollEnd: function () {
//            document.getElementById("show").innerHTML="onScrollEnd: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                        pullDownAction(); // Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                        pullUpAction(); // Execute custom function (ajax call?)
                    }
                }
            });
            console.dir(myScroll.options);
        }, 100);
    }
    //初始化绑定iScroll控件
    document.addEventListener('touchmove', function (event) {
        // 判断默认行为是否可以被禁用
        if (event.cancelable) {
            // 判断默认行为是否已经被禁用
            if (!event.defaultPrevented) {
                event.preventDefault();
            }
        }
    }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);

</script>
</html>
