<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <title>查信息</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<body style="touch-action: none">
<!--订单展示栏-->
<div id="wrapper" style="top: 2px;margin-left: 2.5%;">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon" style="float: left"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content">
            <ul id="main_ul" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="data" id="vo">
                    <li class="weui_panel weui_panel_access" style="border-radius: 5px">
                        <div class="weui_media_box weui_media_appmsg"
                             style="margin: 0;padding-left: 0;padding-right: 0">
                            <div class="weui_media_bd">
                                <div>
                                    <h4 class="weui_media_title">{$vo.id}</h4>
                                </div>
                            </div>
                            <div class="weui_media_bd" style="">
                                <a class="li_tel" href="tel:{$vo.phone_number}"
                                   onclick="ck_log('dial', '{$vo.phone_number}')"
                                   style='text-decoration: none;color: black'>
                                    <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                                        <span style="">拨打电话</span></h4>
                                </a>
                            </div>
                        </div>
                        <div class="highlight li_content">{$vo.content}</div>
                        <div class='pull-right li_time'>发布时间:{$vo.update_time}</div>
                    </li>
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>
<!--隐藏的li原型-->
<div hidden>
    <ul>
        <li id="hidden_li" class="weui_panel weui_panel_access" style="border-radius: 5px">
            <div class="weui_media_box weui_media_appmsg" style="margin: 0;padding-left: 0;padding-right: 0">
                <div class="weui_media_bd">
                    <div>
                        <h4 class="weui_media_title">title</h4>
                    </div>
                </div>
                <div class="weui_media_bd" style="">
                    <a class="li_tel" style='text-decoration: none;color: black'>
                        <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                            <span style="">拨打电话</span></h4>
                    </a>
                </div>
            </div>
            <div class="highlight li_content">content</div>
            <div class='pull-right li_time'>发布时间:update_time</div>
        </li>
    </ul>
    <input type="hidden" name="page" id="page" value="1">
</div>
<?php require_once 'cs.php';?>
</body>
<script>
    var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset;
    var time_now, update_time;

    /**
     * 初始化iScroll控件
     */
    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;
        console.log(pullDownOffset);
        console.log(pullUpOffset);
        setTimeout(function () {
            myScroll = new iScroll('wrapper', {
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
                fixedScrollbar: true,
                hideScrollbar: true,
                useTransition: true,
                topOffset: pullDownOffset,
//        probeType: 3,
//        mouseWheel: false,
                scrollbars: true,
//        disableMouse: false,
//        disablePointer: false,
                //点击事件
                click: false,
                taps: false,
//        tap: true,
                preventDefault: false,//（把这句加上去哦）
//                preventDefaultException: {tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/},
                onRefresh: function () {
                    console.log('refresh');
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + update_time+'下拉刷新';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                    document.getElementById("pullUp").style.display = "none";
                    time_now = new Date();
                    update_time = time_now.toLocaleString();
//            document.getElementById("show").innerHTML="onRefresh: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

                },
                onScrollMove: function () {
//            document.getElementById("show").innerHTML="onScrollMove: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (this.y > 0) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                        this.minScrollY = 0;
                    }
                    if (this.y < 0 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        this.minScrollY = -pullDownOffset;
                    }

                    if (this.scrollerH < this.wrapperH && this.y < (this.minScrollY - pullUpOffset) || this.scrollerH > this.wrapperH && this.y < (this.maxScrollY - pullUpOffset)) {
                        document.getElementById("pullUp").style.display = "";
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                    }
                    if (this.scrollerH < this.wrapperH && this.y > (this.minScrollY - pullUpOffset) && pullUpEl.className.match('flip') || this.scrollerH > this.wrapperH && this.y > (this.maxScrollY - pullUpOffset) && pullUpEl.className.match('flip')) {
                        document.getElementById("pullUp").style.display = "none";
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }

                },
                onScrollEnd: function () {
//            document.getElementById("show").innerHTML="onScrollEnd: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                        pullDownAction(); // Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                        pullUpAction(); // Execute custom function (ajax call?)
                    }
                }
            });
            console.dir(myScroll.options);
        }, 100);
    }

    /**
     * 以每个数据项拼装li标签
     */
    function putOnLi(li, val) {
        li.find('.weui_media_title').html(val.id);
        li.find('.li_content').html(val.content);
        li.find('.li_time').html(val.update_time);
        li.find('.li_tel').attr('href', 'tel:' + val.phone_number);
        li.find('.li_tel').attr('onclick', "ck_log('dial', '" + val.phone_number + "')");
    }

    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        var kw = '{$kw}';
        $.ajax({
            type: "post",
            url: "{:U('Query/qAjax')}",
            data: {
                kw: kw
            },
            success: function (data) {
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
//                    return;
                if (kw) {
                    //重置筛选条件组成
                    $('#page').val(1);

                    var main_ul = $("#main_ul");
                    main_ul.empty();
                    jQuery.each(jsonObj, function (k, val) {
                        var li = $("#hidden_li").clone();
                        // 组装li
                        putOnLi(li, val);
                        main_ul.append(li);
                    });
                }
                else {
                }
                myScroll.refresh();
//                refresh_hl();
                ck_log("scroll", "下滑-刷新");
            }
        });
        myScroll.refresh();
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        setTimeout(function () {
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var kw = '{$kw}';
            $.ajax({
                type: "post",
                url: "{:U('Query/qMore')}",
                data: {
                    page: request_page,
                    kw: kw
                },
                success: function (data) {
                    var jsonObj = eval("(" + data + ")");
                    if (!jsonObj) {
                        return false;
                    }
//                    return;
                    page++;
                    $('#page').val(page);
                    var main_ul = $("#main_ul");
                    jQuery.each(jsonObj, function (k, val) {
                        var li = $("#hidden_li").clone();
                        // 组装li
                        putOnLi(li, val);
                        main_ul.append(li);
                    });

                    myScroll.refresh();
//                    refresh_hl();
                    ck_log("scroll", "上滑-加载");
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }

    //初始化绑定iScroll控件
    document.addEventListener('touchmove', function (event) {
        // 判断默认行为是否可以被禁用
        if (event.cancelable) {
            // 判断默认行为是否已经被禁用
            if (!event.defaultPrevented) {
                event.preventDefault();
            }
        }
    }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);

</script>
</html>
