<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>我的收藏</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="weui.min.css">
    <script type="text/javascript" src="jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body style="background-color: #efeff4">
<!--标题栏-->
<!--<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">-->
<!--&lt;!&ndash;<div class="container text-center" style="">&ndash;&gt;-->
<!--&lt;!&ndash;<div style="display: inline-block;height: 100%;vertical-align: middle"></div>&ndash;&gt;-->
<!--<span class="pull-left" style="">-->
<!--&lt;!&ndash;<a class="glyphicon glyphicon-chevron-left"></a>&ndash;&gt;-->
<!--<a href="#">-->
<!--<img src="__PUBLIC__/home/images/goback.png" class="img-responsive" style="width: 15px;height: auto;margin-top: 40%">-->
<!--</a>-->
<!--</span>-->
<!--<span class="">-->
<!--<span class="" style="font-size: 1.5em;">我的收藏</span>-->
<!--</span>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<!--清除浮动-->
<div class="clearfix"></div>

<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category">
    <input type="hidden" name="page" id="page" value="1">
</form>

<!--订单展示栏-->
<div class="tab-content" style="margin-left: 2.5%">
    <div id="" class="tab-pane active" style="background-color: #efeff4">
        <div id="wrapper" style="top: -28px">
            <div id="scroller">
                <div id="pullDown">
                    <span class="pullDownIcon"></span>
                    <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
                </div>
                <ul id="thelist" class="" style="margin-top: 40px;list-style-type: none">
                    <volist name="li_array" id="vo">
                        {$vo}
                    </volist>
                    <span id="insert_point"></span>
                </ul>
                <div id="pullUp">
                    <span class="pullUpIcon"></span>
                    <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!--滚动功能-->
<script>
    //    var myScroll;
    //    myScroll = new IScroll('#wrapper',{
    //        probeType: 3,
    //        mouseWheel: true
    //    });
    //    function loaded(){
    //        myScroll = new IScroll('#wrapper');
    //    }
    //    console.dir(myScroll.options);

    //var myScroll,pullDownEl,pullDownOffset,pullUpEl,pullUpOffset,generatedCount = 0;
    var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset;
    var time_now, update_time;

    //
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
        location.reload();
        myScroll.refresh();
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        console.log('up');
        var page = $('#page').val();
        page++;

        console.log(page);
        setTimeout(function () {
            var post = $('#tag_search').serialize();
            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('DriverOrder/driver_order_more')}",
                data: {isAjax: 1, page: page, condition: post},
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
                    jQuery.each(jsonObj.li_array, function (k, val) {
                        console.log(val);
//                        temp2 = $('#thelist');
//                        temp2 = $('#insert_point');
//                        temp2.insertAfter(val,temp2);
                        li = document.createElement('li');
                        li.innerHTML = val;
                        document.getElementById('thelist').appendChild(li);
//                        temp2.appendChild(val);
                    });
                    $("#page").val(page);
                    myScroll.refresh();
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**
     * 初始化iScroll控件
     */
    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;
        console.log(pullDownOffset);
        console.log(pullUpOffset);
        setTimeout(function () {
            myScroll = new iScroll('wrapper', {
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
                useTransition: true,
                topOffset: pullDownOffset,
//        probeType: 3,
//        mouseWheel: false,
                scrollbars: true,
//        disableMouse: false,
//        disablePointer: false,
                //点击事件
                click: false,
                taps: false,
//        tap: true,
                preventDefault: false,//（把这句加上去哦）
                preventDefaultException: {tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/},
                onRefresh: function () {
                    console.log('refresh');
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + update_time+'下拉刷新';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                    document.getElementById("pullUp").style.display = "none";
                    time_now = new Date();
                    update_time = time_now.toLocaleString();
//            document.getElementById("show").innerHTML="onRefresh: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

                },
                onScrollMove: function () {
//            document.getElementById("show").innerHTML="onScrollMove: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

//            if(this.y > 5 && !pullDownEl.className.match('flip')){
//                pullDownEl.className = 'flip';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...';
//                //pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + updateDatetime;
//                this.minScrollY = 0;
//            }else if(this.y < 5 && pullDownEl.className.match('flip')){
//                pullDownEl.className = '';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                this.minScrollY = -pullDownOffset;
//            }else if(this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')){
//                pullUpEl.className = 'flip';
//                pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...';
//                this.maxScrollY = this.maxScrollY;
//            }else if(this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')){
//                pullUpEl.className = '';
//                pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
//                this.maxScrollY = pullUpOffset;
//            }

                    if (this.y > 0) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                        this.minScrollY = 0;
                    }
                    if (this.y < 0 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        this.minScrollY = -pullDownOffset;
                    }

                    if (this.scrollerH < this.wrapperH && this.y < (this.minScrollY - pullUpOffset) || this.scrollerH > this.wrapperH && this.y < (this.maxScrollY - pullUpOffset)) {
                        document.getElementById("pullUp").style.display = "";
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                    }
                    if (this.scrollerH < this.wrapperH && this.y > (this.minScrollY - pullUpOffset) && pullUpEl.className.match('flip') || this.scrollerH > this.wrapperH && this.y > (this.maxScrollY - pullUpOffset) && pullUpEl.className.match('flip')) {
                        document.getElementById("pullUp").style.display = "none";
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }

                },
                onScrollEnd: function () {
//            document.getElementById("show").innerHTML="onScrollEnd: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                        pullDownAction(); // Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                        pullUpAction(); // Execute custom function (ajax call?)
                    }
                }
            });
            console.dir(myScroll.options);
        }, 100);
//    setTimeout(function(){
//        document.getElementById('wrapper').style.left = '0';
//    },800);
    }
    //初始化绑定iScroll控件
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
    //    window.onload = loaded();

</script>
</html>