<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>超级矿资源</title>
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index01.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index02.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index03.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index04.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index05.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index06.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index07.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index08.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index09.css">
    <link rel="stylesheet" href="../../../../../Public/css/WebSite/index10.css">
</head>
<body>
<header>
    <div class="content">
        <div class="logo"></div>
    </div>
    <ul>
        <li><a href="#" class="current">首页</a></li>
        <li><a href="#">司机找活</a></li>
        <li><a href="#">货源找车</a></li>
        <li><a href="#">买卖查询</a></li>
        <li><a href="#">更多</a></li>
        <li onmousemove="this.querySelector('div').style.display='block'"
            onmouseout="this.querySelector('div').style.display='none'"><a href="#" class="android"></a>
            <div id="android_code"></div>
        </li>
        <li><a href="#" class="ios"></a></li>
    </ul>
</header>
<!--banner部分-->
<section id="banner">
</section>
<!--描述部分-->
<section id="description">
    <div>
        <p class="tittle_1"><span>ABOUT</span> &nbsp;US</p>
        <p class="tittle_2">关于我们</p>
        <p class="tittle_3"> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ——超级矿资源是什么？
            &nbsp;</p>
        <p class="content">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;超级矿资源是集找车、找货于一体的信息平台，每天有大量的卡车司机和煤炭老板发布大量的供车供货信息。您可以通过我们的平台了解到最直接的煤炭和运输信息。</p>
    </div>
</section>
<!--数据统计部分-->
<section id="statistics">
    <div class="middle">
        <div class="circle">
            <div>
                <p style="font-weight: bold;color: #0fcbbb; font-size: 16pt;">11,187</p>
                <p>总注册人数</p>
            </div>
        </div>
        <div class="circle">
            <div>
                <p style="font-weight: bold;color: #0fcbbb; font-size: 16pt;">11,187</p>
                <p>司机找活消息量</p>
            </div>
        </div>
        <div class="circle">
            <div>
                <p style="font-weight: bold;color: #0fcbbb; font-size: 16pt;">11,187</p>
                <p>货源找车消息量</p>
            </div>
        </div>
        <div class="circle">
            <div>
                <p style="font-weight: bold;color: #0fcbbb; font-size: 16pt;">11,187</p>
                <p>信息查询消息量</p>
            </div>
        </div>
    </div>
</section>
<!--司机找活-->
<section id="driver">
    <div class="driver_part1">
    </div>
    <div class="driver_part2">
        <div class="driver_part2_content1">
            <p style="font-size: 1.5em;font-weight: bold;">司机找活</p>
            <p style="padding-top: 0.5em">煤炭运输信息</p>
        </div>
        <div class="driver_part2_content2">
            <table>
                <thead>
                <tr>
                    <th>发煤量</th>
                    <th>起点</th>
                    <th>终点</th>
                    <th>粒度</th>
                    <th>联系方式</th>
                    <th style="background-color: transparent;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="driver_part2_content3" style="width: 90%;text-align: right">
            <span style="width: 14%;background-color: #0fcbbb;color: white;display: inline-block;text-align: center">更多</span>
        </div>
    </div>
    <div class="driver_part3"></div>
</section>
<!--货源找车-->
<section id="car">
    <div class="car_part">
        <div class="car_part2">
            <div class="car_part2_content2">
                <table>
                    <thead>
                    <tr>
                        <th>发煤量</th>
                        <th>起点</th>
                        <th>终点</th>
                        <th>粒度</th>
                        <th>联系方式</th>
                        <th style="background-color: transparent;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>30.00</td>
                        <td>北京</td>
                        <td>福建</td>
                        <td>36块</td>
                        <td>查看</td>
                        <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>30.00</td>
                        <td>北京</td>
                        <td>福建</td>
                        <td>36块</td>
                        <td>查看</td>
                        <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>30.00</td>
                        <td>北京</td>
                        <td>福建</td>
                        <td>36块</td>
                        <td>查看</td>
                        <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>30.00</td>
                        <td>北京</td>
                        <td>福建</td>
                        <td>36块</td>
                        <td>查看</td>
                        <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>30.00</td>
                        <td>北京</td>
                        <td>福建</td>
                        <td>36块</td>
                        <td>查看</td>
                        <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="car_part2_content3" style="width: 90%;text-align: right">
                <span style="width: 14%;background-color: #0fcbbb;color: white;display: inline-block;text-align: center">更多</span>
            </div>
            <div class="car_part2_content1">
                <p style="font-size: 1.5em;font-weight: bold;">货源找车</p>
                <p style="padding-top: 0.5em">车辆运输信息</p>
            </div>
        </div>
    </div>
</section>
<!--买卖查询-->
<section id="trade">
    <div class="trade_part1">
    </div>
    <div class="trade_part2">
        <div class="trade_part2_content1">
            <p style="font-size: 1.5em;font-weight: bold;">买卖查询</p>
            <p style="padding-top: 0.5em">买卖订单信息</p>
        </div>
        <div class="trade_part2_content2">
            <table>
                <thead>
                <tr>
                    <th>发煤量</th>
                    <th>起点</th>
                    <th>终点</th>
                    <th>粒度</th>
                    <th>联系方式</th>
                    <th style="background-color: transparent;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                    <td><a style="background-color: #0fcbbb;border: 1px solid #0fcbbb;color: white;display: block">详&nbsp;情</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="trade_part2_content3" style="width: 90%;text-align: right">
            <span style="width: 14%;background-color: #0fcbbb;color: white;display: inline-block;text-align: center">更多</span>
        </div>
    </div>
    <div class="trade_part3"></div>
</section>
<!--空白条-->
<section id="empty">
</section>
<!--价格指数-->
<section id="price">
    <div class="price_content">
        <div class="price_content1">
            <h3>——煤炭价格指数——</h3>
            <table>
                <thead>
                <tr>
                    <th>发煤量</th>
                    <th>起点</th>
                    <th>终点</th>
                    <th>粒度</th>
                    <th>联系方式</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="price_content2">
            <h3>——运费价格指数——</h3>
            <table>
                <thead>
                <tr>
                    <th>发煤量</th>
                    <th>起点</th>
                    <th>终点</th>
                    <th>粒度</th>
                    <th>联系方式</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                <tr>
                    <td>30.00</td>
                    <td>北京</td>
                    <td>福建</td>
                    <td>36块</td>
                    <td>查看</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer>
    <div class="footer_content">
        <div class="content_middle">
            <div class="content_vertical">
                <span>关于超矿</span>
                <span>帮助中心</span>
                <span>客服中心</span>
                <span class="contact">联系我们</span>
            </div>
        </div>
    </div>
    <div class="img">
        <div class="img_middle">
            <div class="img_1">
                <img src="../../../../../Public/home/images/WebSet/cjkzy.jpg" style="width: 90px;height: 90px;">
                <p style="font-size: 10px;color: white">订阅号</p>
            </div>
            <div class="img_2">
                <img src="../../../../../Public/home/images/WebSet/cjkzy.jpg" style="width: 90px;height: 90px;">
                <p style="font-size: 10px;color: white">公众号</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>