<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>求购订单修改页</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/city-picker.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/city-picker.data.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/city-picker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/loading.js"></script>
</head>
<body>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
        <a href="#coal_buy" name="coal_buy" class="weui_navbar_item weui_bar_item_on" data-toggle="tab"
           style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                发 布 求 购
            </span>
        </a>
    </div>
</div>
<!--发布栏-->
<div id="coal_buy" class="tab-pane" style="">
    <form id="form_buy" name="form_buy">
        <input type="hidden" name="id" id="buy_id">
        <input type="hidden" name="category" id="buy_category" value="求购">
        <table class="table table-responsive" style="border: 0">
            <tr>
                <td style="padding: 0">
                    <a data-toggle="collapse" href="#collapse_buy_coal_kind" aria-expanded="true"
                       aria-controls="collapse_buy_coal_kind" style="text-decoration: none;color:black">
                        <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">煤炭种类</span>
                                </span>
                            <span id="buy_kind_html" style="border: 0" class="form-control"></span>
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white;position: relative;">
                                    <span class="dropdown-arrow"></span>
                                </span>
                        </div>
                    </a>

                    <div id="collapse_buy_coal_kind" class="collapse" role="tablist" aria-labelledby="">
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none;" name="kind" id="buy_kind1"
                                   autocomplete="off" value="动力煤"> 动力煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none;" name="kind" id="buy_kind2"
                                   autocomplete="off" value="喷吹煤"> 喷吹煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none;" name="kind" id="buy_kind3"
                                   autocomplete="off" value="炼焦煤"> 炼焦煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none;" name="kind" id="buy_kind4"
                                   autocomplete="off" value="焦炭"> 焦 炭
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none;" name="kind" id="buy_kind5"
                                   autocomplete="off" value="气煤"> 气 煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none;" name="kind" id="buy_kind6"
                                   autocomplete="off" value="煤泥"> 煤 泥
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <a data-toggle="collapse" href="#collapse_buy_coal_trait" aria-expanded="true"
                       aria-controls="collapse_buy_coal_trait" style="text-decoration: none;color:black">
                        <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">品质(多选)</span>
                                </span>
                            <span id="buy_trait_html" style="border: 0" class="form-control"></span>
                                 <span class="input-group-addon"
                                       style="border-radius: 0;border:0;background-color: white;position: relative;">
                                    <span class="dropdown-arrow"></span>
                                </span>
                        </div>
                    </a>

                    <div id="collapse_buy_coal_trait" class="collapse" role="tablist" aria-labelledby="">
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="checkbox" class="pull-left" style="display: none" name="trait[]"
                                   id="buy_trait1"
                                   autocomplete="off" value="无烟煤"> 无烟煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="checkbox" class="pull-left" style="display: none" name="trait[]"
                                   id="buy_trait2"
                                   autocomplete="off" value="水洗煤"> 水洗煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="checkbox" class="pull-left" style="display: none" name="trait[]"
                                   id="buy_trait4"
                                   autocomplete="off" value="过筛煤"> 过筛煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="checkbox" class="pull-left" style="display: none" name="trait[]"
                                   id="buy_trait3"
                                   autocomplete="off" value="普通煤"> 普通煤
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <a data-toggle="collapse" href="#collapse_buy_coal_granularity"
                       style="text-decoration: none;color:black">
                        <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">粒度</span>
                                </span>
                            <span id="buy_granularity_html" style="border: 0" class="form-control"></span>
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white;position: relative;">
                                    <span class="dropdown-arrow"></span>
                                </span>
                        </div>
                    </a>

                    <div id="collapse_buy_coal_granularity" class="collapse" role="tablist" aria-labelledby="">
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none" name="granularity"
                                   id="buy_granularity1" autocomplete="off" value="原煤"> 原 煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none" name="granularity"
                                   id="buy_granularity2" autocomplete="off" value="块煤"> 块 煤
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 8%;width:22%;margin-top:5px;text-align: center">
                            <input type="radio" class="pull-left" style="display: none" name="granularity"
                                   id="buy_granularity3" autocomplete="off" value="沫煤"> 沫 煤
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="height:34px;width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                            <span class="pull-left">产地</span>
                            </span>
                            <span style=""><!-- container -->
                                <input readonly type="text" data-toggle="city-picker" name="buy_area_start"
                                       id="buy_area_start" style="width: 75%;;padding:6px 12px;" value=""
                                       placeholder="点击选择产地">
                            </span>
                    </div>
                    <input type="hidden" name="area_start" id="buy_area_start_id">
                    <input type="hidden" name="area_start_name" id="buy_area_start_name">
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">热值(低位)</span>
                            </span>
                        <input type="number" name="heat_value_min" id="buy_heat_value_min" class="form-control"
                               placeholder="请输入热值" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                卡
                            </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">吨数</span>
                            </span>
                        <input type="number" name="quantity" id="buy_quantity" class="form-control"
                               placeholder="请输入煤炭吨数" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="width: 100%;background-color: white">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">期望价格</span>
                            </span>
                        <input type="number" name="price_min" id="buy_price_min" class="form-control"
                               placeholder="最低价" style=";width:46%;border-radius: 0;border: 0">
                        <span class="" style="float:left;padding-top: 6px">&mdash;</span>
                        <input type="number" name="price_max" id="buy_price_max" class="form-control"
                               placeholder="最高价" style=";width:46%;border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                元
                            </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <a data-toggle="collapse" href="#collapse_buy_method" style="text-decoration: none;color:black">
                        <div class="input-group" style="height:34px;width: 100%">
                                <span class="input-group-addon"
                                      style="width: 25%;border-radius: 0;border:0;background-color: white">
                                    <span class="pull-left">付款方式</span>
                                </span>
                            <span id="buy_pay_type_html" style="border: 0" class="form-control"></span>
                                <span class="input-group-addon"
                                      style="border-radius: 0;border:0;background-color: white;position: relative;">
                                    <span class="dropdown-arrow"></span>
                                </span>
                        </div>
                    </a>

                    <div id="collapse_buy_method" class="collapse" role="tablist" aria-labelledby="">
                        <!--style="position: absolute;clip:rect(0,0,0,0)"-->
                        <label class="mybtn mybtn-default"
                               style="margin-left: 7%;width:26%;margin-top:5px;text-align: center">
                            <input type="radio" style="display: none" class="pull-left" name="pay_type"
                                   autocomplete="off" value="预先付款">预先付款
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 3%;width:26%;margin-top:5px;text-align: center">
                            <input type="radio" style="display: none" class="pull-left" name="pay_type"
                                   autocomplete="off" value="货到付款">货到付款
                        </label>
                        <label class="mybtn mybtn-default"
                               style="margin-left: 3%;width:26%;margin-top:5px;text-align: center">
                            <input type="radio" style="display: none" class="pull-left" name="pay_type"
                                   autocomplete="off" value="电话沟通">电话沟通
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;background-color: white">
                                <span class="pull-left">交割地</span>
                            </span>
                        <input id="buy_detail_area_end" name="detail_area_end" class="form-control"
                               placeholder="请填写交割地地址" style="border-radius: 0;border: 0">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center" style="background-color: white">
                    有效期7天
                </td>
            </tr>
            <tr>
                <td style="padding: 0">
                    <div class="input-group" style="width: 100%">
                            <span class="input-group-addon"
                                  style="width: 25%;border-radius: 0;border:0;vertical-align: middle;background-color: white">
                                <span class="pull-left">联系电话</span>
                                <!--<span style="font-size: 1.5em;color:red;vertical-align: middle">*</span>-->
                                <img src="__PUBLIC__/home/images/necessary.png" class=""
                                     style="width: 7px;margin-top: -2px;">
                            </span>
                        <input type="number" name="phone_number" id="buy_phone_number" class="form-control"
                               placeholder="请输入联系方式" style="border-radius: 0;border: 0" value="{$phone_number}">
                        <span class="text-danger" id="buy_phone_alert"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="">
                    <div class="form-group" style="">
                        <label for="buy_content" style="color:#555;margin-left: 3px">
                            详细描述
                        </label>
                            <textarea name="content" id="buy_content" class="form-control"
                                      style="resize: none"></textarea>
                        <span class="text-danger" id="buy_content_alert"></span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <input type="button" class="btn btn-default" onclick="buy_sub()" value="发&nbsp&nbsp&nbsp布"
                   style="text-align: center;width:96%; color:white;font-size: 1.5em;background-color: #fb3e1e;bottom: 0;">
        </div>
    </form>
</div>
<!--无权限提示模态框-->
<div class="modal fade" id="hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">您并没有权限进行该项操作，请点击注册前往注册界面</span>
            </div>
            <div class="modal-footer">
                <a href="{:U('Login/register')}" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    去注册
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<!--发布成功模态框-->
<div class="modal fade" id="publish_success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">恭喜您修改成功！</span>
            </div>
            <div class="modal-footer">
                <a href="{:U('OwnerPublishHistory/owner_publish_history')}" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    我的发布
                </a>
                <!--<a href="{:U('OwnerOrder/owner_publish_history')}" type="button" class="btn btn-primary"-->
                <!--style="background-color: #04bfc6">-->
                <!--去订单详情-->
                <!--</a>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">继续修改</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
</body>
<!--按钮选择样式-->
<script>
    $('input[type=radio]').click(function () {
        var check_val = $(this).val();
        $(this).parent('label').siblings().removeClass('myactive');
        $(this).parent('label').toggleClass('myactive');
        var temp_html = $(this).parent('label').parent('div').parent('td').children('a').children('div').children('span').eq(1);
        temp_html.html(check_val);
        if (!$(this).parent('label').hasClass('myactive')) {
            console.log('cancel_check');
            $(this).attr('checked', false);
            temp_html.html('');
        }
    });
    $('input[type=checkbox]').click(function () {
        var temp_html = $(this).parent('label').parent('div').parent('td').children('a').children('div').children('span').eq(1);
        var temp_html_string = '';
        var checked_checkbox = $(this).parent('label').parent('div').find("input[type=checkbox]:checked");
        if ($(this).parent('label').hasClass('myactive')) {
            console.log('cancel_check');
            $(this).parent('label').removeClass('myactive');
        } else {
            $(this).parent('label').addClass('myactive');
        }
        $.each(checked_checkbox, function (k, val) {
            temp_html_string += ' ' + $(val).val();
        });
        temp_html.html(temp_html_string);
    });
</script>
<!--折叠下拉箭头变换效果-->
<script>
    $("[data-toggle='collapse']").on('click', function () {
        $(this).find('.dropdown-arrow').toggleClass('dropdown-arrow-open');
    });
</script>
<!--载入订单信息-->
<script>
    $(function () {
        console.log(cookie('coal_buy_modify'));
        if (cookie('coal_buy_modify')) {
            var coal_buy_modify = JSON.parse(cookie('coal_buy_modify'));
            jQuery.each(coal_buy_modify, function (k, val) {
                if (val.name == 'kind') {   //种类
                    var kind = $(":radio[name=kind][value='" + val.value + "']");
                    kind.prop("checked", "checked");
                    kind.parent('label').addClass('myactive');
                    kind.parent('label').siblings().removeClass('myactive');
                    $('#buy_kind_html').html(val.value);
                }
                else if (val.name == 'trait') { //品质
                    if (val.value) {
                        var temp_trait_arr = val.value.split(',');
                        $.each(temp_trait_arr, function (i, v) {
                            var trait = $(":checkbox[id*='trait'][value='" + v + "']");
                            trait.prop("checked", "checked");
                            trait.parent('label').addClass('myactive');
                        });
                        $('#buy_trait_html').html(val.value);
                    }
                }
                else if (val.name == 'granularity') {   //粒度
                    var granularity = $(":radio[name=granularity][value='" + val.value + "']");
                    granularity.prop("checked", "checked");
                    granularity.parent('label').addClass('myactive');
                    granularity.parent('label').siblings().removeClass('myactive');
                    $('#buy_granularity_html').html(val.value);
                }
                else if (val.name == 'area_start') { //产地
                    $('#buy_area_start_id').val(val.value);
                }
                else if (val.name == 'area_start_name') { //产地名
                    $('#buy_area_start_name').val(val.value);
                    //TODO(only show name and have not init the citypicker correctly)
                    $('#buy_area_start').next().html('<span class="placeholder" style="padding: 12px; display: none;">点击选择产地</span><span class="title" style="display: inline;"><span>' + val.value + '</span></span><div class="arrow"></div>');
                }
                else if (val.name == 'car_type') {  //车辆类型
                    var car_type = $(":radio[name=car_type][value='" + val.value + "']");
                    car_type.prop("checked", "checked");
                    car_type.parent('label').addClass('myactive');
                    car_type.parent('label').siblings().removeClass('myactive');
                }
                else if (val.name == 'pay_type') {  //付款方式
                    var pay_type = $(":radio[name=pay_type][value='" + val.value + "']");
                    pay_type.prop("checked", "checked");
                    pay_type.parent('label').addClass('myactive');
                    pay_type.parent('label').siblings().removeClass('myactive');
                    $('#buy_pay_type_html').html(val.value);
                }
                else {
                    $("#buy_" + val.name).val(val.value);
                }
            });
        }
    })
</script>
<!--地址跳转-->
<script>
    //求购
    function buy_get_area_start() {
        var goto_url = "{:U('areaSearch/area_search')}";
        var current_url = window.location.href;
        cookie('start_or_end', 'start');
        cookie('last_url', current_url);

        //表单数据存入cookie便于加载时显示
        cookie('coal_buy_modify', JSON.stringify($('#form_buy').serializeArray()));

        //告诉area_search 要改的来源
        var temp = {name: 'coal_buy_modify', value: cookie('coal_buy_modify')};
        cookie('source', JSON.stringify(temp));

        //地址跳转
        window.location.href = goto_url;
    }
</script>
<!--求购表单提交输入及检测-->
<script>
    //获取焦点清空输入及错误信息
    $('#buy_phone_number').focus(function () {
        if ($('#buy_phone_alert').html()) {
            $(this).val('');
            $('#buy_phone_alert').html('');
        }
    });
    $('#buy_content').focus(function () {
        $('#buy_content_alert').html('');
    });
    function buy_sub() {
        ck_log("submit", "求购-发布-修改");
        //填充地址
        var input = $('#buy_area_start');
        //产地id
        if (input.data('citypicker').getCode()) {
            $('#buy_area_start_id').val(input.data('citypicker').getCode());
        }
        //联系电话验证
        var phone = $('#buy_phone_number').val().trim();
        if (!phone) {
            $('#buy_phone_alert').html('联系电话不能为空');
            return;
        } else if (phone.length != 11 || !phone.match(/^(-?\d+)(\.\d+)?$/)) {
            $('#buy_phone_alert').html('请输入正确的电话号码');
            return;
        }
        //判断content有无输入，content和煤炭信息不能同时为空
        var content = $('#buy_content').val().trim();
        var kind = $('input[name=kind]:checked').val();
        var trait = $("input[type=checkbox][id*='trait']:checked").val();//第一个选择标签的值
        var granularity = $('input[name=granularity]:checked').val();
        if (!content && !kind && !trait && !granularity) {
            $('#buy_content_alert').html('详细描述与煤炭信息不能同时为空');
            return;
        }
        //ajax提交表单数据
        var subData = $("#form_buy").serialize();
//        console.log(subData);
        var url = "{:U('OwnerPublish/coal_buy_modify_action')}";
        $.ajax({
            type: "post",
            url: url,
            data: subData,
            success: function (data) {
                var jsonObj = eval("(" + data + ")");
                if (jsonObj.status == 0) {
                    console.log('auth check failure');
                    $('#hint').modal();
                } else {
                    console.log(jsonObj.msg);
//                    showToast(jsonObj.msg);
                    $('#publish_success').modal();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('不可棱！！');
            }
        });
    }
</script>
</html>