<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title></title>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookieStorage.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="weui.min.css">
    <script type="text/javascript" src="jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body style="">
<include file="Common:common"/>
<!--标题栏-->
<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">
    <!--<div class="container text-center" style="">-->
    <!--<div style="display: inline-block;height: 100%;vertical-align: middle"></div>-->
        <span class="pull-left" style="">
                <!--<a class="glyphicon glyphicon-chevron-left"></a>-->
            <a href="#">
                <img src="__PUBLIC__/home/images/goback.png" class="img-responsive" style="width: 15px;height: auto;margin-top: 40%">
            </a>
        </span>
        <span class="">
            <span class="" style="font-size: 1.5em;margin-left: 15%">发布信息</span>
        </span>
        <span class="pull-right" style="border-color: white">
            <a href="#" class="btn btn-xs btn-default" style=";border:1px solid white; ;color:white;background-color: transparent;text-decoration: none;margin-bottom: -50%">
                我的发布
            </a>
        </span>
    <!--</div>-->
</div>
<!--清除浮动-->
<div class="clearfix"></div>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" role="" style="position: inherit;margin-bottom: 0;">
        <a href="#car_need" class="weui_navbar_item weui_bar_item_on" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                发布求车
            </span>
        </a>
        <a href="#coal_sell" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                发布供货
            </span>
        </a>
        <a href="#coal_buy" class="weui_navbar_item" data-toggle="tab" style="color: black;text-decoration: none">
            <span role="presentation" class="" style=";font-size: 1.2em">
                发布求购
            </span>
        </a>
    </div>
</div>
<!--发布栏-->
<div class="tab-content" style="">
    <div id="car_need" class="tab-pane active" style="">
        <form id="form_need_car" name="" class="" method="post" action="">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        <!--<a href="#" style="text-decoration: none;color:black">-->
                            <!--<div>-->
                                <!--&nbsp;发货地址-->
                                <!--<span class="pull-right">-->
                                    <!---->
                                <!--<img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</a>-->
                        <div onclick="get_area_start()" style=";color:black">
                            <div>
                                &nbsp;发货地址
                                <span id="area_start"></span>
                                <span class="pull-right">
                                <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                <img src="__PUBLIC__/home/images/area_start.png" class="" style="width: 10px">
                            </span>
                            <input id="" name="" class="form-control" placeholder="请填写详细信息" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;收货地址
                                <span class="pull-right">
                                <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                <img src="__PUBLIC__/home/images/area_end.png" class="" style="width: 10px">
                            </span>
                            <input id="" name="" class="form-control" placeholder="请填写详细信息" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                发煤量
                            </span>
                            <input id="" name="" class="form-control" placeholder="请输入吨数" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_need_granularity" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;粒度
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_need_granularity" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalGranularity" id="need_coalGranularity">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option3_coal_granularity" id="" autocomplete="off" value="{$need_coalGranularity['id']}"> {$need_coalGranularity['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                运费
                            </span>
                            <input id="" name="" class="form-control" placeholder="请输入运费" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                元/吨
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                装车时间
                            </span>
                            <input type="date" id="" name="" class="form-control" placeholder="请输入装车时间" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                装车费
                            </span>
                            <input id="" name="" class="form-control" placeholder="请输入装车费" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                元
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                卸车费
                            </span>
                            <input id="" name="" class="form-control" placeholder="请输入卸车费" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                元
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;vertical-align: middle;background-color: white">
                                联系电话
                                <!--<span style="font-size: 1.5em;color:red;vertical-align: middle">*</span>-->
                                <img src="__PUBLIC__/home/images/necessary.png" class="" style="width: 7px">
                            </span>
                            <input id="" name="need_phone" class="form-control" placeholder="请输入联系方式" style="border-radius: 0;border: 0">
                            <span class="text-danger" id="need_phone_alert"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        <div class="form-group " style="">
                            <label>
                                详细描述
                            </label>
                            <textarea name="need_content" class="form-control" style="resize: none"></textarea>
                            <span class="text-danger" id="need_content_alert"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="" class="btn btn-group-justified" onclick="need_sub()" value="发&nbsp&nbsp&nbsp布" style="color:white;font-size: 2em;background-color: #fb3e1e">
        </form>
    </div>
    <div id="coal_sell" class="tab-pane" style="">
        <form id="form_sell" name="form_sell" class="" method="post" action="{:U('OwnerPublish/coal_sell_action')}">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_sell_coal_kind" aria-expanded="true" aria-controls="collapse_sell_coal_kind" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;煤炭种类
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_sell_coal_kind" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalKind" id="sell_coalKind">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option0_coal_kind" id="" autocomplete="off" value="{$sell_coalKind['id']}"> {$sell_coalKind['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_sell_coal_trait" aria-expanded="true" aria-controls="collapse_sell_coal_trait" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;品质
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_sell_coal_trait" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalTrait" id="sell_coalTrait">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option0_coal_trait" id="" autocomplete="off" value="{$sell_coalTrait['id']}"> {$sell_coalTrait['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_sell_coal_granularity" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;粒度
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_sell_coal_granularity" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalGranularity" id="sell_coalGranularity">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option0_coal_granularity" id="" autocomplete="off" value="{$sell_coalGranularity['id']}"> {$sell_coalGranularity['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                供货公司
                            </span>
                            <input id="sell_supply_company" name="supply_company" class="form-control" placeholder="请输入公司名称" style="border-radius: 0;border: 0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;产地
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    价格
                                </span>
                            <input type="number" id="" name="sell_price" class="form-control" placeholder="请输入煤炭价格" style="border-radius: 0;border: 0">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    元/吨
                                </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨数
                            </span>
                            <input type="number" id="" name="sell_quantity" class="form-control" placeholder="请输入煤炭吨数" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                热值(高位)
                            </span>
                            <input type="" id="" name="sell_heat_value_max" class="form-control" placeholder="请输入热值" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                卡
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        <a data-toggle="collapse" href="#collapse_detail" aria-expanded="true" aria-controls="collapse_detail" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;详细指标
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-right img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_detail" class="collapse" role="tablist" aria-labelledby="asd">
                            <div class="input-group" style="">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    热值(低位)
                                </span>
                                    <input type="number" id="" name="sell_heat_value_min" class="form-control" placeholder="" style="border-radius: 0;border: 0">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    卡
                                </span>
                            </div>
                            <div class="input-group" style="">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    全水份
                                </span>
                                <input id="" name="water" class="form-control" placeholder="" style="border-radius: 0;border: 0">
                            </div>
                            <div class="input-group" style="">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    灰份
                                </span>
                                <input id="" name="ash" class="form-control" placeholder="" style="border-radius: 0;border: 0">
                            </div>
                            <div class="input-group" style="">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    硫份
                                </span>
                                <input id="" name="sulfur" class="form-control" placeholder="" style="border-radius: 0;border: 0">
                            </div>
                            <div class="input-group" style="">
                                <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                    挥发份
                                </span>
                                <input id="" name="volatile" class="form-control" placeholder="" style="border-radius: 0;border: 0">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        有效期7天
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;vertical-align: middle;background-color: white">
                                联系电话
                                <!--<span style="font-size: 1.5em;color:red;vertical-align: middle">*</span>-->
                                <img src="__PUBLIC__/home/images/necessary.png" class="" style="width: 7px">
                            </span>
                            <input id="" name="sell_phone" class="form-control" placeholder="请输入联系方式" style="border-radius: 0;border: 0">
                            <span class="text-danger" id="sell_phone_alert"></span>
                        </div>
                    </td>
                </tr>
                <tr style="border:none">
                    <td style="">
                        <div class="form-group" style="">
                            <label>
                                详细描述
                            </label>
                            <textarea id="" name="sell_content" class="form-control" style="resize: none;"></textarea>
                            <span class="text-danger" id="sell_content_alert"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="" id="" class="btn btn-group-justified" onclick="sell_sub()" value="发&nbsp&nbsp&nbsp布" style="color:white;font-size: 2em;background-color: #fb3e1e">
            <div id="result"></div>
        </form>

    </div>
    <div id="coal_buy" class="tab-pane" style="">
        <form id="form_buy" name="" class="" method="post" action="">
            <table class="table table-responsive" style="border: 0">
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_buy_coal_kind" aria-expanded="true" aria-controls="collapse_buy_coal_kind" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;煤炭种类
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_buy_coal_kind" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalKind" id="buy_coalKind">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option3_coal_kind" id="" autocomplete="off" value="{$buy_coalKind['id']}"> {$buy_coalKind['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_buy_coal_trait" aria-expanded="true" aria-controls="collapse_buy_coal_trait" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;品质
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_buy_coal_trait" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalTrait" id="buy_coalTrait">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option3_coal_trait" id="" autocomplete="off" value="{$buy_coalTrait['id']}"> {$buy_coalTrait['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a data-toggle="collapse" href="#collapse_buy_coal_granularity" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;粒度
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/down_arrow.png" class="pull-rights img-responsive" style="width: 20px">
                                </span>
                            </div>
                        </a>
                        <div id="collapse_buy_coal_granularity" class="collapse" role="tablist" aria-labelledby="">
                            <volist name="coalGranularity" id="buy_coalGranularity">
                                <label class="btn btn-default" style="margin-left: 8%;width:22%;margin-top:5px;text-align: left;padding-left: 8px">
                                    <input type="radio" class="pull-left" name="option3_coal_granularity" id="" autocomplete="off" value="{$buy_coalGranularity['id']}"> {$buy_coalGranularity['title']}
                                </label>
                            </volist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;产地
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                热值(低位)
                            </span>
                            <input id="" name="buy_heat_value_min" class="form-control" placeholder="请输入热值" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                卡
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨数
                            </span>
                            <input id="" name="" class="form-control" placeholder="请输入煤炭吨数" style="border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                吨
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                期望价格
                            </span>
                            <input id="" name="" class="form-control" placeholder="最低价" style="text-align: center;width:40%;border-radius: 0;border: 0">
                            <span class="" style="float:left;padding-top: 6px">&mdash;</span>
                            <input id="" name="" class="form-control" placeholder="最高价" style="text-align: center;width:40%;border-radius: 0;border: 0">
                            <span class="input-group-addon" style="border-radius: 0;border:0;background-color: white">
                                元
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" style="text-decoration: none;color:black">
                            <div>
                                &nbsp;付款方式
                                <span class="pull-right">
                                    <img src="__PUBLIC__/home/images/goto.png" class="pull-right img-responsive" style="width: 10px">
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0">
                        <div class="input-group" style="">
                            <span class="input-group-addon" style="border-radius: 0;border:0;vertical-align: middle;background-color: white">
                                联系电话
                                <!--<span style="font-size: 1.5em;color:red;vertical-align: middle">*</span>-->
                                <img src="__PUBLIC__/home/images/necessary.png" class="" style="width: 7px">
                            </span>
                            <input id="" name="buy_phone" class="form-control" placeholder="请输入联系方式" style="border-radius: 0;border: 0">
                            <span class="text-danger" id="buy_phone_alert"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        <div class="form-group " style="">
                            <label>
                                详细描述
                            </label>
                            <textarea id="" name="buy_content" class="form-control" style="resize: none"></textarea>
                            <span class="text-danger" id="buy_content_alert"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <input type="button" name="" id="" class="btn btn-group-justified" onclick="buy_sub()" value="发&nbsp&nbsp&nbsp布" style="color:white;font-size: 2em;background-color: #fb3e1e">
        </form>
    </div>
</div>
</body>
<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
//        $(this).parent('li').siblings('li').removeClass('weui_bar_item_on');
//        $(this).parent('li').addClass('weui_bar_item_on');
//        $(this).tab('show');
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show');
    })
</script>
<!--test-->
<script>
    $(function(){
//        if(cookie('tag') == 1){
            console.log(cookie('tag'));
            var a = $('#coal_sell');
        console.log(a);
            a.siblings('a').removeClass('weui_bar_item_on');
            a.addClass('weui_bar_item_on');
            a.tab('show');
        $('#area_start').html(cookie('asd'));
//        }
    });
    function get_area_start(){
//        window.localStorage.setItem('lasturl',);
        var tempurl = "{:U('areaSearch/area_search')}?tag=1";
//        alert(window.location.pathname);
//        cookieStorage->setItem('asd','asd');
//        alert(document.cookie);
//        window.location.href= tempurl;
        cookie('tag',1);
//        var b = {$asdaaa};
//        alert(b);

//        $current_url = window.location.href;
//        alert($current_url);
    }
</script>
<!--actionsheet功能-->
<script>
    $('#showActionSheet').on('click',function(){
        var mask = $('#mask');
        var weuiActionsheet = $('#weui_actionsheet');
        weuiActionsheet.addClass('weui_actionsheet_toggle');
        mask.show()
            .focus()//加focus是为了触发一次页面的重排(reflow or layout thrashing),使mask的transition动画得以正常触发
            .addClass('weui_fade_toggle').one('click',function(){
            hideActionSheet(weuiActionsheet,mask);
        });
        $('#actionsheet_cancel').one('click',function(){
            hideActionSheet(weuiActionsheet,mask);
        });
        $('#asd').on('click',function(){
            var a = $(this).html();
            alert(a);
            hideActionSheet(weuiActionsheet,mask);
            $('#sell_coal_kind').html(a);
        });
        mask.unbind('transitionend').unbind('webkitTransitionEnd');

        function hideActionSheet(weuiActionsheet,mask){
            weuiActionsheet.removeClass('weui_actionsheet_toggle');
            mask.removeClass('weui_fade_toggle');
            mask.on('transitionend',function(){
                mask.hide();
            }).on('webkitTransitionEnd',function(){
                mask.hide();
            })
        }
    });
</script>
<!--求车表单提交输入及检测-->
<script>
    //获取焦点清空输入及错误信息
    $('input[name=need_phone]').focus(function(){
        if($('#need_content_alert').html()){
            $(this).val('');
            $('#need_phone_alert').html('');
        }
    });
    $('textarea[name=sell_content]').focus(function(){
        $('#need_content_alert').html('');
    });
    function need_sub(){
        //联系电话验证
        var need_phone = $('input[name=need_phone]').val().trim();
        if(!need_phone){
            $('#need_phone_alert').html('联系电话不能为空');return;
        }else if(need_phone.length != 11 || !need_phone.match(/^(-?\d+)(\.\d+)?$/)){
            $('#need_phone_alert').html('请输入正确的电话号码');return;
        }
        //判断content有无输入，content和煤炭信息不能同时为空
        var need_content = $('textarea[name="need_content"]').val().trim();
        //TODO
        if(!need_content){
            $('#need_content_alert').html('详细描述与地址信息不能同时为空');return;
        }
        //ajax提交表单数据
        var subData=$("#form_need_car").serialize();
//        console.log(subData);
//
        var url="{:U('OwnerPublish/need_car_action')}";
        $.ajax({
            type:"post",
            url:url,
            data:subData,
            success:function(data){
                console.log(123);
//                var jsonObj=eval("("+data+")");
//                console.log(jsonObj.data);
                console.log(data);
            }
        });
    }
</script>
<!--供货表单提交输入及检测-->
<script>
    //获取焦点清空输入及错误信息
    $('input[name=sell_phone]').focus(function(){
        if($('#sell_content_alert').html()){
            $(this).val('');
            $('#sell_phone_alert').html('');
        }
    });
    $('textarea[name=sell_content]').focus(function(){
        $('#sell_content_alert').html('');
    });
    //热值高位必须为int型数字
    $('input[name=sell_heat_value_max]').blur(function(){
        var sell_heat_value_max = $(this).val().trim();
        if(!sell_heat_value_max.match(/^(-?\d+)(\.\d+)?$/) && sell_heat_value_max){
            $('#sell_content_alert').html('热值必须为数字');
        }
    });
    $('input[name=sell_heat_value_max]').focus(function(){
        if($('#sell_content_alert').html()){
            $(this).val('');
            $('#sell_content_alert').html('');
        }
    });
    //热值低位如果有值必须为int型数字
    $('input[name=sell_heat_value_min]').blur(function(){
        var sell_heat_value_min = $(this).val().trim();
        if(!sell_heat_value_min.match(/^(-?\d+)(\.\d+)?$/) && sell_heat_value_min){
            $('#sell_content_alert').html('热值必须为数字');
        }
    });
    $('input[name=sell_heat_value_min]').focus(function(){
        if($('#sell_content_alert').html()){
            $(this).val('');
            $('#sell_content_alert').html('');
        }
    });
    function sell_sub(){
        //联系电话验证
        var sell_phone = $('input[name=sell_phone]').val().trim();
        if(!sell_phone){
            $('#sell_phone_alert').html('联系电话不能为空');return;
        }else if(sell_phone.length != 11 || !sell_phone.match(/^(-?\d+)(\.\d+)?$/)){
            $('#sell_phone_alert').html('请输入正确的电话号码');return;
        }
        //判断content有无输入，content和煤炭信息不能同时为空
        var sell_content = $('textarea[name="sell_content"]').val().trim();
        var sell_coal_kind = $('input[name=option0_coal_kind]:checked').val();
        var sell_coal_trait = $('input[name=option0_coal_trait]:checked').val();
        var sell_coal_granularity = $('input[name=option0_coal_granlarity]:checked').val();
        if(!sell_content && !sell_coal_kind && !sell_coal_trait && !sell_coal_granularity){
            $('#sell_content_alert').html('详细描述与煤炭信息不能同时为空');return;
        }
        //ajax提交表单数据
        var subData=$("#form_sell").serialize();
//        console.log(subData);
//
        var url="{:U('OwnerPublish/coal_sell_action')}";
//        var url='{:U("OwnerPublish/coal_sell_action","","")}';
//        var url="{:U('coal_sell_action','','')}";
//        var url='coal_sell_action';
////        document.form_sell.action = url;
//        document.form_sell.submit();
        $.ajax({
            type:"post",
            url:url,
            data:subData,
            success:function(data){
                console.log(123);
//                var jsonObj=eval("("+data+")");
//                console.log(jsonObj.data);
                console.log(data);
            }
        });
    }
</script>
<!--求购表单提交输入及检测-->
<script>
    //获取焦点清空输入及错误信息
    $('input[name=buy_phone]').focus(function(){
        if($('#sell_content_alert').html()){
            $(this).val('');
            $('#sell_phone_alert').html('');
        }
    });
    $('textarea[name=buy_content]').focus(function(){
        $('#buy_content_alert').html('');
    });
    //热值低位如果有值必须为int型数字
    $('input[name=buy_heat_value_min]').blur(function(){
        var buy_heat_value_min = $(this).val().trim();
        if(!buy_heat_value_min.match(/^(-?\d+)(\.\d+)?$/) && sell_heat_value_min){
            $('#buy_content_alert').html('热值必须为数字');
        }
    });
    $('input[name=buy_heat_value_min]').focus(function(){
        if($('#buy_content_alert').html()){
            $(this).val('');
            $('#buy_content_alert').html('');
        }
    });
    function buy_sub(){
        //联系电话验证
        var buy_phone = $('input[name=buy_phone]').val().trim();
        if(!buy_phone){
            $('#buy_phone_alert').html('联系电话不能为空');return;
        }else if(buy_phone.length != 11 || !buy_phone.match(/^(-?\d+)(\.\d+)?$/)){
            $('#buy_phone_alert').html('请输入正确的电话号码');return;
        }
        //判断content有无输入，content和煤炭信息不能同时为空
        var buy_content = $('textarea[name="buy_content"]').val().trim();
        var buy_coal_kind = $('input[name=option3_coal_kind]:checked').val();
        var buy_coal_trait = $('input[name=option3_coal_trait]:checked').val();
        var buy_coal_granularity = $('input[name=option3_coal_granlarity]:checked').val();
        if(!buy_content && !buy_coal_kind && !buy_coal_trait && !buy_coal_granularity){
            $('#buy_content_alert').html('详细描述与煤炭信息不能同时为空');return;
        }
        //ajax提交表单数据
        var subData=$("#form_buy").serialize();
//        console.log(subData);
//
        var url="{:U('OwnerPublish/coal_buy_action')}";
//        var url='{:U("OwnerPublish/coal_sell_action","","")}';
//        var url="{:U('coal_sell_action','','')}";
//        var url='coal_sell_action';
////        document.form_sell.action = url;
//        document.form_sell.submit();
        $.ajax({
            type:"post",
            url:url,
            data:subData,
            success:function(data){
                console.log(123);
//                var jsonObj=eval("("+data+")");
//                console.log(jsonObj.data);
                console.log(data);
            }
        });
    }
</script>
</html>