body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #fbf9fe
}

.container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.container > div {
    background-color: #fbf9fe
}

.hd {
    padding: 2em 0
}

.page_title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%
}

.page_desc {
    text-align: center;
    color: #888;
    font-size: 14px
}

.bd.spacing {
    padding: 0 15px
}

.home {
    padding-bottom: 30px
}

.button .page_title {
    color: #225fba
}

.button .bd {
    padding: 0 15px
}

.button .button_sp_area {
    padding: 10px 0;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 0
}

.button .button_sp_area:after {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    content: "."
}

.cell .page_title {
    color: #225fba
}

.cell .bd {
    padding-bottom: 30px
}

.dialog .bd, .toast .bd {
    padding: 120px 15px 0
}

.msg {
    background-color: #fff
}

.panel .bd {
    padding-bottom: 20px
}

.article {
    background-color: #fff
}

.article .page_title {
    color: #de7c23
}

.icons {
    background-color: #fff;
    text-align: center
}

.icons .page_title {
    color: #3e24bd
}

.icons .bd {
    padding: 30px 0;
    text-align: center
}

.icons .icon_sp_area {
    padding: 10px 20px;
    text-align: left
}

.icons i {
    margin: 0 5px 10px
}

.tabbar {
    height: 100%
}

.search_show {
    display: none;
    margin-top: 0;
    font-size: 14px
}

.search_show .weui_cell_bd {
    padding: 2px 0 2px 20px;
    color: #666
}

.icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle
}

.icon_button {
    background: url(images/icon_nav_button.png) no-repeat;
    background-size: 28px 28px
}

.icon_cell {
    background: url(images/icon_nav_cell.png) no-repeat;
    background-size: 28px 28px
}

.icon_toast {
    background: url(images/icon_nav_toast.png) no-repeat;
    background-size: 28px 28px
}

.icon_dialog {
    background: url(images/icon_nav_dialog.png) no-repeat;
    background-size: 28px 28px
}

.icon_progress {
    background: url(images/icon_nav_progress.png) no-repeat;
    background-size: 28px 28px
}

.icon_msg {
    background: url(images/icon_nav_msg.png) no-repeat;
    background-size: 28px 28px
}

.icon_article {
    background: url(images/icon_nav_article.png) no-repeat;
    background-size: 28px 28px
}

.icon_actionSheet {
    background: url(images/icon_nav_actionSheet.png) no-repeat;
    background-size: 28px 28px
}

.icon_icons {
    background: url(images/icon_nav_icons.png) no-repeat;
    background-size: 28px 28px
}

.icon_panel {
    background: url(images/icon_nav_panel.png) no-repeat;
    background-size: 28px 28px
}

.icon_tab {
    background: url(images/icon_nav_tab.png) no-repeat;
    background-size: 28px 28px
}

.icon_search_bar {
    background: url(images/icon_nav_search_bar.png) no-repeat;
    background-size: 28px 28px
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.enter, .leave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1
}

.enter {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.leave {
    -webkit-animation: b .25s forwards;
    animation: b .25s forwards
}

/*IScroller*/
#wrapper {
    position: absolute;
    z-index: 1;
    top: 105px;
    bottom: 0;
    /*left: 0;*/
    width: 95%;
    /*height: auto;*/
    /*height: 100%;*/
    /*background: #fff;*/
    /*height: 480px;*/
    overflow: hidden;
}

#scroller {
    /*min-height:100.25%;*/
    /*top: 7%;*/
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

#pullDown,#pullUp {
    /*background: #fff;*/
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
    text-align: center;
    /*position: absolute;*/
    left: 0;
    width: 100%
}

/*#pullDown {*/
     /*top: -40px*/
 /*}*/

/*#pullUp {*/
    /*bottom: -40px*/
/*}*/

/*#pullDown .pullDownLabel, #pullUp .pullUpLabel{*/
    /*padding-left: 20px*/
/*}*/

/*#pullDown .pullDownIcon, #pullUp .pullUpIcon{*/
    /*display: inline-block;*/
    /*color: red;*/
    /*font-size: 1.4em;*/
    /*-webkit-transform: rotate(0deg);*/
    /*-webkit-transition-property: -webkit-transform;*/
    /*-webkit-transition-duration: 500ms*/
/*}*/

/*#pullDown .pullDownIcon.reverse_icon, #pullUp .pullUpIcon .reverse_icon{*/
    /*-webkit-transform: rotate(-180deg)*/
/*}*/


/*html,body{min-height:100%}*/



/*#pullDown, #pullUp {*/
    /*background:#fff;*/
    /*height:40px;*/
    /*line-height:40px;*/
    /*padding:5px 10px;*/
    /*border-bottom:1px solid #ccc;*/
    /*font-weight:bold;*/
    /*font-size:14px;*/
    /*color:#888;*/
/*}*/
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    background:url("../images/pull-icon@2x.png") 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

/*选中样式*/
.mybtn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.mybtn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.myactive{
    background-color: #04bfc6;
    color:white;
}

