<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>订单详情</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
</head>
<body>
<!--订单展示栏-->
<div id="msg_id" style="display: none">
    {$message['id']}
</div>
<div class="container">
    <div id="" class="tab-pane active" style="background-color: #efeff4">
        <ul id="thelist" class="" style="list-style-type: none">
            <li class="weui_panel weui_panel_access" style=";border-radius: 5px">
                <div class="weui_media_box weui_media_appmsg" style="margin: 0;padding-left: 0;padding-right: 0">
                    <a href="{:U('PersonalCenter/driver_data',array('uid'=>$user['uid']))}">
                        <div class="weui_media_hd">
                            <if condition="$user['heading_url']"><img
                                    src="{$user['heading_url']}" style="width: 50px" class="weui_media_appmsg_thumb">
                                <else/>
                                <img src="__PUBLIC__/home/images/headimg_background.png" style="width: 50px"
                                     class="weui_media_appmsg_thumb">
                            </if>
                        </div>
                    </a>

                    <div class="weui_media_bd">
                        <a href="{:U('PersonalCenter/driver_data',array('uid'=>$user['uid']))}">
                            <h4 class="weui_media_title">{$user['user_name']}<img
                                    src="__PUBLIC__/home/images/medal.png"
                                    style="width: 15px;height: 20px"></h4>
                        </a>

                        <p class="weui_media_desc">
                            货主
                        </p>
                    </div>
                    <div class="weui_media_bd text-center" style="">
                        <a href="tel:{$message['phone_number']}" class="">
                            <h4><img src="__PUBLIC__/home/images/phone.png" class="" style="width: 20px">
                                <span style="">拨打电话</span></h4>
                        </a>
                        <button class="btn btn-xs btn-info" style="background-color: #04bfc6;width: 70%"
                                onclick="collection_switch(this,{$message['id']})">撤销收藏
                        </button>
                    </div>
                </div>
                <div class="text-center">
                    <hr style="border-color: #04bfc6;width: 35%;display: inline-flex;float: left">
                    <span class="" style=";color: #737373;line-height: 3em">&nbsp订单详情&nbsp</span>
                    <hr style="border-color: #04bfc6;width: 35%;display: inline-flex;float:right">
                </div>
                <div class="text-center">
                    <img class="" src="__PUBLIC__/home/images/area_start.png"
                         style="width: 12px;height: 15px;">
                    {$area_start['name']}{$message['detail_area_start']} ——>
                    {$area_end['name']}{$message['detail_area_end']}
                    <img class="" src="__PUBLIC__/home/images/area_end.png"
                         style="width: 12px;height: 15px;">
                </div>
                <div>
                    <table class="table table-responsive" style=";margin-bottom: 0;border: none">
                        <tbody>
                        <tr>
                            <td style="border: none">
                                车辆数量:
                                <empty name="message['car_quantity']">
                                    空
                                    <else/>
                                    {$message['car_quantity']}
                                    <span style="">辆</span>
                                </empty>
                            </td>
                            <td style="border: none">
                                粒度:
                                <empty name="message['granularity']">
                                    空
                                    <else/>
                                    {$message['granularity']}
                                </empty>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none">
                                发煤量:
                                <empty name="message['quantity']">
                                    空
                                <else/>
                                    {$message['quantity']}
                                    <span style="">吨</span>
                                </empty>
                            </td>
                            <td style="border: none">
                                <!--装车时间:{$message['loading_time']|date="Y-m-d",###}-->
                                装车时间:
                                <empty name="message['loading_time']">
                                    空
                                    <else/>
                                    {$message['loading_time']}
                                </empty>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none">
                                运费:
                                <empty name="message['price']">
                                    空
                                    <else/>
                                    {$message['price']}
                                    <span style="">元/吨</span>
                                </empty>
                            </td>
                            <td style="border: none">
                                装车费用:
                                <empty name="message['loading_cost']">
                                    空
                                    <else/>
                                    {$message['loading_cost']}
                                    <span style="">元</span>
                                </empty>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none">
                                卸车费用:
                                <empty name="message['unloading_cost']">
                                    空
                                    <else/>
                                    {$message['unloading_cost']}
                                    <span style="">元</span>
                                </empty>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none" colspan="2">
                                <p style="color:grey">详细描述</p>
                                <div style="">
                                    <empty name="message['content']">
                                        空
                                        <else/>
                                        {$message['content']}
                                    </empty>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <span class="pull-right help-block" style="font-size: 12px">发布时间:{$message['publish_time']|date="Y-m-d",###}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    function collection_switch(obj, id) {
        var url = "{:U('Collection/del')}";
//        var msg_id = $('#msg_id').html().trim();
//        var msg_id = id;
        $.ajax({
            type: "post",
            url: url,
            data: {id: id},
            success: function (data) {
                if (data) {
                    $(obj).html('已撤销');
                    $(obj).addClass('disabled');
                    $(obj).prop('disabled', true);
                } else {
                }
            }
        });
    }
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: '分享标题', // 分享标题
            link: "{:U('DriverOrder/driver_order_detail')}", // 分享链接
            imgUrl: 'http://www.kuaimei56.com/copyright.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '分享标题', // 分享标题
            desc: '分享描述', // 分享描述
            link: "{:U('DriverOrder/driver_order_detail')}", // 分享链接
            imgUrl: 'http://www.kuaimei56.com/copyright.png', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>
</html>