<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>我的收藏</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/scroll-initial.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/common-v1030.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<body>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" style=";margin-bottom: 0;">
        <a href="#trade" data-toggle="tab" class="weui_navbar_item weui_bar_item_on"
           style="text-decoration: none;font-size: 1.2em">
            <span>交易收藏</span>
        </a>
        <a href="#transport" data-toggle="tab" class="weui_navbar_item"
           style="text-decoration: none;font-size: 1.2em">
            <span>运输收藏</span>
        </a>
    </div>
</div>

<div class="nav-menu">
    <div class="float-btn-group">
        <button class="btn-float btn-trigger pink">
            <!--<i class="icon-bars"></i>-->
            导航
        </button>
        <div class="btn-list" id="go">
            <a href="{:U('Homepage/homepage')}" id="bt3" class="btn-float green homepage">
                <span class="glyphicon glyphicon-home" style="font-size: 10px"></span>
                <!--<img src="__PUBLIC__/home/images/personal_center.png" style="width: 15px;height: 15px">-->
                首&emsp;&emsp;页
            </a>
            <a href="{:U('OwnerOrder/owner_order')}" id="bt1" class="btn-float yellow order">
                <img src="__PUBLIC__/home/images/my_favorite2.png" style="width: 15px;height: 15px">
                我的收藏
            </a>
            <a href="{:U('Feedback/feedback')}" id="bt2" class="btn-float blue feedback">
                <img src="__PUBLIC__/home/images/custom_service.png" style="width: 15px;height: 15px">
                客&emsp;&emsp;服
            </a>
        </div>
    </div>
</div>

<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category" id="select_category">
    <input type="hidden" name="page" id="page" value="1">
</form>

<!--订单展示栏-->
<div id="wrapper" style="top: 10px;margin-left: 2.5%">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content" style="">
            <ul id="trade" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="trade_li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
            <ul id="transport" class="tab-pane" style="margin-top: 40px;list-style-type: none">
                <volist name="transport_li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show')
    })
</script>

<!--载入读取上次标签-->
<script>
    $(function () {
        //返回操作 暂时为空

        if (cookie('search_tag') == 'transport') {
            //运输订单
            //避免为空或者false
            //标签选中
            $('#myTab a:eq(1)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        } else if (cookie('search_tag') == 'trade') {
            //交易订单
            $('#myTab a:eq(0)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        } else {
            cookie('search_tag', 'trade');
        }
        $('input[name=select_category]').val(cookie('search_tag'));
        console.log($('input[name=select_category]').val());
    });
</script>

<!--点击标签查询-->
<script>
    //点击运输订单标签
    $('#myTab a:eq(1)').click(function () {
        //存入所选标签入cookie
        cookie('search_tag', 'transport');
        $('input[name=select_category]').val(cookie('search_tag'));
        console.log($('input[name=select_category]').val());
        $('input[name=page]').val(1);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerOrder/owner_order')}";
        document.tag_search.submit();
    });

    //点击供应信息标签
    $('#myTab a:eq(0)').click(function () {
        //存入所选标签入cookie
        cookie('search_tag', 'trade');
        $('input[name=select_category]').val(cookie('search_tag'));
        $('input[name=page]').val(1);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerOrder/owner_order')}";
        document.tag_search.submit();
    })
</script>

<!--滚动功能-->
<script>
    //
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
        location.reload();
        myScroll.refresh();//数据加载完成后，调用界面更新方法  Remember to refresh when contents are loaded (ie: on ajax completion)
        ck_log("scroll","下滑-刷新");
//    },1000);  // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {

        setTimeout(function () {

            console.log('up');
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var select_category = cookie('search_tag');
            console.log(page);
            console.log(request_page);


            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('OwnerOrder/owner_order_more')}",
                data: {page: request_page, select_category: select_category},
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
                    var endAjax = jsonObj.EOA;
                    if(endAjax == 0) {
                        return false;
                    }
//                    return;
                    if (jsonObj.msg == 'success') {
                        page++;
                        $('#page').val(page);
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            console.log(cookie('search_tag'));
                            if (cookie('search_tag') == 'transport') {
                                document.getElementById('transport').appendChild(li);
                            }
                            else if (cookie('search_tag') == 'trade') {
                                document.getElementById('trade').appendChild(li);
                            }
                            else {
                            }
                        });
                    }
                    else {
                    }
                    myScroll.refresh();
                    ck_log("scroll","上滑-加载");
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
</script>
<!--撤销收藏-->
<script>
    function collection_switch(obj, id) {
        event.stopImmediatePropagation();
        var url;
        if ($(obj).html() == '撤销收藏') {
            url = "{:U('Collection/del')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('收藏');
                        ck_log("collect","撤销收藏-"+id);
                    } else {}
                }
            });
        }else if($(obj).html() == '收藏'){
            url = "{:U('Collection/add')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('撤销收藏');
                        ck_log("collect","收藏-"+id);
                    } else {
                    }
                }
            });
        }else{}
        return false;
    }
</script>
<!--地址返回操作-->
<script>
    function pushHistory() {
        var state = {
            title: "title",
            url: "#"
        };
        window.history.pushState(state, "title", "#");
//            alert('push');
    }
    $(function () {
        var bool = false;
        setTimeout(function () {
            bool = true;
        }, 1000);
        if (navigator.userAgent.indexOf('Android') > 0) {
            pushHistory();
            window.addEventListener("popstate", function (e) {
                if (true) {
                    var url = cookie('last_url_for_history');
                    if(url){
                        window.location.href = url;
                    }else{
                        window.location.href = "{:U('Homepage/homepage')}";
                    }
                } else {
                    return false;
                }
//                pushHistory();
            }, false);
        } else {
            pushHistory();
            window.addEventListener("popstate", function (e) {
                if (bool) {
                    var url = cookie('last_url_for_history');
                    if(url){
                        window.location.href = url;
                    }else{
                        window.location.href = "{:U('Homepage/homepage')}";
                    }
                } else {
                    return false;
                }
            }, false);
        }
    })
</script>
</html>