<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>我的收藏</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="bootstrap.min.css">-->
    <!--<link type="text/css" rel="stylesheet" href="weui.min.css">-->
    <!--<script type="text/javascript" src="jquery-2.2.4.min.js"></script>-->
    <!--<script type="text/javascript" src="bootstrap.min.js"></script>-->
</head>
<body>
<!--标题栏-->
<!--<div class="panel-heading text-center" style="background-color: #04bfc6;color:white;margin-bottom: 0;">-->
<!--&lt;!&ndash;<div class="container text-center" style="">&ndash;&gt;-->
<!--&lt;!&ndash;<div style="display: inline-block;height: 100%;vertical-align: middle"></div>&ndash;&gt;-->
<!--<span class="pull-left" style="">-->
<!--&lt;!&ndash;<a class="glyphicon glyphicon-chevron-left"></a>&ndash;&gt;-->
<!--<a href="#">-->
<!--<img src="__PUBLIC__/home/images/goback.png" class="img-responsive"-->
<!--style="width: 15px;height: auto;margin-top: 40%">-->
<!--</a>-->
<!--</span>-->
<!--<span class="">-->
<!--<span class="" style="font-size: 1.5em;">我的收藏</span>-->
<!--</span>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<!--清除浮动-->
<div class="clearfix"></div>

<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" style=";margin-bottom: 0;">
        <a href="#transport" data-toggle="tab" class="weui_navbar_item weui_bar_item_on"
           style="color: black;text-decoration: none;font-size: 1.2em">
            <span>运输订单</span>
        </a>
        <a href="#trade" data-toggle="tab" class="weui_navbar_item"
           style="color: black;text-decoration: none;font-size: 1.2em">
            <span>交易订单</span>
        </a>
    </div>
</div>

<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category" id="select_category">
    <input type="hidden" name="page" id="page" value="1">
</form>

<!--订单展示栏-->
<div id="wrapper" style="top: 10px;margin-left: 2.5%">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content" style="">
            <ul id="transport" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="transport_li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
            <ul id="trade" class="tab-pane" style="margin-top: 40px;list-style-type: none">
                <volist name="trade_li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>

</body>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show')
    })
</script>

<!--载入读取上次标签-->
<script>
    $(function () {
        $('input[name=select_category]').val(cookie('search_tag'));
        if (cookie('search_tag') == 'transport') {
            //运输订单
            //避免为空或者false
            //标签选中
            $('#myTab a:eq(0)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        } else if (cookie('search_tag') == 'trade') {
            //交易订单
            $('#myTab a:eq(1)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        } else {
            cookie('search_tag', 'transport');
        }
        console.log($('input[name=select_category]').val());
    });
</script>

<!--点击标签查询-->
<script>
    //点击运输订单标签
    $('#myTab a:eq(0)').click(function () {
        //存入所选标签入cookie
        cookie('search_tag', 'transport');
        $('input[name=select_category]').val(cookie('search_tag'));
        console.log($('input[name=select_category]').val());
        $('input[name=page]').val(1);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerOrder/owner_order')}";
        document.tag_search.submit();
    });

    //点击供应信息标签
    $('#myTab a:eq(1)').click(function () {
        //存入所选标签入cookie
        cookie('search_tag', 'trade');
        $('input[name=select_category]').val(cookie('search_tag'));
        $('input[name=page]').val(1);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerOrder/owner_order')}";
        document.tag_search.submit();
    })
</script>

<!--滚动功能-->
<script>
    var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset;
    var time_now, update_time;


    //
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        console.log('down');
        location.reload();
        myScroll.refresh();//数据加载完成后，调用界面更新方法  Remember to refresh when contents are loaded (ie: on ajax completion)
//    },1000);  // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {

        setTimeout(function () {

            console.log('up');
            var page = $('#page').val();
            var request_page = parseInt(page) + 1;
            var select_category = $('#select_category').val();
            console.log(page);
            console.log(request_page);

            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('OwnerOrder/owner_order_more')}",
                data: {page: request_page, select_category: select_category},
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
//                    return;
                    if (jsonObj.msg == 'success') {
                        page++;
                        $('#page').val(page);
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            console.log(cookie('search_tag'));
                            if (cookie('search_tag') == 'transport') {
                                document.getElementById('transport').appendChild(li);
                            }
                            else if (cookie('search_tag') == 'trade') {
                                document.getElementById('trade').appendChild(li);
                            }
                            else {
                            }
                        });
                    }
                    else {
                    }
                    myScroll.refresh();
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**
     * 初始化iScroll控件
     */
    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;
//        console.log(pullDownOffset);
//        console.log(pullUpOffset);
        setTimeout(function () {
            myScroll = new iScroll('wrapper', {
//        scrollbarClass: 'myScrollbar', /* 重要样式 */
                useTransition: true,
                topOffset: pullDownOffset,
//        probeType: 3,
//        mouseWheel: false,
                scrollbars: true,
//                vScrollbar:false,
//        disableMouse: false,
//        disablePointer: false,
                //点击事件
                click: false,
                taps: false,
//        tap: true,
                preventDefault: false,//（把这句加上去哦）
                preventDefaultException: {tagName: /^(INPUT|TEXTAREA|BUTTON|SELECT|A)$/},
                onRefresh: function () {
                    console.log('refresh');
                    if (pullDownEl.className.match('loading')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
//                pullDownEl.querySelector('.pullDownLabel').innerHTML = '数据更新时间：' + update_time+'下拉刷新';
                    } else if (pullUpEl.className.match('loading')) {
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                    document.getElementById("pullUp").style.display = "none";
                    time_now = new Date();
                    update_time = time_now.toLocaleString();
//            document.getElementById("show").innerHTML="onRefresh: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";

                },
                onScrollMove: function () {
//            document.getElementById("show").innerHTML="onScrollMove: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (this.y > 0) {
                        pullDownEl.className = 'flip';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                        this.minScrollY = 0;
                    }
                    if (this.y < 0 && pullDownEl.className.match('flip')) {
                        pullDownEl.className = '';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
                        this.minScrollY = -pullDownOffset;
                    }

                    if (this.scrollerH < this.wrapperH && this.y < (this.minScrollY - pullUpOffset) || this.scrollerH > this.wrapperH && this.y < (this.maxScrollY - pullUpOffset)) {
                        document.getElementById("pullUp").style.display = "";
                        pullUpEl.className = 'flip';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '松手开始更新...</br>' + '最后更新时间：' + update_time;
                    }
                    if (this.scrollerH < this.wrapperH && this.y > (this.minScrollY - pullUpOffset) && pullUpEl.className.match('flip') || this.scrollerH > this.wrapperH && this.y > (this.maxScrollY - pullUpOffset) && pullUpEl.className.match('flip')) {
                        document.getElementById("pullUp").style.display = "none";
                        pullUpEl.className = '';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
                    }
                },
                onScrollEnd: function () {
//            document.getElementById("show").innerHTML="onScrollEnd: up["+pullUpEl.className+"],down["+pullDownEl.className+"],Y["+this.y+"],maxScrollY["+this.maxScrollY+"],minScrollY["+this.minScrollY+"],scrollerH["+this.scrollerH+"],wrapperH["+this.wrapperH+"]";
                    if (pullDownEl.className.match('flip')) {
                        pullDownEl.className = 'loading';
                        pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                        pullDownAction(); // Execute custom function (ajax call?)
                    } else if (pullUpEl.className.match('flip')) {
                        pullUpEl.className = 'loading';
                        pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                        pullUpAction(); // Execute custom function (ajax call?)
                    }
                }
            });
            console.dir(myScroll.options);
        }, 100);
//    setTimeout(function(){
//        document.getElementById('wrapper').style.left = '0';
//    },800);

    }
    //初始化绑定iScroll控件
    document.addEventListener('touchmove', function (e) {
        e.preventDefault();
    }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
    //    window.onload = loaded();

</script>

</html>