<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>订单详情</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<body onload="onload()">
<include file="Common:common"/>
<!--订单展示栏-->
<div id="msg_id" style="display: none">
    {$message['id']}
</div>

<div class="container">
    <div class="tab-content" style="">
        <div id="transport" class="tab-pane active" style="background-color: #efeff4">
            <ul id="thelist" class="" style="list-style-type: none">
                <li class="weui_panel weui_panel_access" style=";border-radius: 5px">
                    <div class="weui_media_box weui_media_appmsg" style="margin: 0;padding-left: 0;padding-right: 0">
                        <div class="weui_media_hd">
                            <img src="__PUBLIC__/home/images/from_wx.png" class="weui_media_appmsg_thumb">
                        </div>
                        <div class="weui_media_bd">
                            <div>
                                <h4 class="weui_media_title">来自微信</h4>
                            </div>
                        </div>
                        <div class="weui_media_bd">
                            <a href="tel:{$message['phone_number']}"  onclick="ck_log('dial', {$message['phone_number']})" style='text-decoration: none;color: black'>
                                <h4><img src="__PUBLIC__/home/images/phone.png" style="width: 20px">
                                    <span>拨打电话</span></h4>
                            </a>
                        </div>
                    </div>
                    <div class="text-center">
                        <hr style="border-color: #04bfc6;width: 35%;display: inline-flex;float: left">
                        <span class="" style=";color: #737373;line-height: 3em">&nbsp订单详情&nbsp</span>
                        <hr style="border-color: #04bfc6;width: 35%;display: inline-flex;float:right">
                    </div>
                    <div>
                        {$message['content']}
                    </div>
                    <div class="pull-right help-block" style="font-size: 12px">
                        发布时间:{$message['update_time']|substr=0,10}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<script>
</script>
<script>
    // 使微信验证后还能跳回本界面
    function onload(){
        cookie("current_action","OwnerOrder/owner_order_trade_detail?id={$message['id']}");
    }
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        var role = "游客";
        if('{$user["role_id"]}'=='1'){
            role = "车主";
        }else{
            role = "货主";
        }
        var title_string = '{$message["content"]|mb_substr=0,20,"utf-8"}' + '...';

        wx.onMenuShareTimeline({

            title: '[{$message["category"]}]'+title_string, // 分享标题
            link: "http://www.xuncl.com/index.php/Home/OwnerOrder/owner_order_trade_detail?id={$message['id']}", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share",'分享{$message["category"]}消息{$message["id"]}至朋友圈');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share",'取消分享{$message["category"]}消息{$message["id"]}至朋友圈');
            }
        });

        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '来自{$user["user_name"]}('+role+')的{$message["category"]}消息', // 分享标题
//            title: '[{$message["category"]}]'+title_string, // 分享标题
            desc: '{$user["user_name"]}('+role+')在超级矿资源发布了最新消息，点击了解更多信息', // 分享描述
            link: "http://www.xuncl.com/index.php/Home/OwnerOrder/owner_order_trade_detail?id={$message['id']}", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share",'分享{$message["category"]}消息{$message["id"]}给好友');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share",'取消分享{$message["category"]}消息{$message["id"]}给好友');
            }
        });
    });
</script>
<script>
    $(function(){
        if(navigator.userAgent.indexOf('Android') > 0){

        }else{
            //返回操作
            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#"
                };
                window.history.pushState(state, "title", "#");
            }
            pushHistory();
            window.addEventListener("popstate", function (e) {
                window.location=document.referrer;
            },false);
        }
    })
</script>
</html>