<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
    <title>访问受限</title>
</head>
<body style=";background: url('__PUBLIC__/home/images/403.jpg') no-repeat;background-size: contain;">
    <div class="help-block text-center">
        <p style="font-size: 1.6em;font-family: 微软雅黑">您还不是会员,先去注册吧！</p>
        <p style="font-size: 1.4em"><span id="time_count"></span>秒后自动跳转，点击<a href="{:U('Login/register')}">前往注册</a></p>
        <a class="btn btn-default" href="{:U('feedback/feedback')}" style="margin-top: 5%;padding-left: 5%;padding-right: 5%;border-color: #04bfc6;color: #04bfc6">
            建 议 及 反 馈
        </a>
    </div>
    <!--<img src="__PUBLIC__/home/images/403.jpg" style="height: auto;width: 100%;">-->
    <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<script>
    var countNum = 10;
    window.onload = function(){

        timeCount();
        setTimeout(function(){
            window.location.href = '{:U("Login/register")}';
        },10000)
    };
    function timeCount(){
        if(countNum<0) return false;
        document.getElementById('time_count').innerText = countNum;
        countNum--;
        setTimeout(function(){
            timeCount();
        },1000)
    }
</script>
</html>