<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css"  rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
    <title>内部错误</title>
</head>
<body style="background-color: white">
<img src="__PUBLIC__/home/images/500.jpg" style="height: auto;width: 100%;">
<div class="help-block text-center">
    <p style="font-size: 2em;font-family: 微软雅黑"><b>500</b></p>
    <p style="font-size: 1.6em;font-family: 微软雅黑">服务器内部错误！</p>
    <a class="btn btn-default" href="{:U('Feedback/feedback')}" style="margin-top: 5%;padding-left: 5%;padding-right: 5%;border-color: #04bfc6;color: #04bfc6">
        建 议 及 反 馈
    </a>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
</html>