<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>煤价详情</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<style>
    td {
        /*width: 80px !important;*/
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f7f7f7
    }

    @-moz-keyframes myMove {
        0% {
            padding-right: 10px;
        }
        100% {
            padding-right: 30px;
        }
    }

    @-webkit-keyframes myMove {
        0% {
            padding-right: 10px;
        }
        100% {
            padding-right: 30px;
        }
    }

    @-o-keyframes myMove {
        0% {
            padding-right: 10px;
        }
        100% {
            padding-right: 30px;
        }
    }

    @keyframes myMove {
        0% {
            padding-right: 10px;
        }
        100% {
            padding-right: 30px;
        }
    }

    #down {
        /*text-align: center;*/
        height: 25px;
        -moz-animation: myMove 1s linear infinite alternate;
        -webkit-animation: myMove 1s linear infinite alternate;
        -o-animation: myMove 1s linear infinite alternate;
        animation: myMove 1s linear infinite alternate;
    }

</style>
<body style="background-color: #efeff4">
<span id="down" style="position: absolute;z-index: 2;right: 0;">
    <canvas id="downCanvas" width="25" height="25">你的浏览器不支持canvas，请下载更新版本的浏览器
    </canvas>
</span>
<script>
    function drawDown() {
        var c = document.getElementById("downCanvas"),
                cxt = c.getContext("2d");
        cxt.beginPath();
        cxt.moveTo(10, 2.5);
        cxt.lineTo(22.5, 12.5);
        cxt.lineTo(10, 22.5);
        cxt.lineWidth = 2.5;
        cxt.strokeStyle = "black";
        cxt.lineCap = 'round';
        cxt.lineJoin = "round";
        cxt.stroke();
        cxt.moveTo(2.5, 2.5);
        cxt.lineTo(15, 12.5);
        cxt.lineTo(2.5, 22.5);
        cxt.lineWidth = 2.5;
        cxt.strokeStyle = "black";
        cxt.lineCap = 'round';
        cxt.lineJoin = "round";
        cxt.stroke();
    }
    function clearCanvas() {
        var c = document.getElementById("downCanvas"),
                cxt = c.getContext("2d");
        cxt.clearRect(0, 0, c.width, c.height);
    }
</script>

<!--订单展示栏-->
<div class="tab-content">
    <volist name="message" id="data">
        <div class="weui_panel weui_panel_access" style=";border-radius: 5px">
            <div class="container">
                <div style="font-size: 1.2em;color:grey;background-color: white">{$data.refinery_name}</div>
                <div style="font-size: 1.5em;color:red;background-color: white">{$data.supply_company}</div>
                <a class="btn btn-default dial" href="tel:{$data.phone_number}"
                   style="border-color: #04bfc6;position: absolute;right: 5%;top: 5%;">
                    <img src="__PUBLIC__/home/images/phone.png" class="dial" style="width: 12px">
                    拨打电话
                </a>
            </div>
            <hr style="margin-top: 0;margin-bottom: 8px;color: #ddd"/>
            <div style="width: 97%;overflow: scroll;">
                <table class="table table-condensed table-striped" id="detail_table"
                       style="margin-bottom: 0;margin-left: 2.5%;table-layout: fixed">
                    <thead>
                    <tr>
                        <th class="text-center" style="border-bottom: 1px solid #ddd;width: 5em">类别</th>
                        <if condition="$data.area_name eq '山西'">
                            <th class="text-center" style="border-bottom: 1px solid #ddd;width: 5em">不含税价</th>
                            <th class="text-center" style="border-bottom: 1px solid #ddd;width: 5em">含税价</th>
                            <else/>
                            <th class="text-center" style="border-bottom: 1px solid #ddd;width: 5em">一票价</th>
                            <th class="text-center" style="border-bottom: 1px solid #ddd;width: 5em">二票价</th>
                        </if>
                        <volist name="data['content'][0]['detailed_index']" id="val">
                            <empty name="val.index_name">
                                <else/>
                                <th class="text-center" style="border-bottom: 1px solid #ddd;width: 5em">
                                    {$val.index_name}
                                </th>
                            </empty>
                        </volist>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data['content']" id="vo">
                        <empty name="vo['kind_name']">
                            <else/>
                            <tr>
                                <td class="text-center" style="border: none;">{$vo.kind_name}</td>
                                <td class="text-center" style="border: none;">
                                    <if condition="$vo.price eq -1">
                                        无货
                                        <elseif condition="$vo.price eq -2"/>
                                        停产
                                        <elseif condition="$vo.price eq '0'"/>
                                        &mdash;
                                        <else/>
                                        {$vo.price}
                                    </if>
                                </td>
                                <td class="text-center" style="border: none;">
                                    <empty name="vo.tax">
                                        &mdash;
                                        <else/>
                                        {$vo.tax}
                                    </empty>
                                </td>
                                <volist name="vo['detailed_index']" id="val">
                                    <empty name="val.index_name">
                                        <else/>
                                        <td class="text-center" style="border: none;">
                                            <empty name="val.index_value">
                                                &mdash;
                                                <else/>
                                                {$val.index_value}
                                            </empty>
                                        </td>
                                    </empty>
                                </volist>
                            </tr>
                        </empty>
                    </volist>
                    </tbody>
                </table>
            </div>
            <span class="pull-right help-block" style="font-size: 12px">发布时间:{$data['update_time']|substr=0,10}</span>
        </div>
    </volist>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>
<!--载入时定位箭头-->
<script>
    $(function () {
        var pageWidth = document.body.clientWidth;
//        var tableWidth = $('#detail_table').width();
        var tableWidth = document.getElementById('detail_table').scrollWidth;
        if (tableWidth / pageWidth > 1) {
            drawDown();
            var arrowOffsetTop = 67 + ($('table').height() / 2);
            $('#down').css('top', arrowOffsetTop + 'px');
        }
//        $('.help-block').html('发布时间:' + new Date().toLocaleDateString());
    });


    $('#detail_table').bind('touchmove', function (e) {
        if ($(this).offset().left < 0) {
            clearCanvas();
        }
//        console.log(e.target.offsetLeft);
////        console.log(e.pageX);
////        console.log(e.clientX);
//        var cw = $(document).width();
////        console.log(document.body.clientWidth);
//        console.log(cw);
//        if(e.target.offsetLeft > cw){
//            clearCanvas();
//        }
    });

</script>
<!--微信分享-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'onMenuShareTimeline', 'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        // 分享到朋友圈
        wx.onMenuShareTimeline({
            title: '【{$message[0]["refinery_name"]}】煤矿厂的详细指标', // 分享标题
            link: "http://www.xuncl.com/index.php/Home/CoalPriceSearch/coal_price_detail?message_id={$message[0]['message_id']}", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享{$message[0]["refinery_name"]}消息至朋友圈');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享{$message[0]["refinery_name"]}消息至朋友圈');
            }
        });
        //分享给朋友
        wx.onMenuShareAppMessage({
            title: '【{$message[0]["refinery_name"]}】煤矿厂的详细指标', // 分享标题
            desc: '【{$message[0]["supply_company"]}】公司在超级矿资源发布了【{$message[0]["refinery_name"]}】煤矿厂的详细指标，点击查看详情', // 分享描述
            link: "http://www.xuncl.com/index.php/Home/CoalPriceSearch/coal_price_detail?message_id={$message[0]['message_id']}", // 分享链接
            imgUrl: 'http://www.xuncl.com/cjkzy_icon.png', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                ck_log("share", '分享{$message[0]["refinery"]}消息给好友');
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                ck_log("share", '取消分享{$message[0]["refinery"]}消息给好友');
            }
        });
    });
</script>
<!--日志记录-->
<script>
    $('.dial').on('click', function () {
        var temp = $(this).attr('href');
        var phone_number = temp.match(/tel:(\d*)/)[1];
        console.log(phone_number);
        ck_log('dial', phone_number);
    });
</script>
</html>