<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>煤矿选择</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss.css"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<style>
    .refinery_name{
        cursor:pointer
    }
    .refinery_name:active{
        background-color: #eaeaea;
    }
</style>
<include file="Common:common"/>
<body id="aaaa" style="background-color: #efeff4">
<form name="call_back" id="call_back">
    <input type="hidden" name="select_category">
    <input type="hidden" name="refinery_name">
</form>
<!--搜索框-->
<div class="bd">
    <div class="weui_search_bar" id="search_bar">
        <form class="weui_search_outer">
            <div class="weui_search_inner">
                <i class="weui_icon_search"></i>
                <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
            </div>
            <label for="search_input" class="weui_search_text" id="search_text">
                <i class="weui_icon_search"></i>
                <span>搜索(输入煤矿名称,例如:海湾煤矿)</span>
            </label>
        </form>
        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>
    <div class="weui_cells weui_cells_access search_show" id="search_show">
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search0" class="refinery_name" style="margin-bottom: 0"></p>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search1" class="refinery_name" style="margin-bottom: 0"></p>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search2" class="refinery_name" style="margin-bottom: 0"></p>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search3" class="refinery_name" style="margin-bottom: 0"></p>
                </div>
            </div>
        </a>
        <a href="javascript:void(0)" name="real_time_area" style="text-decoration: none;color:black;">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p id="search4" class="refinery_name" style="margin-bottom: 0"></p>
                </div>
            </div>
        </a>
    </div>
</div>
<div id="last_search">
    &emsp;最近搜索<br/>
</div>
<div class="" style="background-color: white;padding: 0;">
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">全部</button>
    <!--<button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">榆林</button>-->
    <button class="btn pull-left area_name" style="padding: 6px 0;;margin:1% 2.5%;width: 20%">鄂尔多斯</button>
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">山西</button>
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">神木</button>
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">榆阳</button>
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">府谷</button>
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">横山</button>
    <button class="btn pull-left area_name" style="margin:1% 2.5%;width: 20%">其他</button>
    <table class="table table-bordered text-center" style="table-layout: fixed;vertical-align: middle">
        <tbody id="show_refinery">
        </tbody>
    </table>
    <div class="pull-right" style=";bottom:0;right: 0;">
        <a href="{:U('Feedback/feedback')}" style="text-decoration: underline !important;">
            煤矿不全,煤价不准,或其他问题请点击这里哦
        </a>
    </div>
</div>

<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>


<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>

<!--页面载入-->
<script>
    $(function () {
        if (cookie('last_refinery')) {
            var temp_last_refinery = cookie('last_refinery').split(',');
            temp_last_refinery.forEach(function (v, k) {
                var span = document.createElement('span');
//                span.innerHTML = "<span class='refinery_name' style='width: 25%;margin: 1% 2.5%'>"+v+"</span>";
                span.innerHTML = v;
                span.style.cssText = "width: 20%;margin: 0 2.5%;padding:0;font-size:12px";
                span.setAttribute('class', 'btn btn-sm refinery_name');
                document.getElementById('last_search').appendChild(span);
            });
        } else {
        }
    })
</script>

<!--地址按钮选择样式及点选出现矿名-->
<script>
    $('.area_name').click(function () {
        $(this).addClass('myactive');
        $(this).siblings('button').removeClass('myactive');
        var area_name = $(this).html().trim();
        //日志记录
        ck_log('click', '地区名:' + area_name);
        $.ajax({
            type: "post",
            url: "{:U('CoalPriceSearch/area_search')}",
            data: {area_name: area_name},
            beforeSend:function(){
                $('#loadingToast').show();
            },
            success: function (data) {
                var insert_node = $('#show_refinery');
//                var a = insert_node.html();
                insert_node.html('');
                var jsonObj = eval("(" + data + ")");
                console.log(jsonObj);
                var temp_string = "<tr>";
                var col_count = 0;
                $.each(jsonObj.refinery_name, function (k, val) {
                    temp_string += "<td class='refinery_name' style='vertical-align: middle'>" + val + "</td>";
                    col_count++;
                    if (col_count == 4) {
                        temp_string += "</tr><tr>";
                        col_count = 0;
                    } else {
                    }
                });
                while ((4 - col_count) > 0 && col_count != 0) {
                    temp_string += "<td></td>";
                    col_count++;
                }
                temp_string += "</tr>";
//                a += temp_string;
                insert_node.html(temp_string);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            },
            complete: function() {
                $('#loadingToast').hide();
            }
        });
    });
</script>

<!--搜索框功能-->
<script>
    $(function () {
        var $searchBar = $('#search_bar'),
                $searchText = $('#search_text'),
                $searchInput = $('#search_input'),
                $searchShow = $('#search_show'),
                $searchClear = $('#search_clear'),
                $searchCancel = $('#search_cancel');

        function hideSearchResult() {
            $searchInput.val('');
        }

        function cancelSearch() {
            hideSearchResult();
            $searchBar.removeClass('weui_search_focusing');
            $searchText.show();
            $searchShow.hide();
        }

        $searchText.on('click', function () {
            //日志记录
            ck_log('click', '开始搜索');
            $searchBar.addClass('weui_search_focusing');
            $searchInput.focus();
        });
        $searchInput
                .on('blur', function () {
                    if (!this.value.length) cancelSearch();
                })
                .on('input', function (event) {
                    var $searchShow = $("#search_show");
                    if ($(this).val()) {
//            console.log($(this).val());
                        var url = "{:U('CoalPriceSearch/ajax_refinery_search')}";
                        var querystring = $(this).val();
            //console.log(querystring);
                        for (var i = 0; i < 5; i++) {
                            $('#search' + i).html('');
                            $('#search' + i + '_id').html('');
                        }
                        $.ajax({
                            type: 'post',
                            url: url,
                            data: {refinery_name: querystring},
                            dataType: 'json',
                            success: function (data) {
//                console. eval("("+data+")");
                                console.log(data);
                                jQuery.each(data, function (k, val) {
                                    $('#search' + k).html(val.refinery_name);
                                });
                            }
                        });
                        $searchShow.show();
                    } else {
                        $searchShow.hide();
                    }
                });
        $searchClear.on('click', function () {
            //日志记录
            ck_log('click', '清空搜索');
            hideSearchResult();
            $searchInput.focus();
        });
        $searchCancel.on('click', function () {
            //日志记录
            ck_log('click', '取消搜索');
            cancelSearch();
            $searchInput.blur();
        });
    });
</script>

<!--点击矿名跳转-->
<script>
    $('body').on("click", ".refinery_name", function () {
        var refinery_name = $(this).html().trim();
        //日志记录
        ck_log('click', '矿名:' + refinery_name);
        //存入历史cookie
        //cookie('refinery_name',refinery_name);
        if (cookie('last_refinery')) {
            var temp_last_refinery = cookie('last_refinery');
            console.log(1, temp_last_refinery);
            var temp_last_refinery_array = temp_last_refinery.split(',');
            console.log('oldarray', temp_last_refinery_array);
            var old_refinery_name_index = temp_last_refinery_array.indexOf(refinery_name);
            console.log('index', old_refinery_name_index);
            if (old_refinery_name_index >= 0) {
                console.log(11);
                temp_last_refinery_array.splice(old_refinery_name_index, 1);
                console.log('del', temp_last_refinery_array);
            } else {
                console.log(22)
            }
            temp_last_refinery_array.splice(0, 0, refinery_name);
            console.log('add', temp_last_refinery_array);
            var new_last_refinery_array = temp_last_refinery_array.slice(0, 8);
            console.log('length8', new_last_refinery_array);
            var new_last_refinery_name = new_last_refinery_array.join(',');
            console.log('newstring', new_last_refinery_name);
            cookie('last_refinery', new_last_refinery_name);
            console.log('last', cookie('last_refinery'));
        } else {
            cookie('last_refinery', refinery_name);
        }
        //更新页面cookie
        var json_obj, source_cookie, source_cookie_obj, source_cookie_name;
        if (cookie('source')) {
            json_obj = JSON.parse(cookie('source'));
            source_cookie = json_obj.value;
            source_cookie_obj = JSON.parse(source_cookie);
            source_cookie_name = json_obj.name;
            jQuery.each(source_cookie_obj, function (k, val) {
                if (val.name == 'select_category') {
                    $('input[name=select_category]').val(val.value);
                }
                if (val.name == 'refinery_name') {
                    val.value = refinery_name;
                    $('input[name=refinery_name]').val(val.value);
                }
            });
            cookie(source_cookie_name, JSON.stringify(source_cookie_obj));
        } else {
        }
//        return false;
        //填写表单
        $('input[name=refinery_name]').val(refinery_name);
        $('input[name=select_category]').val('search');
        //地址跳转
        document.call_back.method = "post";
        document.call_back.action = "{:U('CoalPriceSearch/coal_price_search')}";
        document.call_back.submit();
    });
</script>
</html>