<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>我的发布</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/mycss-v1107.css?v=1"/>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/iscroll4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/scroll-initial.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/common-v1030.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/ck_log.js"></script>
</head>
<style>
    @-moz-keyframes myMove {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes myMove {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-o-keyframes myMove {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes myMove {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .detail_click {
        /*text-align: center;*/
        height: 25px;
        display: none;
        -moz-animation: myMove 1.5s linear infinite alternate;
        -webkit-animation: myMove 1.5s linear infinite alternate;
        -o-animation: myMove 1.5s linear infinite alternate;
        animation: myMove 1.5s linear infinite alternate;
    }
</style>
<body>
<include file="Common:common"/>
<!--导航标签-->
<div class="panel-title" style="margin:0;padding: 0;background-color: white">
    <div id="myTab" class="weui_navbar" style=";margin-bottom: 0;">
        <a href="#trade" data-toggle="tab" class="weui_navbar_item weui_bar_item_on"
           style="text-decoration: none;font-size: 1.2em">
            <span>交易订单</span>
        </a>
        <a href="#transport" data-toggle="tab" class="weui_navbar_item"
           style="text-decoration: none;font-size: 1.2em">
            <span>运输订单</span>
        </a>
    </div>
</div>
<div class="nav-menu">
    <div class="float-btn-group">
        <button class="btn-float btn-trigger pink">
            <!--<i class="icon-bars"></i>-->
            导航
        </button>
        <div class="btn-list" id="go">
            <a href="{:U('Homepage/homepage')}" id="bt3" class="btn-float green homepage">
                <span class="glyphicon glyphicon-home" style="font-size: 10px"></span>
                <!--<img src="__PUBLIC__/home/images/personal_center.png" style="width: 15px;height: 15px">-->
                首&emsp;&emsp;页
            </a>
            <a href="{:U('OwnerOrder/owner_order')}" id="bt1" class="btn-float yellow order">
                <img src="__PUBLIC__/home/images/my_favorite2.png" style="width: 15px;height: 15px">
                我的收藏
            </a>
            <a href="{:U('Feedback/feedback')}" id="bt2" class="btn-float blue feedback">
                <img src="__PUBLIC__/home/images/custom_service.png" style="width: 15px;height: 15px">
                客&emsp;&emsp;服
            </a>
        </div>
    </div>
</div>
<!--标签隐藏表单提交-->
<form name="tag_search" id="tag_search">
    <input type="hidden" name="select_category" id="select_category">
    <input type="hidden" name="page" id="page" value="1">
</form>

<!--订单展示栏-->
<div class="detail_click" style="position: absolute;z-index: 9;top: 152px;">
    <img src="__PUBLIC__/home/images/publish_history_detail_guide.png" width="30px">
</div>
<div id="wrapper" style="top: 10px;margin-left: 2.5%">
    <div id="scroller">
        <div id="pullDown">
            <span class="pullDownIcon"></span>
            <span class="pullDownLabel" style="margin-left: -48px">下拉刷新...</span>
        </div>
        <div class="tab-content" style="">
            <ul id="trade" class="tab-pane active" style="margin-top: 40px;list-style-type: none">
                <volist name="trade_li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
            <ul id="transport" class="tab-pane" style="margin-top: 40px;list-style-type: none">
                <volist name="transport_li_array" id="vo">
                    {$vo}
                </volist>
            </ul>
        </div>
        <div id="pullUp">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel" style="margin-left: -48px">上拉加载更多...</span>
        </div>
    </div>
</div>

<!--删除模态框-->
<div class="modal fade" id="delete_succsee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2" style="color:grey">小提示</h4>
            </div>
            <div class="modal-body">
                <span style="color:black">该操作会彻底删除您的信息，确定删除该信息吗？</span>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" onclick="delete_message()" type="button" class="btn btn-primary"
                   style="background-color: #04bfc6">
                    确定
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261341628).'" width="0" height="0"/>';?>
</body>

<!--导航功能-->
<script>
    $('#myTab a').click(function (e) {
//            e.preventDefault();
        $(this).siblings('a').removeClass('weui_bar_item_on');
        $(this).addClass('weui_bar_item_on');
        $(this).tab('show')
    })
</script>

<!--载入读取上次标签-->
<script>
    $(function () {
        if (cookie('search_tag') == 'transport') {
            //运输订单
            $('#myTab a:eq(1)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        } else if (cookie('search_tag') == 'trade') {
            //交易订单
            $('#myTab a:eq(0)').addClass('weui_bar_item_on').tab('show').siblings('a').removeClass('weui_bar_item_on');
        } else {
            cookie('search_tag', 'trade');
        }
        $('input[name=select_category]').val(cookie('search_tag'));
    });
</script>

<!--点击标签查询-->
<script>
    //点击运输订单标签
    $('#myTab a:eq(1)').click(function () {
        ck_log("click","点击运输订单标签");
        //存入所选标签入cookie
        cookie('search_tag', 'transport');
        $('input[name=select_category]').val(cookie('search_tag'));
        console.log($('input[name=select_category]').val());
        $('input[name=page]').val(1);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerPublishHistory/owner_publish_history')}";
        document.tag_search.submit();
    });

    //点击交易订单标签
    $('#myTab a:eq(0)').click(function () {
        ck_log("click","点击交易订单标签");
        //存入所选标签入cookie
        cookie('search_tag', 'trade');
        $('input[name=select_category]').val(cookie('search_tag'));
        $('input[name=page]').val(1);
        //提交表单
        document.tag_search.method = 'post';
        document.tag_search.action = "{:U('OwnerPublishHistory/owner_publish_history')}";
        document.tag_search.submit();
    })
</script>

<!--滚动功能-->
<script>
    /**下拉刷新 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullDownAction() {
        ck_log("scroll","下滑-刷新");
        location.reload();
        myScroll.refresh();//数据加载完成后，调用界面更新方法  Remember to refresh when contents are loaded (ie: on ajax completion)
//    },1000);  // <-- Simulate network congestion, remove setTimeout from production!
    }
    /**滚动翻页 （自定义实现此方法）
     *myScroll.refresh(); // 数据加载完成后，调用界面更新方法
     */
    function pullUpAction() {
        ck_log("scroll","上滑-加载");
        var page = $('#page').val();
        var request_page = parseInt(page) + 1;
        var select_category = cookie('search_tag');
        setTimeout(function () {
            //==========================================
            $.ajax({
                type: "post",
                url: "{:U('OwnerPublishHistory/owner_publish_history_more')}",
                data: {page: request_page, select_category: select_category},
                success: function (data) {
                    console.log('success');
                    var jsonObj = eval("(" + data + ")");
                    console.log(jsonObj);
                    var endAjax = jsonObj.EOA;
                    if(endAjax == 0) {
                        return false;
                    }
//                    return;
                    if (jsonObj.msg == 'success') {
                        page++;
                        $('#page').val(page);
                        $('.time-limit').toggle();
                        jQuery.each(jsonObj.li_array, function (k, val) {
                            var li = document.createElement('li');
                            li.innerHTML = val;
                            console.log(cookie('search_tag'));
                            if (cookie('search_tag') == 'transport') {
                                document.getElementById('transport').appendChild(li);
                            }
                            else if (cookie('search_tag') == 'trade') {
                                document.getElementById('trade').appendChild(li);
                            }
                            else {
                            }
                        });
                        $('.time-limit').toggle();
                    }
                    else {
                    }
                    myScroll.refresh();
                }
            });
            //============================================
            myScroll.refresh(); // 数据加载完成后，调用界面更新方法 Remember to refresh when contents are loaded (ie: on ajax completion)
        }, 1000); // <-- Simulate network congestion, remove setTimeout from production!
    }
</script>
<!--撤销收藏-->
<script>
    function collection_switch(obj, id) {
        event.stopImmediatePropagation();
        var url;
        if ($(obj).html() == '撤销收藏') {
            url = "{:U('Collection/del')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('收藏');
                    } else {}
                }
            });
        }else if($(obj).html() == '收藏'){
            url = "{:U('Collection/add')}";
            $.ajax({
                type: "post",
                url: url,
                data: {id: id},
                success: function (data) {
                    if (data) {
                        $(obj).html('撤销收藏');
                    } else {
                    }
                }
            });
        }else{}
        return false;
    }
</script>
<!--过期续时功能-->
<script>
    $(function(){
        $('.time-limit').toggle();
    });
    function overdue(obj,id){
        console.log(id);
        var img = $(obj).parent('div').prev('li').children('div').eq(0).children('img');
        var img_src_overdue;
        if(img.attr('src').match('overdue')){
            img_src_overdue = img.attr('src');
            $(obj).addClass('disabled');
        }else{
            img_src_overdue = img.attr('src').replace('.png','_overdue.png');
            $(obj).addClass('disabled');
        }
        $.ajax({
            type: "post",
            url: "{:U('OwnerPublish/overdue')}",
            data: {id:id},
            success: function (data) {
                console.log(data);
//                showToast('下架成功');
                if(data){
//                    img_src.attr('src','__PUBLIC__/home/images/sell_overdue.png');
                    img.attr('src',img_src_overdue);
                    var invalid_img = '<img width="80px" style="opacity:0.5">';
                    $(obj).parent('div').prev('li').children('div').eq(1).html(invalid_img);
                    $(obj).parent('div').prev('li').children('div').eq(1).children('img').attr('src','__PUBLIC__/home/images/invalid.png');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    function refill(obj,id){
        console.log(id);
        $(obj).next().removeClass('disabled');
        var img = $(obj).parent('div').prev('li').children('div').eq(0).children('img');
        var img_src_refill;
        if(img.attr('src').match('overdue')){
            img_src_refill = img.attr('src').replace('_overdue.png','.png');
        }else{
            img_src_refill = img.attr('src');
        }
        $.ajax({
            type: "post",
            url: "{:U('OwnerPublish/refill')}",
            data: {id:id},
            success: function (data) {
                console.log(data);
//                showToast('续时成功');
                if(data){
//                    $(obj).parent('div').prev('li').children('div').eq(0).children('img').attr('src','__PUBLIC__/home/images/sell.png');
                    img.attr('src',img_src_refill);
                    var invalid_img = '<img width="80px" style="opacity:0.5">';
                    $(obj).parent('div').prev('li').children('div').eq(1).html('');
//                    $(obj).parent('div').prev('li').children('div').eq(1).children('img').attr('src','');
                }
                ck_log('refill','一键重发');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }
    //设置一个全局id用来存放msg_id
    var global_msg_id;
    function delete_modal(obj,id){
        global_msg_id = id;
        $('#delete_succsee').modal();
    }

    function delete_message(){
        var id = global_msg_id;
        var url="{:U('OwnerOrder/del_message')}";
        $.ajax({
            type: "post",
            url: url,
            data: {id: id},
            success: function (data) {
                if (data) {
                    $('#delete_succsee').modal('hide');
                    showToast('删除成功');
                    setTimeout(function(){
                        window.location.href = "{:U('OwnerPublishHistory/owner_publish_history')}";
                    },1000);
                } else {
                }
            }
        });
        return false;
    }

</script>
<!--指引用户点击详情-->
<script>
    $(function(){
        var device_width = $(window).width();
//        $('.detail_click').css('left',device_width/2-10).show();
        if(cookie('detail_click')){
            $('.detail_click').css('left',device_width/2-10).show();
        }else{
        }
        cookie('detail_click',null);
    });
    //点击或滑动隐藏提示图片，滑动写在onScrollMove里了
    $('body').click(function (e) {
        $('.detail_click').hide();
    });
</script>
</html>